Repository faker-js/faker, pull requests merged in 2022-08, with the labels that each got.

#1163 chore: rename Gender to Sex
  src/index.ts
  src/modules/name/index.ts
  test/__snapshots__/name.spec.ts.snap
  test/name.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: name

#1171 fix(finance.bic): remove hardcoded elements and simplify function
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: finance

#1217 feat(dev): add male_first_name,female_first_name, jp locale
  src/locales/ja/name/female_first_name.ts
  src/locales/ja/name/index.ts
  src/locales/ja/name/male_first_name.ts
Labels: p: 1-normal, c: locale, m: name

#1205 chore(bug-report-template): new design
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: p: 1-normal, s: accepted, c: infra

#1133 feat(system.networkInterface): add networkInterface faker
  src/modules/system/index.ts
  test/__snapshots__/system.spec.ts.snap
  test/system.spec.ts
Labels: c: feature, p: 1-normal, m: system

#1224 docs: fixed inconsitency in @see usage in jsdoc
  CONTRIBUTING.md
  src/definitions/finance.ts
  src/definitions/hacker.ts
  src/definitions/phone_number.ts
  src/modules/address/index.ts
  src/modules/company/index.ts
  src/modules/image/providers/unsplash.ts
  src/modules/phone/index.ts
Labels: c: docs

#1231 test: validate @see contents
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: c: docs, p: 1-normal, c: test, s: needs decision, c: infra

#1230 ci: allow all commit keywords in PR titles and add locale keyword
  .github/semantic.yml
  .github/workflows/semantic-pull-request.yml
  scripts/verifyCommit.ts
Labels: p: 1-normal, c: infra

#1226 locale(pl): add extra colors and sort lines
  src/locales/pl/color/human.ts
Labels: p: 1-normal, s: accepted, c: locale, m: color

#1234 chore(address): remove obsolete TODO
  src/modules/address/index.ts
Labels: c: chore, p: 1-normal, s: accepted, m: address

#281 locale(en): remove word examples that contain spaces
  src/locales/en/word/conjunction.ts
  src/locales/en/word/interjection.ts
  src/locales/en/word/noun.ts
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
Labels: p: 1-normal, s: needs decision, c: locale, m: word

#993 docs: use vitepress v1
  docs/.vitepress/config.ts
  docs/about/team.md
  docs/about/team/TeamMember.ts
  docs/about/team/TeamMember.vue
  docs/about/team/TeamPage.vue
  docs/about/team/members.json
  docs/guide/migration-guide-v5.md
  docs/index.md
  package.json
  pnpm-lock.yaml
  scripts/apidoc.ts
  scripts/apidoc/signature.ts
  test/scripts/apidoc/signature.expected.json
  test/scripts/apidoc/signature.spec.ts
Labels: c: docs, p: 1-normal, s: accepted

#1186 feat(image): add image via.placeholder provider
  src/modules/image/index.ts
  src/modules/image/providers/placeholder.ts
  test/image.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: image

#1243 chore(release): 7.4.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#1247 docs: improve getting started
  docs/guide/index.md
Labels: c: docs, p: 1-normal, s: accepted

#1249 docs: fix browser usage
  docs/guide/index.md
Labels: c: docs

#1238 feat: `datatype.hexadecimal` signature change
  src/modules/color/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/finance/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/datatype.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: datatype

#1255 ci: allow breaking change commits
  scripts/verifyCommit.ts
Labels: p: 1-normal, s: accepted, c: infra

#1246 docs: add migration guide from v6 to v7
  docs/.vitepress/config.ts
  docs/guide/migration-guide-v6.md
Labels: c: docs, p: 1-normal, s: accepted

#1261 docs: remove unused playground
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/Badge.vue
  docs/.vitepress/theme/components/Playground.vue
  docs/.vitepress/theme/components/index.ts
  docs/.vitepress/theme/components/vue.d.ts
  docs/.vitepress/theme/index.ts
  docs/playground/index.md
Labels: c: docs, p: 2-high, s: accepted

#1269 docs(commerce): add missing `@see`
  src/modules/commerce/index.ts
Labels: c: docs, p: 1-normal, m: commerce

#1268 docs: fix typo in fake examples
  src/modules/fake/index.ts
  src/modules/helpers/index.ts
Labels: c: docs, p: 1-normal, m: helpers

#1265 docs: rewrite api pages to have a right aside toc
  docs/.vitepress/components/api-docs/method.vue
  docs/api/.gitignore
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/directMethods.ts
  scripts/apidoc/moduleMethods.ts
Labels: c: docs

#1271 refactor(git): reduce code duplication and follow code style
  src/modules/git/index.ts
  test/__snapshots__/git.spec.ts.snap
Labels: c: chore, p: 1-normal, m: git

#1257 feat(locale): extend Hebrew (he)
  src/locales/he/address/building_number.ts
  src/locales/he/address/city.ts
  src/locales/he/address/city_name.ts
  src/locales/he/address/city_prefix.ts
  src/locales/he/address/city_suffix.ts
  src/locales/he/address/country.ts
  src/locales/he/address/default_country.ts
  src/locales/he/address/direction_abbr.ts
  src/locales/he/address/index.ts
  src/locales/he/address/state.ts
  src/locales/he/address/street.ts
  src/locales/he/address/street_address.ts
  src/locales/he/address/street_name.ts
  src/locales/he/address/street_prefix.ts
  src/locales/he/address/street_suffix.ts
  src/locales/he/cell_phone/formats.ts
  src/locales/he/color/human.ts
  src/locales/he/music/genre.ts
  src/locales/he/name/gender.ts
  src/locales/he/name/index.ts
  src/locales/he/name/last_name.ts
  src/locales/he/name/male_first_name.ts
  src/locales/he/name/name.ts
  src/locales/he/name/prefix.ts
  src/locales/he/name/suffix.ts
  src/locales/he/phone_number/formats.ts
Labels: p: 1-normal, s: accepted, c: locale

#1264 ci: verify semantic pull requests
  .github/pull_request_template.md
  .github/workflows/semantic-pull-request.yml
  CONTRIBUTING.md
  scripts/verifyCommit.ts
Labels: p: 1-normal, s: accepted, c: infra

#1276 docs: update vitepress
  docs/.vitepress/config.ts
  docs/about/team/members.json
  package.json
  pnpm-lock.yaml
  test/scripts/apidoc/signature.expected.json
Labels: c: docs, p: 1-normal, s: accepted

#1284 test(internet): fix username expecting numbers with length 2
  test/internet.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: internet

#1225 feat(locale): add directions and directions abbr to pl
  src/locales/pl/address/direction.ts
  src/locales/pl/address/direction_abbr.ts
  src/locales/pl/address/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: address

#1227 feat(locale): add horses to pl
  src/locales/pl/animal/horse.ts
  src/locales/pl/animal/index.ts
  src/locales/pl/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: animal

#1168 feat(name): extract sex generator from gender to sex
  src/definitions/name.ts
  src/locales/de/name/index.ts
  src/locales/de/name/sex.ts
  src/locales/en/name/binary_gender.ts
  src/locales/en/name/index.ts
  src/locales/en/name/sex.ts
  src/locales/fr/name/index.ts
  src/locales/fr/name/sex.ts
  src/locales/fr_CH/name/index.ts
  src/locales/fr_CH/name/sex.ts
  src/locales/pl/name/binary_gender.ts
  src/locales/pl/name/index.ts
  src/locales/pl/name/sex.ts
  src/locales/pt_BR/name/index.ts
  src/locales/pt_BR/name/sex.ts
  src/locales/ur/name/index.ts
  src/locales/ur/name/sex.ts
  src/modules/name/index.ts
  test/__snapshots__/name.spec.ts.snap
  test/name.spec.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: s: on hold, p: 1-normal, c: refactor, c: locale, breaking change, m: name, deprecation

#1283 feat(locale): add city names (de)
  src/locales/de/address/city_name.ts
  src/locales/de/address/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: address

#1288 chore(deps): add glob types
  package.json
  pnpm-lock.yaml
Labels: c: dependencies

#1289 feat(name): add sexType method
  src/modules/name/index.ts
  test/__snapshots__/name.spec.ts.snap
  test/name.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: name

#1253 docs: searchable api
  docs/.vitepress/config.ts
  docs/api/.gitignore
  docs/api/ApiIndex.vue
  docs/api/api-types.ts
  docs/api/index.md
  scripts/apidoc.ts
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/moduleMethods.ts
Labels: c: docs

#1293 feat(company): move name formats to locales
  src/definitions/company.ts
  src/locales/az/company/index.ts
  src/locales/az/company/name_patterns.ts
  src/locales/cz/company/index.ts
  src/locales/cz/company/name_patterns.ts
  src/locales/de/company/index.ts
  src/locales/de/company/name_patterns.ts
  src/locales/de_AT/company/index.ts
  src/locales/de_AT/company/name_patterns.ts
  src/locales/de_CH/company/index.ts
  src/locales/de_CH/company/name_patterns.ts
  src/locales/el/company/index.ts
  src/locales/el/company/name_patterns.ts
  src/locales/en/company/index.ts
  src/locales/en/company/name_patterns.ts
  src/locales/en_GH/company/index.ts
  src/locales/en_GH/company/name_patterns.ts
  src/locales/es/company/index.ts
  src/locales/es/company/name_patterns.ts
  src/locales/es_MX/company/index.ts
  src/locales/es_MX/company/name_patterns.ts
  src/locales/fa/company/index.ts
  src/locales/fa/company/name_patterns.ts
  src/locales/fr/company/index.ts
  src/locales/fr/company/name_patterns.ts
  src/locales/ge/company/index.ts
  src/locales/ge/company/name_patterns.ts
  src/locales/id_ID/company/index.ts
  src/locales/id_ID/company/name_patterns.ts
  src/locales/it/company/index.ts
  src/locales/it/company/name_patterns.ts
  src/locales/ko/company/index.ts
  src/locales/ko/company/name_patterns.ts
  src/locales/lv/company/index.ts
  src/locales/lv/company/name_patterns.ts
  src/locales/mk/company/index.ts
  src/locales/mk/company/name_patterns.ts
  src/locales/nb_NO/company/index.ts
  src/locales/nb_NO/company/name_patterns.ts
  src/locales/pl/company/index.ts
  src/locales/pl/company/name_patterns.ts
  src/locales/pt_BR/company/index.ts
  src/locales/pt_BR/company/name_patterns.ts
  src/locales/ru/company/index.ts
  src/locales/ru/company/name_patterns.ts
  src/locales/sk/company/index.ts
  src/locales/sk/company/name_patterns.ts
  src/locales/sv/company/index.ts
  src/locales/sv/company/name_patterns.ts
  src/locales/uk/company/index.ts
  src/locales/uk/company/name_patterns.ts
  src/locales/vi/company/index.ts
  src/locales/vi/company/name_patterns.ts
  src/modules/company/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: company

#1299 refactor(helpers): deprecate repeatString
  src/modules/helpers/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: helpers, deprecation

#1301 docs: retire two maintainers
  docs/about/team/members.json
Labels: c: docs

#1270 docs: properly handle multiple `@see` tags
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/scripts/apidoc/signature.debug.ts
  test/scripts/apidoc/signature.example.ts
  test/scripts/apidoc/signature.expected.json
Labels: c: docs, p: 1-normal, s: accepted

#1302 infra: set renovate schedule to weekly
  .github/renovate.json5
Labels: p: 1-normal, s: accepted, c: infra

#1303 fix(locale): remove SUS names
  src/locales/en/name/first_name.ts
  src/locales/en/name/last_name.ts
  src/locales/fr_BE/name/last_name.ts
  test/__snapshots__/address.spec.ts.snap
  test/__snapshots__/company.spec.ts.snap
  test/__snapshots__/finance.spec.ts.snap
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/name.spec.ts.snap
Labels: c: bug, p: 2-high, s: accepted, c: locale, m: name

#1306 fix(datatype): unintentional hex breaking change
  src/modules/color/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/datatype.spec.ts
Labels: c: bug, p: 2-high, s: accepted, m: datatype

#1308 docs(datatype): fix hexadecimal jsdoc
  src/modules/datatype/index.ts
Labels: c: docs, p: 1-normal, m: datatype

#1314 refactor(address): update deprecation warning
  src/modules/address/index.ts
Labels: c: refactor, m: address

#1307 fix(random): retry on invalid word generation
  src/modules/random/index.ts
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
Labels: p: 1-normal, c: refactor, m: random

#1298 refactor(unique): move to helpers
  src/faker.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/unique/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
  test/unique.spec.ts
Labels: p: 1-normal, c: refactor, m: helpers, deprecation

#897 feat(system): add cron
  src/modules/system/index.ts
  test/__snapshots__/system.spec.ts.snap
  test/system.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: system

#1316 fix(internal): Fix typo in deprecation message
  src/internal/deprecated.ts
Labels: c: bug, p: 1-normal, s: accepted

#1319 chore(release): 7.5.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#1320 feat(locale): add months, days and few other minor strings to es
  src/locales/es/address/city_prefix.ts
  src/locales/es/date/index.ts
  src/locales/es/date/month.ts
  src/locales/es/date/weekday.ts
  src/locales/es/index.ts
  src/locales/es/internet/domain_suffix.ts
  src/locales/es/name/female_first_name.ts
  src/locales/es/name/first_name.ts
  src/locales/es/name/last_name.ts
  src/locales/es/name/male_first_name.ts
Labels: p: 1-normal, s: accepted, c: locale, m: address, m: internet, m: name
