Repository faker-js/faker, pull requests merged in 2022-09, with the labels that each got.

#1339 chore: fix typedoc warning
  README.md
Labels: c: docs, c: chore, p: 1-normal, s: accepted

#1338 chore: remove obsolete test snapshots
  test/__snapshots__/datatype.spec.ts.snap
Labels: c: chore, p: 1-normal, c: test, s: accepted, m: datatype

#1335 docs: update order of headings to be semantically correct
  docs/guide/migration-guide-v5.md
  docs/guide/migration-guide-v6.md
Labels: c: docs, p: 1-normal

#1353 docs: remove redundant TOCs
  docs/about/announcements/2022-01-14.md
  docs/guide/migration-guide-v5.md
  docs/guide/migration-guide-v6.md
Labels: c: docs, p: 1-normal

#1330 docs: publish v8 roadmap
  docs/.vitepress/config.ts
  docs/about/announcements.md
  docs/about/announcements/2022-09-08.md
  docs/about/roadmap/index.md
  docs/about/roadmap/v6.md
  docs/about/roadmap/v7.md
  docs/about/roadmap/v8.md
Labels: c: docs, p: 1-normal, s: accepted

#1337 docs: add `@since` tags to all methods
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/utils.ts
  src/modules/address/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/fake/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/lorem/index.ts
  src/modules/mersenne/index.ts
  src/modules/music/index.ts
  src/modules/name/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/system/index.ts
  src/modules/unique/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/scripts/apidoc/signature.example.ts
  test/scripts/apidoc/signature.expected.json
Labels: c: docs, p: 1-normal, s: accepted

#932 feat(modules): export module interfaces
  scripts/apidoc/moduleMethods.ts
  src/faker.ts
  src/index.ts
  src/modules/address/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/fake/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/lorem/index.ts
  src/modules/mersenne/index.ts
  src/modules/music/index.ts
  src/modules/name/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/system/index.ts
  src/modules/unique/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
  test/mersenne.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor

#1334 fix: improve default seed initialization
  src/modules/mersenne/index.ts
Labels: c: bug, p: 2-high, s: accepted

#1355 docs: fix api generation
  scripts/apidoc/moduleMethods.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: c: docs, p: 3-urgent, s: accepted

#1361 docs: fix api search
  docs/api/ApiIndex.vue
  scripts/apidoc/apiDocsWriter.ts
Labels: c: docs, p: 3-urgent, s: accepted

#1362 test: e2e tests
  .github/workflows/ci.yml
  cypress/e2e/api.cy.ts
  cypress/e2e/guide.cy.ts
  cypress/e2e/smoke.cy.ts
  cypress/tsconfig.json
  tsconfig.json
Labels: c: docs, p: 2-high, c: test, s: accepted

#1363 docs: fix @see links
  docs/.vitepress/components/api-docs/method.vue
  docs/.vitepress/shared/utils/slugify.ts
  docs/api/ApiIndex.vue
Labels: c: docs, p: 2-high, s: accepted

#1365 docs: upgrading guide
  docs/.vitepress/config.ts
  docs/guide/migration-guide-v5.md
  docs/guide/upgrading.md
  docs/migration/index.md
Labels: c: docs

#1364 docs: localization
  README.md
  docs/.vitepress/api-pages.ts
  docs/.vitepress/config.ts
  docs/api/.gitignore
  docs/guide/localization.md
  scripts/apidoc.ts
  scripts/generateLocales.ts
Labels: c: docs, p: 1-normal, s: accepted

#1371 ci: renovate unset pr hourly limit
  .github/renovate.json5
Labels: c: infra

#1377 chore: switch discord link
  netlify.toml
Labels: c: chore

#1375 test(finance): use validator.js for bitcoin addresses
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: c: test, m: finance

#1378 feat(finance): branch code option in bic()
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: c: feature, p: 1-normal, m: finance

#1386 feat(science): add more units in en locale
  src/locales/en/science/unit.ts
  test/__snapshots__/science.spec.ts.snap
Labels: p: 1-normal, c: locale, m: science

#1385 ci: workflows security hardening
  .github/workflows/ci.yml
  .github/workflows/semantic-pull-request.yml
Labels: p: 1-normal, c: security, c: infra

#1392 fix(finance): Update Belarusian Ruble to new version
  src/locales/en/finance/currency.ts
Labels: c: bug, p: 1-normal, c: locale, m: finance

#1395 fix(finance): fix typo in Belarusian Ruble's name
  src/locales/en/finance/currency.ts
Labels: p: 1-normal, s: accepted, c: locale, m: finance

#1393 fix(finance): update Zambian Kwacha to new version
  src/locales/en/finance/currency.ts
Labels: p: 1-normal, s: accepted, c: locale, m: finance

#1394 fix(finance): update Venezuelan bolívar name and code
  src/locales/en/finance/currency.ts
Labels: p: 1-normal, s: accepted, c: locale, m: finance

#1401 fix(locale): change id_ID name to `Indonesian`
  docs/guide/localization.md
  src/locales/id_ID/index.ts
Labels: p: 1-normal, s: accepted, c: locale

#1400 feat(locale): add new Indonesia state
  src/locales/id_ID/address/state.ts
Labels: p: 1-normal, s: accepted, c: locale, m: address

#1399 feat(locale): extends id_ID company prefix
  src/locales/id_ID/company/prefix.ts
Labels: p: 1-normal, s: accepted, c: locale, m: company

#1396 fix(image): properly lock loremflickr.com images
  src/modules/image/index.ts
Labels: c: bug, p: 1-normal, s: accepted, m: image

#1397 docs: list required JSDoc tags
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#1376 feat(locale): add first name for zh_CN
  src/locales/zh_CN/name/female_first_name.ts
  src/locales/zh_CN/name/index.ts
  src/locales/zh_CN/name/male_first_name.ts
Labels: c: locale
