Repository faker-js/faker, pull requests merged in 2022-07, with the labels that each got.

#1102 feat(locales.en): extend vehicle
  src/locales/en/vehicle/model.ts
  test/__snapshots__/vehicle.spec.ts.snap
Labels: p: 1-normal, c: locale

#1146 chore: cleanup gender list for en locale
  src/locales/en/name/gender.ts
  test/__snapshots__/name.spec.ts.snap
Labels: c: locale

#1128 chore(linting): disable `unbound-method` warnings
  .eslintrc.js
Labels: c: chore, p: 1-normal

#1101 feat(system.fileName): file extension count
  src/modules/system/index.ts
  test/system.spec.ts
Labels: c: feature, needs test, p: 1-normal, s: accepted

#1167 docs(name): use single quotes in examples and English as result
  src/modules/name/index.ts
Labels: c: docs, p: 1-normal

#1170 chore(linting): add naming convention rule
  .eslintrc.js
  src/modules/date/index.ts
  src/modules/name/index.ts
Labels: c: chore, p: 1-normal

#1173 chore(linter): set 'jsdoc/sort-tags' rule to 'error'
  .eslintrc.js
Labels: c: chore, p: 1-normal

#1166 refactor(company): rename companyName to name
  src/modules/company/index.ts
  src/modules/finance/index.ts
  test/__snapshots__/company.spec.ts.snap
  test/company.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor

#838 test: introduce seededTests factory
  src/utils/types.ts
  test/__snapshots__/address.spec.ts.snap
  test/__snapshots__/animal.spec.ts.snap
  test/__snapshots__/color.spec.ts.snap
  test/__snapshots__/commerce.spec.ts.snap
  test/__snapshots__/company.spec.ts.snap
  test/__snapshots__/database.spec.ts.snap
  test/__snapshots__/datatype.spec.ts.snap
  test/__snapshots__/date.spec.ts.snap
  test/__snapshots__/finance.spec.ts.snap
  test/__snapshots__/git.spec.ts.snap
  test/__snapshots__/hacker.spec.ts.snap
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/lorem.spec.ts.snap
  test/__snapshots__/music.spec.ts.snap
  test/__snapshots__/name.spec.ts.snap
  test/__snapshots__/phone.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/science.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
  test/__snapshots__/vehicle.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
  test/address.spec.ts
  test/animal.spec.ts
  test/color.spec.ts
  test/commerce.spec.ts
  test/company.spec.ts
  test/database.spec.ts
  test/datatype.spec.ts
  test/date.spec.ts
  test/finance.spec.ts
  test/git.spec.ts
  test/hacker.spec.ts
  test/helpers.spec.ts
  test/internet.spec.ts
  test/lorem.spec.ts
  test/music.spec.ts
  test/name.spec.ts
  test/phone.spec.ts
  test/random.spec.ts
  test/science.spec.ts
  test/support/seededRuns.ts
  test/system.spec.ts
  test/vehicle.spec.ts
  test/word.spec.ts
Labels: c: feature, c: test, s: accepted

#1162 feat(locales.pl): add pl translation for gender and binary gender
  src/locales/pl/name/binary_gender.ts
  src/locales/pl/name/gender.ts
  src/locales/pl/name/index.ts
Labels: p: 1-normal, s: accepted, c: locale

#1172 docs(definitions): minor formatting to definitions' types
  src/definitions/address.ts
  src/definitions/color.ts
  src/definitions/commerce.ts
  src/definitions/company.ts
  src/definitions/database.ts
  src/definitions/date.ts
  src/definitions/finance.ts
  src/definitions/hacker.ts
  src/definitions/internet.ts
  src/definitions/name.ts
  src/definitions/science.ts
  src/definitions/system.ts
  src/definitions/vehicle.ts
Labels: c: docs, p: 1-normal, s: accepted

#1196 test: remove JSON.stringify wrapper around faker.seed() in tests descriptions
  test/address.spec.ts
  test/animal.spec.ts
  test/color.spec.ts
  test/commerce.spec.ts
  test/company.spec.ts
  test/database.spec.ts
  test/datatype.spec.ts
  test/date.spec.ts
  test/finance.spec.ts
  test/finance_iban.spec.ts
  test/git.spec.ts
  test/hacker.spec.ts
  test/helpers.spec.ts
  test/internet.spec.ts
  test/lorem.spec.ts
  test/music.spec.ts
  test/name.spec.ts
  test/phone.spec.ts
  test/random.spec.ts
  test/science.spec.ts
  test/system.spec.ts
  test/unique.spec.ts
  test/vehicle.spec.ts
  test/word.spec.ts
Labels: c: chore, c: test

#1148 chore(locale.de): update word definition
  src/locales/de/word/adjective.ts
  src/locales/de/word/adverb.ts
  src/locales/de/word/index.ts
  src/locales/de/word/noun.ts
  src/locales/de/word/preposition.ts
  src/locales/de/word/verb.ts
Labels: c: chore, p: 1-normal, c: locale, m: word

#1174 chore(user-agent): fix linter warnings
  src/modules/internet/user-agent.ts
Labels: c: chore, p: 1-normal, s: accepted, m: internet

#1161 refactor(fake): move to `helpers`
  README.md
  src/modules/address/index.ts
  src/modules/company/index.ts
  src/modules/fake/index.ts
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/all_functional.spec.ts
  test/helpers.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: helpers

#1136 feat: add rodent breed on animal 'en' locale
  src/definitions/animal.ts
  src/locales/en/animal/index.ts
  src/locales/en/animal/rodent.ts
  src/modules/animal/index.ts
  test/__snapshots__/animal.spec.ts.snap
  test/animal.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: animal

#1212 refactor(company.name): deprecate `format` parameter
  src/modules/company/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: company

#1053 chore: deprecate address.streetPrefix and suffix
  src/locales/af_ZA/address/street.ts
  src/locales/de_CH/address/street.ts
  src/locales/el/address/street.ts
  src/locales/en_AU/address/street.ts
  src/locales/en_CA/address/street.ts
  src/locales/en_GB/address/street.ts
  src/locales/en_IE/address/street.ts
  src/locales/en_IND/address/street.ts
  src/locales/en_NG/address/street.ts
  src/locales/en_US/address/street.ts
  src/locales/en_ZA/address/street.ts
  src/locales/fr_CA/address/street.ts
  src/locales/ne/address/street.ts
  src/locales/pt_BR/address/street.ts
  src/locales/vi/address/street.ts
  src/locales/zu_ZA/address/street.ts
  src/modules/address/index.ts
  src/modules/random/index.ts
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
Labels: c: chore, p: 1-normal, m: address

#1213 test: ensure jsdoc deprecated tag to have a message
  src/modules/phone/index.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: c: docs, p: 1-normal, c: test
