Repository faker-js/faker, pull requests merged in 2022-10, with the labels that each got.

#1402 docs(website): remove API in guide section
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal, s: accepted

#1403 chore(locale): regenerate locale indexes
  src/locales/zh_CN/name/index.ts
Labels: c: chore, p: 1-normal, c: locale

#1406 docs: improve usage guide for selective readers
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#1417 docs: fix note containers in usage guide
  docs/guide/usage.md
Labels: c: docs

#1407 feat: lorem null response fix
  src/modules/lorem/index.ts
  src/modules/word/filterWordListByLength.ts
  src/modules/word/index.ts
  test/__snapshots__/lorem.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
  test/lorem.spec.ts
  test/word.spec.ts
Labels: c: bug, c: feature, p: 1-normal, s: accepted, m: lorem, m: word

#1418 docs: improve linking between doc sections
  docs/.vitepress/api-pages.ts
  docs/.vitepress/config.ts
  scripts/apidoc/apiDocsWriter.ts
Labels: c: docs, p: 1-normal, s: accepted

#1405 infra: add CI step to detect generate script diffs
  .github/workflows/ci.yml
  .github/workflows/commentCodeGeneration.ts
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, s: accepted, c: infra

#1419 infra: move the check-code-generation job to pr.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: p: 1-normal, c: infra

#1425 docs: fix typo in BACKERS.md
  BACKERS.md
Labels: c: docs, p: 1-normal, s: accepted

#1424 feat(locale): add male first names starting with Z to id_ID
  src/locales/id_ID/name/male_first_name.ts
Labels: p: 1-normal, s: accepted, c: locale, m: name

#1429 chore: mark mersenne as deprecated (internal)
  src/faker.ts
  src/modules/mersenne/index.ts
Labels: c: chore, p: 1-normal, s: accepted

#1427 chore(deps): update devdependencies
  package.json
  pnpm-lock.yaml
Labels: c: dependencies

#1430 test: fix lint warning and simplify locales test
  test/locales.spec.ts
Labels: p: 1-normal, c: test, s: accepted

#1432 chore(release): 7.6.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#1435 infra: relink main to next
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci.yml
  README.md
  docs/.vitepress/config.ts
Labels: p: 1-normal, c: infra

#1440 refactor!: cleanup deprecations
  docs/.vitepress/api-pages.ts
  scripts/apidoc.ts
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/directMethods.ts
  src/faker.ts
  src/index.ts
  src/modules/address/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/datatype/index.ts
  src/modules/fake/index.ts
  src/modules/helpers/index.ts
  src/modules/image/providers/lorempicsum.ts
  src/modules/image/providers/lorempixel.ts
  src/modules/image/providers/unsplash.ts
  src/modules/mersenne/index.ts
  src/modules/name/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/unique/index.ts
  test/__snapshots__/address.spec.ts.snap
  test/__snapshots__/commerce.spec.ts.snap
  test/__snapshots__/company.spec.ts.snap
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/name.spec.ts.snap
  test/__snapshots__/phone.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
  test/address.spec.ts
  test/commerce.spec.ts
  test/company.spec.ts
  test/fake.spec.ts
  test/helpers.spec.ts
  test/image.spec.ts
  test/name.spec.ts
  test/phone.spec.ts
  test/random.spec.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/unique.spec.ts
Labels: p: 1-normal, c: refactor, breaking change

#1059 feat(internet)!: ip now returns ipv4 and ipv6
  src/modules/internet/index.ts
  test/__snapshots__/internet.spec.ts.snap
  test/internet.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: internet

#1061 feat(location)!: `nearbyGPSCoordinate` returns number tuple
  src/modules/address/index.ts
  test/__snapshots__/address.spec.ts.snap
  test/address.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: location

#1450 docs: fix CONTRIBUTING.md JSDoc do/dont
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal, s: accepted

#1451 refactor(company)!: remove hardcoded name fallback pattern
  src/modules/company/index.ts
Labels: p: 1-normal, c: refactor, breaking change, m: company

#1448 refactor(locale)!: change en_IND to en_IN
  docs/guide/localization.md
  src/locale/en_IN.ts
  src/locales/en_IN/address/city.ts
  src/locales/en_IN/address/city_name.ts
  src/locales/en_IN/address/default_country.ts
  src/locales/en_IN/address/index.ts
  src/locales/en_IN/address/postcode.ts
  src/locales/en_IN/address/state.ts
  src/locales/en_IN/address/state_abbr.ts
  src/locales/en_IN/address/street.ts
  src/locales/en_IN/company/index.ts
  src/locales/en_IN/company/suffix.ts
  src/locales/en_IN/index.ts
  src/locales/en_IN/internet/domain_suffix.ts
  src/locales/en_IN/internet/free_email.ts
  src/locales/en_IN/internet/index.ts
  src/locales/en_IN/name/first_name.ts
  src/locales/en_IN/name/index.ts
  src/locales/en_IN/name/last_name.ts
  src/locales/en_IN/phone_number/formats.ts
  src/locales/en_IN/phone_number/index.ts
  src/locales/index.ts
Labels: p: 1-normal, s: accepted, c: locale, breaking change

#1444 refactor!: make mersenne internal
  src/faker.ts
  src/internal/mersenne/mersenne.ts
  src/internal/mersenne/twister.ts
  src/modules/datatype/index.ts
  test/all_functional.spec.ts
  test/mersenne.spec.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: p: 1-normal, c: refactor, breaking change

#1452 docs: remove obsolete check
  scripts/apidoc/moduleMethods.ts
Labels: c: docs, p: 1-normal, s: accepted

#1458 test: fix fake test expectation
  test/helpers.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: helpers

#1064 feat(location)!: `latitude`/`longitude` returns number
  src/modules/address/index.ts
  test/__snapshots__/address.spec.ts.snap
  test/address.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: location

#1473 docs(string): update function jsdocs
  src/modules/string/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: string

#1438 docs: link to next docs and vice versa
  .github/workflows/ci.yml
  docs/.vitepress/versions.ts
  package.json
  pnpm-lock.yaml
  test/docs/versions.spec.ts
Labels: c: docs, p: 1-normal, s: accepted

#1478 docs: fix version test
  test/docs/versions.spec.ts
Labels: c: bug, c: docs, p: 2-high, c: test, s: accepted

#1459 feat: fake with multiple parameters
  src/modules/helpers/index.ts
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1485 docs: fix typo in usage section
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#1480 feat(internet): add options to url()
  src/modules/internet/index.ts
  test/__snapshots__/internet.spec.ts.snap
  test/internet.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: internet

#1487 docs: add version banner
  docs/.vitepress/components/Banner.vue
  docs/.vitepress/components/shims.d.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/tsconfig.json
  docs/.vitepress/versions.ts
  package.json
  pnpm-lock.yaml
  test/scripts/apidoc/signature.expected.json
Labels: c: docs, p: 1-normal, s: accepted

#1492 feat(locale): update Korean color, date, location, word, company
  src/locales/ko/color/human.ts
  src/locales/ko/color/index.ts
  src/locales/ko/company/suffix.ts
  src/locales/ko/date/index.ts
  src/locales/ko/date/month.ts
  src/locales/ko/date/weekday.ts
  src/locales/ko/index.ts
  src/locales/ko/location/index.ts
  src/locales/ko/location/secondary_address.ts
  src/locales/ko/word/adjective.ts
  src/locales/ko/word/adverb.ts
  src/locales/ko/word/index.ts
  src/locales/ko/word/noun.ts
Labels: p: 1-normal, s: accepted, c: locale

#1496 docs: fix snippets of codes in usage guide
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#1447 refactor(mersenne): rewrite internal mersenne
  src/faker.ts
  src/internal/mersenne/mersenne.ts
  src/modules/datatype/index.ts
  test/__snapshots__/mersenne.spec.ts.snap
  test/mersenne.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor

#1494 refactor!: upgrade node minimum target
  package.json
  scripts/bundle.ts
Labels: c: dependencies, c: refactor, breaking change
