Repository faker-js/faker, pull requests merged in 2022-11, with the labels that each got.

#1476 feat(datatype): introduce probability option to boolean
  src/modules/datatype/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/__snapshots__/finance.spec.ts.snap
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
  test/datatype.spec.ts
  test/system.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: datatype

#1509 infra: use pnpm native in netlify configuration
  netlify.toml
Labels: p: 1-normal, s: accepted, c: infra

#1510 docs: remove duplicate description tags
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal, s: accepted

#1506 feat(locale): add dv locale
  docs/guide/localization.md
  src/locale/dv.ts
  src/locales/dv/cell_phone/formats.ts
  src/locales/dv/cell_phone/index.ts
  src/locales/dv/color/human.ts
  src/locales/dv/color/index.ts
  src/locales/dv/company/adjective.ts
  src/locales/dv/company/index.ts
  src/locales/dv/company/name_patterns.ts
  src/locales/dv/company/noun.ts
  src/locales/dv/company/suffix.ts
  src/locales/dv/date/index.ts
  src/locales/dv/date/month.ts
  src/locales/dv/date/weekday.ts
  src/locales/dv/index.ts
  src/locales/dv/location/city.ts
  src/locales/dv/location/city_name.ts
  src/locales/dv/location/city_prefix.ts
  src/locales/dv/location/city_suffix.ts
  src/locales/dv/location/default_country.ts
  src/locales/dv/location/index.ts
  src/locales/dv/location/postcode.ts
  src/locales/dv/location/street.ts
  src/locales/dv/location/street_suffix.ts
  src/locales/dv/lorem/index.ts
  src/locales/dv/lorem/supplemental.ts
  src/locales/dv/lorem/words.ts
  src/locales/dv/person/female_first_name.ts
  src/locales/dv/person/female_last_name.ts
  src/locales/dv/person/first_name.ts
  src/locales/dv/person/index.ts
  src/locales/dv/person/last_name.ts
  src/locales/dv/person/male_first_name.ts
  src/locales/dv/person/male_last_name.ts
  src/locales/dv/person/name.ts
  src/locales/dv/person/prefix.ts
  src/locales/dv/person/sex.ts
  src/locales/dv/phone_number/formats.ts
  src/locales/dv/phone_number/index.ts
  src/locales/index.ts
  test/__snapshots__/random.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: locale

#1516 docs: update since tags for person and location
  src/modules/location/index.ts
  src/modules/person/index.ts
Labels: c: docs, s: accepted, m: location, m: person

#1512 feat(git): add options.refDate to commitEntry
  src/modules/git/index.ts
  test/__snapshots__/date.spec.ts.snap
  test/__snapshots__/git.spec.ts.snap
  test/date.spec.ts
  test/git.spec.ts
Labels: c: feature, s: accepted, m: git

#182 feat(person): add `zodiacSign()`
  src/definitions/person.ts
  src/locales/en/person/index.ts
  src/locales/en/person/western_zodiac_sign.ts
  src/modules/person/index.ts
  test/__snapshots__/person.spec.ts.snap
  test/person.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: person

#1521 refactor(helpers)!: rewrite shuffle
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: refactor, m: helpers

#1539 fix(git): adjust commitEntry to match `git log` output
  src/modules/git/index.ts
  test/__snapshots__/git.spec.ts.snap
  test/git.spec.ts
Labels: c: bug, p: 2-high, s: accepted, m: git

#1540 chore: use boolean probability instead of magic numbers
  src/modules/git/index.ts
Labels: c: chore, p: 1-normal, m: git

#1511 chore: remove broken source urls found in some locales
  src/locales/ar/date/month.ts
  src/locales/ar/date/weekday.ts
  src/locales/az/date/month.ts
  src/locales/az/date/weekday.ts
  src/locales/cz/date/month.ts
  src/locales/cz/date/weekday.ts
  src/locales/de/date/month.ts
  src/locales/de/date/weekday.ts
  src/locales/en/date/month.ts
  src/locales/en/date/weekday.ts
  src/locales/es/date/month.ts
  src/locales/es/date/weekday.ts
  src/locales/fa/date/weekday.ts
  src/locales/fr/date/month.ts
  src/locales/fr/date/weekday.ts
  src/locales/fr_CH/date/month.ts
  src/locales/fr_CH/date/weekday.ts
  src/locales/he/date/month.ts
  src/locales/he/date/weekday.ts
  src/locales/hr/date/month.ts
  src/locales/hr/date/weekday.ts
  src/locales/mk/date/month.ts
  src/locales/mk/date/weekday.ts
  src/locales/nl/date/month.ts
  src/locales/nl/date/weekday.ts
  src/locales/pt_BR/date/month.ts
  src/locales/pt_BR/date/weekday.ts
  src/locales/pt_PT/date/month.ts
  src/locales/pt_PT/date/weekday.ts
  src/locales/ru/date/month.ts
  src/locales/ru/date/weekday.ts
  src/locales/sv/date/month.ts
  src/locales/sv/date/weekday.ts
  src/locales/vi/date/month.ts
  src/locales/vi/date/weekday.ts
Labels: c: chore, p: 1-normal, s: accepted, m: date

#1536 fix(date): don't allow parameters <= 0
  src/modules/date/index.ts
  test/date.spec.ts
Labels: c: bug, p: 1-normal, m: date

#1488 test: use test snapshots for scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/.gitignore
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.expected.json
  test/scripts/apidoc/signature.spec.ts
Labels: p: 1-normal, c: test

#714 feat(word): add sample method
  src/modules/helpers/index.ts
  src/modules/system/index.ts
  src/modules/word/index.ts
  test/__snapshots__/system.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
  test/system.spec.ts
  test/word.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: word

#1515 docs(helpers): extend module jsdocs
  src/modules/helpers/index.ts
Labels: c: docs, c: chore, p: 1-normal, s: accepted, m: helpers

#1522 infra: update website redirects (v7)
  netlify.toml
Labels: c: docs, p: 1-normal, c: infra

#1523 infra: update website redirects (next)
  netlify.toml
Labels: c: docs, p: 1-normal, c: infra

#1551 refactor(string): rename params
  src/modules/finance/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  src/modules/vehicle/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/random.spec.ts
  test/string.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: string

#1557 fix(locale): mk (Macedonian) names should use cyrillic а
  src/locales/mk/person/female_first_name.ts
  src/locales/mk/person/female_last_name.ts
  src/locales/mk/person/male_first_name.ts
Labels: c: bug, p: 1-normal, s: accepted, c: locale, m: person

#1566 fix: correct the logic of first_name in en_GH locale
  src/locales/en_GH/person/first_name.ts
Labels: p: 1-normal, s: accepted, c: locale, m: person

#1537 test: use runner on different timezone
  .github/workflows/ci.yml
Labels: p: 1-normal, c: test, s: accepted, c: infra

#1555 feat(locale): add free email domains for zh_CN
  src/locales/zh_CN/index.ts
  src/locales/zh_CN/internet/free_email.ts
  src/locales/zh_CN/internet/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: internet

#1517 docs: add upgrading guide for v8
  docs/.vitepress/config.ts
  docs/guide/upgrading.md
Labels: c: docs, p: 1-normal, s: accepted

#1486 feat(helpers): add rangeToNumber method and add range parameters
  src/modules/helpers/index.ts
  src/modules/lorem/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/word/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/lorem.spec.ts.snap
  test/__snapshots__/string.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
  test/helpers.spec.ts
  test/lorem.spec.ts
  test/string.spec.ts
  test/system.spec.ts
  test/word.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1575 chore: fix company definition jsdocs
  src/definitions/company.ts
Labels: c: chore, p: 1-normal, s: accepted, m: company

#1570 docs: use interface instead of class
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#1500 chore: re-enable sanitizeHtml check
  scripts/apidoc/signature.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
Labels: c: docs, p: 1-normal, s: accepted

#1573 feat(locate): add japanese company
  src/locales/ja/company/category.ts
  src/locales/ja/company/index.ts
  src/locales/ja/company/name_patterns.ts
  src/locales/ja/company/type.ts
  src/locales/ja/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: company

#1589 chore(date): adjust to our standard implementation
  src/modules/date/index.ts
Labels: c: chore, p: 1-normal, s: accepted, m: date

#1576 docs(date): clarify the purpose of the context parameter
  src/modules/date/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: date

#1122 feat(number): move methods to new module
  README.md
  docs/.vitepress/api-pages.ts
  src/faker.ts
  src/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/image/providers/lorempixel.ts
  src/modules/internet/index.ts
  src/modules/internet/user-agent.ts
  src/modules/location/index.ts
  src/modules/number/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/vehicle/index.ts
  test/__snapshots__/number.spec.ts.snap
  test/datatype.spec.ts
  test/faker.spec.ts
  test/finance.spec.ts
  test/helpers.spec.ts
  test/number.spec.ts
  test/string.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, deprecation

#1594 docs: verify mastodon
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal, s: accepted

#1609 docs: refactor migration guide
  docs/guide/upgrading.md
Labels: c: docs
