Repository faker-js/faker, pull requests merged in 2022-12, with the labels that each got.

#1621 docs(location): clarify city and cityName methods
  src/modules/location/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: location

#1554 fix(internet): userName, email and slugify return only ascii
  src/modules/helpers/index.ts
  src/modules/internet/char-mappings.ts
  src/modules/internet/index.ts
  test/__snapshots__/internet.spec.ts.snap
  test/helpers.spec.ts
  test/internet.spec.ts
Labels: c: bug, c: feature, p: 1-normal

#1477 refactor(image)!: rewrite module
  src/modules/image/index.ts
  src/modules/image/providers/lorempicsum.ts
  src/modules/image/providers/lorempixel.ts
  src/modules/image/providers/placeholder.ts
  src/modules/image/providers/unsplash.ts
  test/__snapshots__/image.spec.ts.snap
  test/image.spec.ts
Labels: needs documentation, p: 1-normal, s: accepted, c: refactor, breaking change, m: image

#1608 docs(datatype): add missing `@see` tags for deprecated methods
  src/modules/datatype/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: datatype

#1602 refactor(string)!: swap `allowLeadingZeros` default to `true`
  docs/guide/upgrading.md
  src/modules/helpers/index.ts
  src/modules/number/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/string.spec.ts.snap
  test/random.spec.ts
  test/string.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: string

#1638 fix: broken `allowLeadingZeros` tests
  test/random.spec.ts
  test/string.spec.ts
Labels: c: bug, p: 2-high, c: test, s: accepted

#1632 infra: check test snapshots to be up to date
  .github/workflows/commentCodeGeneration.ts
  .github/workflows/pr.yml
  test/__snapshots__/internet.spec.ts.snap
Labels: p: 1-normal, c: test, s: accepted, c: infra

#1634 feat(string): add special() method
  src/modules/string/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/string.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: string

#1629 docs: include hints on specifying a locale can help startup time
  README.md
  docs/guide/localization.md
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#1623 docs: how to use with testing frameworks
  docs/.vitepress/config.ts
  docs/guide/frameworks.md
Labels: c: docs, p: 1-normal, s: accepted

#1642 feat(number)!: change float default params
  src/modules/color/index.ts
  src/modules/datatype/index.ts
  src/modules/helpers/index.ts
  src/modules/number/index.ts
  test/__snapshots__/number.spec.ts.snap
  test/number.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: number

#1646 test: fix system fileExt assumption
  test/system.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: system

#1641 fix(image)!: remove lorempixel
  docs/guide/upgrading.md
  src/modules/image/index.ts
  src/modules/image/providers/lorempixel.ts
  test/image.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, breaking change, m: image, deprecation

#1649 feat(number): adjust hex default
  src/modules/number/index.ts
  test/__snapshots__/number.spec.ts.snap
Labels: c: feature, p: 1-normal, s: accepted, m: number

#1650 docs(finance): ethereumAddress returns non checksummed addresses
  src/modules/finance/index.ts
Labels: c: docs, p: 1-normal, m: finance

#1656 infra: don't fail when updating snapshots
  .github/workflows/pr.yml
Labels: p: 1-normal, s: accepted, c: infra

#1520 fix: ASCII-fy `domainWord()`
  src/modules/internet/index.ts
Labels: p: 1-normal, s: accepted, c: locale

#1653 test: remove duplicate fixed-seeded-tests
  test/__snapshots__/system.spec.ts.snap
  test/system.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: system

#1666 chore: use merge function for locale data
  src/internal/merge.ts
  src/locales/cz/person/first_name.ts
  src/locales/cz/person/last_name.ts
  src/locales/dv/person/first_name.ts
  src/locales/dv/person/last_name.ts
  src/locales/en_GH/person/first_name.ts
  src/locales/fr/person/first_name.ts
  src/locales/fr_CH/person/first_name.ts
  src/locales/he/person/first_name.ts
  src/locales/hu/person/first_name.ts
  src/locales/mk/person/first_name.ts
  src/locales/mk/person/last_name.ts
  src/locales/pl/person/first_name.ts
  src/locales/vi/person/first_name.ts
Labels: p: 1-normal, c: locale

#1643 feat(number)!: change int default params
  src/modules/number/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/image.spec.ts.snap
  test/__snapshots__/number.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: refactor, m: number

#1647 test: fix duplicate test names
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/internet.spec.ts.snap
  test/helpers.spec.ts
  test/internet.spec.ts
  test/support/seededRuns.ts
Labels: p: 1-normal, c: test, s: accepted, m: helpers

#1620 fix(locale): improve en_GB location addresses
  src/locales/en_GB/location/building_number.ts
  src/locales/en_GB/location/city.ts
  src/locales/en_GB/location/city_infix.ts
  src/locales/en_GB/location/city_prefix.ts
  src/locales/en_GB/location/city_suffix.ts
  src/locales/en_GB/location/index.ts
  src/locales/en_GB/location/street_suffix.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1669 fix(locale): change country name from Holanda to official name
  src/locales/es/location/country.ts
  src/locales/es_MX/location/country.ts
  src/locales/pt_BR/location/country.ts
Labels: p: 1-normal, c: locale

#1453 feat(helpers): fake from array
  src/modules/company/index.ts
  src/modules/helpers/index.ts
  src/modules/location/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1678 fix(location): use IANA standard for timezone
  src/locales/en/location/time_zone.ts
  src/locales/es/location/index.ts
  src/locales/es/location/time_zone.ts
  src/locales/es_MX/location/index.ts
  src/locales/es_MX/location/time_zone.ts
  src/locales/he/location/index.ts
  src/locales/he/location/time_zone.ts
  src/locales/hr/location/index.ts
  src/locales/hr/location/time_zone.ts
  test/__snapshots__/location.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1676 feat(locale): update location/country list
  src/locales/en/location/country.ts
  test/__snapshots__/location.spec.ts.snap
Labels: p: 1-normal, c: locale

#1633 fix(locale): filter inappropriate words in the en locale
  src/locales/en/word/adjective.ts
  src/locales/en/word/adverb.ts
  src/locales/en/word/noun.ts
  src/locales/en/word/verb.ts
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
Labels: c: bug, p: 1-normal, s: accepted, c: locale

#1681 chore(release): 8.0.0-alpha.0
  CHANGELOG.md
  package.json
Labels: c: release

#1679 feat(helpers): allow empty string in fake
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1684 infra: remove git commit hooks
  package.json
  pnpm-lock.yaml
  scripts/verifyCommit.ts
Labels: p: 1-normal, s: accepted, c: infra

#1680 test(helpers): fake should not trim whitespace
  test/helpers.spec.ts
Labels: p: 1-normal, c: test, m: helpers

#1667 docs(datatype): allow markdown in @see links
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, s: accepted, m: datatype

#1697 docs: update gitignore
  .gitignore
Labels: c: docs, p: 1-normal, c: infra

#1694 docs: fix param check
  scripts/apidoc/signature.ts
  src/modules/helpers/index.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
Labels: c: bug, c: docs, p: 1-normal, s: accepted

#1691 chore: turn on padding-line-between-statements
  .eslintrc.js
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/parameterDefaults.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/utils.ts
  scripts/bundle.ts
  scripts/generateLocales.ts
  src/faker.ts
  src/internal/mersenne/twister.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/iban.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/helpers/luhn-check.ts
  src/modules/helpers/unique.ts
  src/modules/image/index.ts
  src/modules/image/providers/placeholder.ts
  src/modules/internet/index.ts
  src/modules/internet/user-agent.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
  test/all_functional.spec.ts
  test/date.spec.ts
  test/support/seededRuns.ts
Labels: c: chore, p: 1-normal

#1692 chore(locale): split de_CH first names into male and female
  src/locales/de_CH/person/female_first_name.ts
  src/locales/de_CH/person/first_name.ts
  src/locales/de_CH/person/index.ts
  src/locales/de_CH/person/male_first_name.ts
Labels: c: chore, c: locale

#1696 feat(person): add short bio
  src/definitions/person.ts
  src/locales/en/person/bio_part.ts
  src/locales/en/person/bio_patterns.ts
  src/locales/en/person/bio_supporter.ts
  src/locales/en/person/index.ts
  src/modules/person/index.ts
  test/__snapshots__/person.spec.ts.snap
  test/person.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: person
