Repository faker-js/faker, pull requests merged in 2023-01, with the labels that each got.

#1706 chore: update license years to 2023
  LICENSE
  src/internal/mersenne/twister.ts
  src/modules/internet/user-agent.ts
Labels: c: chore

#1654 feat(helpers): add new faker.helpers.weightedArrayElement
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1682 refactor(location): nearbyGPSCoordinate options
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: c: refactor, m: location, deprecation

#1701 feat(locale): extend english company
  src/locales/en/company/bs_noun.ts
  test/__snapshots__/company.spec.ts.snap
Labels: c: feature, p: 1-normal, c: locale, m: company

#1704 chore(locale): split es_MX names into female/male
  src/locales/es_MX/person/female_first_name.ts
  src/locales/es_MX/person/first_name.ts
  src/locales/es_MX/person/index.ts
  src/locales/es_MX/person/male_first_name.ts
Labels: c: chore, p: 1-normal, s: accepted, c: locale, m: person

#1705 chore(locale): split ne first_names to female and male
  src/locales/ne/person/female_first_name.ts
  src/locales/ne/person/first_name.ts
  src/locales/ne/person/index.ts
  src/locales/ne/person/male_first_name.ts
Labels: c: chore, p: 1-normal, s: accepted, c: locale

#1708 feat(number): add binary and octal random number generation
  src/modules/number/index.ts
  test/__snapshots__/number.spec.ts.snap
  test/number.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: number

#1710 feat(string): add binary and octal random string generation
  src/modules/number/index.ts
  src/modules/string/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/string.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: string

#1698 docs: show hint regarding displayed readme version
  README.md
Labels: c: docs, p: 1-normal, s: accepted

#1709 chore(test): skip console messages containing 'deprecated'
  vite.config.ts
Labels: p: 1-normal, c: test, s: accepted

#1693 feat(locale): add Luxembourg (French) locale
  docs/guide/localization.md
  src/locale/fr_LU.ts
  src/locales/fr_LU/cell_phone/formats.ts
  src/locales/fr_LU/cell_phone/index.ts
  src/locales/fr_LU/index.ts
  src/locales/fr_LU/internet/domain_suffix.ts
  src/locales/fr_LU/internet/index.ts
  src/locales/fr_LU/location/city.ts
  src/locales/fr_LU/location/city_name.ts
  src/locales/fr_LU/location/index.ts
  src/locales/fr_LU/location/postcode.ts
  src/locales/fr_LU/location/state.ts
  src/locales/fr_LU/phone_number/formats.ts
  src/locales/fr_LU/phone_number/index.ts
  src/locales/index.ts
  test/__snapshots__/random.spec.ts.snap
Labels: p: 1-normal, c: locale

#1712 docs: fix simple typo
  README.md
Labels: c: docs, p: 1-normal

#1714 infra: set lint warnings to error
  .eslintrc.js
Labels: p: 1-normal, s: accepted, c: infra

#1716 feat(string): nanoid
  src/modules/string/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/string.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: string

#1719 refactor(company): deprecate suffix methods
  src/definitions/company.ts
  src/modules/company/index.ts
Labels: c: chore, p: 1-normal, c: locale, m: company, deprecation

#1718 test: repair all functional test
  test/all_functional.spec.ts
Labels: p: 1-normal, c: test

#1724 chore: remove debug code
  test/image.spec.ts
Labels: c: chore, p: 1-normal, c: test, m: image

#1729 docs: use native mastodon icon
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal, s: accepted

#1717 feat(string): generate string from characters
  src/modules/string/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/all_functional.spec.ts
  test/random.spec.ts
  test/string.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: string

#1707 feat(locales): add mergeLocales utility
  src/utils/merge-locales.ts
  test/utils/merge-locales.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, c: locale

#1652 infra: setup dev-container
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
Labels: p: 1-normal, s: accepted, c: infra

#1737 build: escape locale import names if they match the module name
  scripts/generateLocales.ts
Labels: p: 1-normal, s: accepted, c: locale, c: infra

#1644 docs: jsdoc for options
  src/modules/color/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/lorem/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/word/index.ts
Labels: c: docs, p: 1-normal

#1745 fix(locale): filter inappropriate words in the en locale
  src/locales/en/word/adjective.ts
  src/locales/en/word/noun.ts
  src/locales/en/word/verb.ts
  test/__snapshots__/internet.spec.ts.snap
  test/__snapshots__/person.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
  test/__snapshots__/system.spec.ts.snap
  test/__snapshots__/word.spec.ts.snap
Labels: c: bug, p: 1-normal, s: accepted, c: locale

#1746 fix(internet): fix invalid emails in some locales
  src/locales/el/person/last_name.ts
  src/locales/fa/person/last_name.ts
  src/modules/internet/index.ts
  test/internet.spec.ts
Labels: c: bug, p: 2-high, s: accepted, m: internet

#1758 feat(company): add realistic Hungarian company names
  src/locales/hu/company/index.ts
  src/locales/hu/company/name_patterns.ts
  src/locales/hu/company/suffix.ts
  src/locales/hu/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: company

#1756 infra: apply shorter CI timeouts and retry e2e once
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/semantic-pull-request.yml
Labels: p: 1-normal, s: accepted, c: infra

#1304 infra: changelog generation
  .versionrc.json
Labels: p: 1-normal, s: accepted, c: infra

#1753 docs: unwrap complex array params
  scripts/apidoc/signature.ts
  src/modules/helpers/index.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, s: accepted

#1751 chore: export mergeLocales utility
  src/index.ts
Labels: c: chore, p: 1-normal, c: locale

#1750 refactor(git): commitDate explicitly set default for refDate
  src/modules/git/index.ts
Labels: p: 1-normal, s: accepted, c: refactor

#1763 test: use basic reporter
  vite.config.ts
Labels: p: 1-normal, c: test

#1759 refactor: reorganize apidoc scripts and reuse them for tests
  scripts/apidoc.ts
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/format.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/scripts/apidoc/signature.debug.ts
  test/scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/utils.ts
Labels: p: 1-normal, s: accepted, c: refactor

#1732 docs(internet): document emoji type values
  src/modules/internet/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: internet

#1757 feat(date): introduce faker.defaultRefDate and setDefaultRefDate
  scripts/apidoc.ts
  src/faker.ts
  src/modules/date/index.ts
  src/modules/git/index.ts
  test/date.spec.ts
  test/faker.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: date

#1770 fix(helpers): uniform distribution in helpers.arrayElements
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: helpers

#1782 chore: remove disturbing image from README
  README.md
Labels: c: bug, c: chore, p: 2-high, s: accepted

#1772 feat(helpers): add length range support in `arrayElements`
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1752 docs: fix unwrap literal union
  scripts/apidoc/signature.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: bug, c: docs, p: 1-normal

#1781 chore: fix missing defaultRefDate calls
  src/modules/date/index.ts
Labels: c: bug, p: 1-normal, m: date

#1773 docs: big api button
  docs/.vitepress/theme/index.css
  docs/index.md
Labels: c: docs, p: 1-normal, s: accepted

#1786 test(helpers): widen arrayElements distribution
  test/helpers.spec.ts
Labels: p: 1-normal, c: test, s: accepted

#1731 refactor(locale)!: remove unused separator entry
  scripts/generateLocales.ts
  src/definitions/definitions.ts
  src/faker.ts
  src/locales/ar/index.ts
  src/locales/az/index.ts
  src/locales/el/index.ts
  src/locales/en/index.ts
  src/locales/es_MX/index.ts
  src/locales/ge/index.ts
  src/locales/he/index.ts
  src/locales/hy/index.ts
  src/locales/lv/index.ts
  src/locales/mk/index.ts
  src/locales/ru/index.ts
  src/locales/ur/index.ts
  test/faker.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, c: locale, breaking change

#1779 refactor(docs): split generate:api-docs execution from import
  scripts/apidoc.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/typedoc.ts
  test/scripts/apidoc/utils.ts
Labels: p: 1-normal, c: refactor

#1761 refactor(internet): remove weigths in userAgent
  src/modules/internet/user-agent.ts
  test/__snapshots__/internet.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: refactor, m: internet

#1789 refactor(string): rename `special` to `symbol`
  src/modules/string/index.ts
  test/__snapshots__/string.spec.ts.snap
  test/string.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: string

#1787 test(system): add valid 0 for cron
  test/system.spec.ts
Labels: p: 1-normal, c: test, m: system

#1788 refactor(system): replace mime db with common dataset
  docs/guide/upgrading.md
  package.json
  pnpm-lock.yaml
  scripts/copyMimeTypes.ts
  src/definitions/system.ts
  src/locales/en/system/mimeTypes.ts
  test/__snapshots__/system.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: infra, m: system

#1675 feat(number)!: default to high precision float
  docs/guide/upgrading.md
  src/internal/mersenne/mersenne.ts
  src/modules/color/index.ts
  src/modules/number/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/__snapshots__/finance.spec.ts.snap
  test/__snapshots__/mersenne.spec.ts.snap
  test/__snapshots__/number.spec.ts.snap
  test/mersenne.spec.ts
  test/number.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, breaking change, m: number

#1792 test: use cypress container
  .github/workflows/ci.yml
Labels: p: 1-normal, c: test, s: accepted, c: infra

#1794 docs: fix see also for non faker.x references
  docs/.vitepress/components/api-docs/method.vue
Labels: c: docs, p: 1-normal

#1699 feat(airline): add airline module
  README.md
  docs/.vitepress/api-pages.ts
  scripts/generateLocales.ts
  src/definitions/airline.ts
  src/definitions/definitions.ts
  src/definitions/index.ts
  src/faker.ts
  src/index.ts
  src/locales/en/airline/airline.ts
  src/locales/en/airline/airplane.ts
  src/locales/en/airline/airport.ts
  src/locales/en/airline/index.ts
  src/locales/en/index.ts
  src/modules/airline/index.ts
  test/__snapshots__/airline.spec.ts.snap
  test/airline.spec.ts
Labels: c: feature, p: 1-normal, s: accepted
