Repository faker-js/faker, pull requests merged in 2023-12, with the labels that each got.

#2559 chore(helpers): fix examples on internal functions
  src/modules/helpers/index.ts
Labels: c: docs, c: chore, p: 1-normal, m: helpers

#2444 docs: check and improve handling of duplicate tags
  scripts/apidoc/typedoc.ts
  src/modules/helpers/index.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal

#2560 docs: add missing throw descriptions in JSDocs
  src/modules/datatype/index.ts
  src/modules/number/index.ts
  test/modules/datatype.spec.ts
  test/modules/number.spec.ts
Labels: c: docs, p: 1-normal, m: datatype, m: number

#2562 infra(tsconfig): noImplicitAny
  .prettierrc.d.ts
  scripts/apidoc/typedoc.ts
  scripts/generate-locales.ts
  src/internal/keys.ts
  test/all-functional.spec.ts
  test/faker.spec.ts
  test/locale-imports.spec.ts
  test/modules/helpers.spec.ts
  test/modules/image.spec.ts
  test/simple-faker.spec.ts
  tsconfig.build.json
  tsconfig.json
Labels: p: 1-normal, c: infra

#2574 docs: clarify that location.state refers to ISO 3166-2
  src/modules/location/index.ts
Labels: c: docs, p: 1-normal, m: location

#2585 infra(eslint): prefer-exponentiation-operator
  .eslintrc.js
Labels: p: 1-normal, c: infra

#2550 feat(helpers): add support for complex intermediate types
  src/modules/helpers/eval.ts
  src/modules/helpers/index.ts
  test/modules/__snapshots__/person.spec.ts.snap
  test/modules/helpers-eval.spec.ts
  test/modules/helpers.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#2581 fix(number): improve float generation for precisions of form 10^-n
  src/modules/number/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/number.spec.ts
Labels: c: bug, p: 1-normal, m: number

#2589 chore(typescript-eslint): no-useless-template-literals
  src/modules/commerce/index.ts
  src/modules/lorem/index.ts
Labels: c: chore, p: 1-normal

#2513 docs(algolia): use one search-index per branch
  docs/.vitepress/config.ts
  docs/.vitepress/versions.ts
Labels: c: docs, p: 2-high

#2564 refactor(number): deprecate precision in favor of multipleOf in float
  src/modules/color/index.ts
  src/modules/datatype/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/location/index.ts
  src/modules/number/index.ts
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/datatype.spec.ts
  test/modules/number.spec.ts
Labels: p: 1-normal, c: refactor, deprecation, m: number
