Repository faker-js/faker, pull requests merged in 2023-09, with the labels that each got.

#2359 feat(locale): add word category for da
  src/locales/da/index.ts
  src/locales/da/word/adjective.ts
  src/locales/da/word/adverb.ts
  src/locales/da/word/conjunction.ts
  src/locales/da/word/index.ts
  src/locales/da/word/interjection.ts
  src/locales/da/word/noun.ts
  src/locales/da/word/preposition.ts
  src/locales/da/word/verb.ts
Labels: c: feature, p: 1-normal, m: word

#2238 feat(location): update en county list
  src/locales/en/location/county.ts
  test/modules/__snapshots__/location.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: locale, m: location

#2363 feat(locale): add yo locale, start with person
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/yo_NG.ts
  src/locales/index.ts
  src/locales/yo_NG/index.ts
  src/locales/yo_NG/metadata.ts
  src/locales/yo_NG/person/female_first_name.ts
  src/locales/yo_NG/person/first_name.ts
  src/locales/yo_NG/person/index.ts
  src/locales/yo_NG/person/last_name.ts
  src/locales/yo_NG/person/last_name_pattern.ts
  src/locales/yo_NG/person/male_first_name.ts
  test/all_functional.spec.ts
Labels: c: feature, p: 1-normal, c: locale

#2337 feat(locale): add hacker for zh_CN
  src/locales/zh_CN/hacker/adjective.ts
  src/locales/zh_CN/hacker/index.ts
  src/locales/zh_CN/hacker/noun.ts
  src/locales/zh_CN/hacker/phrase.ts
  src/locales/zh_CN/hacker/verb.ts
  src/locales/zh_CN/index.ts
Labels: p: 1-normal, c: locale, m: hacker

#2273 feat(image): add image dataUri with base64
  src/modules/image/index.ts
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/image.spec.ts
Labels: c: feature, p: 1-normal, s: accepted

#2356 chore(finance): remove defunct credit card issuers
  src/locales/en/finance/credit_card/index.ts
  src/locales/en/finance/credit_card/instapayment.ts
  src/locales/en/finance/credit_card/laser.ts
  src/locales/en/finance/credit_card/solo.ts
  src/locales/en/finance/credit_card/switch.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
Labels: p: 1-normal, c: locale, m: finance

#2322 docs: mention file limits for locale PRs
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#2378 feat(locale): add commerce and company data for da
  src/locales/da/commerce/department.ts
  src/locales/da/commerce/index.ts
  src/locales/da/commerce/product_description.ts
  src/locales/da/commerce/product_name.ts
  src/locales/da/company/adjective.ts
  src/locales/da/company/buzz_adjective.ts
  src/locales/da/company/buzz_noun.ts
  src/locales/da/company/buzz_verb.ts
  src/locales/da/company/company_name.ts
  src/locales/da/company/descriptor.ts
  src/locales/da/company/index.ts
  src/locales/da/company/name_pattern.ts
  src/locales/da/company/noun.ts
  src/locales/da/company/suffix.ts
  src/locales/da/index.ts
Labels: p: 1-normal, c: locale, m: commerce, m: company

#2142 feat(locale): add states for Croatia (hr)
  src/locales/hr/location/county.ts
  src/locales/hr/location/index.ts
  src/locales/hr/location/state.ts
Labels: c: feature, p: 1-normal, c: locale, m: location

#2240 feat(commerce): Add method for generating ISBN-10 and ISBN-13
  src/modules/commerce/index.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
  test/modules/commerce.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: commerce

#2290 chore(helpers): deprecate regexpStyleStringParse
  docs/guide/upgrading.md
  src/modules/helpers/index.ts
Labels: c: chore, s: accepted, m: helpers, deprecation

#2380 feat(locale): fix wide month and add music for zh_CN
  src/locales/zh_CN/date/month.ts
  src/locales/zh_CN/music/song_name.ts
Labels: p: 1-normal, c: refactor, c: locale, m: date, m: music

#2382 chore(deps): regenerate lock file
  pnpm-lock.yaml
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
Labels: c: dependencies

#2383 chore(deps): update ci dependencies
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: c: dependencies

#2384 chore(deps): update dev dependencies
  package.json
  pnpm-lock.yaml
Labels: c: dependencies

#2323 refactor(internet): remove avatar_uri definitions
  src/locales/en/internet/avatar_uri.ts
  src/locales/en/internet/index.ts
Labels: p: 1-normal, c: refactor, m: internet

#2389 feat(locale): da data for date, phone, internet
  src/locales/da/date/index.ts
  src/locales/da/date/month.ts
  src/locales/da/date/weekday.ts
  src/locales/da/index.ts
  src/locales/da/internet/domain_suffix.ts
  src/locales/da/internet/free_email.ts
  src/locales/da/internet/index.ts
  src/locales/da/phone_number/formats.ts
  src/locales/da/phone_number/index.ts
Labels: p: 1-normal, c: locale, m: date, m: internet, m: phone

#2325 feat(location): Support ISO 3166-1 numeric country codes
  src/definitions/location.ts
  src/locales/base/location/country_code.ts
  src/locales/de_CH/location/country_code.ts
  src/locales/fr_CH/location/country_code.ts
  src/modules/location/index.ts
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/location.spec.ts
Labels: c: feature, p: 1-normal, m: location, s: waiting for user interest

#2316 fix(image): dataUri is not random
  src/modules/image/index.ts
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/image.spec.ts
Labels: p: 1-normal, c: refactor, m: image

#2370 feat(locale): Add finance module for zh_CN
  src/locales/zh_CN/finance/account_type.ts
  src/locales/zh_CN/finance/credit_card/index.ts
  src/locales/zh_CN/finance/credit_card/mastercard.ts
  src/locales/zh_CN/finance/credit_card/visa.ts
  src/locales/zh_CN/finance/currency.ts
  src/locales/zh_CN/finance/index.ts
  src/locales/zh_CN/finance/transaction_type.ts
  src/locales/zh_CN/index.ts
Labels: p: 1-normal, c: locale, m: finance

#2398 ci: use node 20
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: c: infra

#2181 test(docs): disable versions check for external contributors
  test/docs/versions.spec.ts
Labels: c: bug, c: docs, p: 1-normal, c: test

#2369 feat: split SimpleFaker class from Faker
  docs/.vitepress/api-pages.ts
  docs/guide/usage.md
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/generate.ts
  src/faker.ts
  src/index.ts
  src/internal/bind-this-to-member-functions.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/helpers/index.ts
  src/modules/number/index.ts
  src/modules/string/index.ts
  src/simple-faker.ts
  test/simple-faker.spec.ts
Labels: c: feature, p: 1-normal

#2399 docs(contributing): clarify locale PR rules
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#2406 docs: show examples for modules
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/fakerUtilities.ts
  scripts/apidoc/markdown.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  test/scripts/apidoc/__snapshots__/module.spec.ts.snap
  test/scripts/apidoc/module.example.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal

#2407 chore(release): 8.1.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#2405 ci: check mergable by label
  .github/workflows/check-mergable-by-label.yml
Labels: p: 1-normal, c: infra

#2400 fix(locale): Dutch phone number
  src/locales/nl/phone_number/formats.ts
Labels: p: 1-normal, c: locale, m: phone

#2412 test: add more module jsdoc tests
  test/scripts/apidoc/__snapshots__/module.spec.ts.snap
  test/scripts/apidoc/module.example.ts
Labels: c: docs, p: 1-normal, c: test

#2411 infra: replace deprecated eslint config import
  .eslintrc.js
Labels: p: 1-normal, c: infra

#2338 feat(locale): add unionpay module for zh_CN
  src/locales/zh_CN/finance/credit_card/index.ts
  src/locales/zh_CN/finance/credit_card/unionpay.ts
  test/modules/finance.spec.ts
Labels: p: 1-normal, c: locale, m: finance

#2408 infra: lint all existing jsdocs
  .eslintrc.js
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/markdown.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/parameterDefaults.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  src/modules/date/index.ts
  src/modules/helpers/index.ts
  test/modules/location.spec.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
  test/scripts/apidoc/utils.ts
  test/support/times.ts
Labels: c: docs, p: 1-normal, c: infra

#2425 fix(docs): revert filter code that breaks search in docs
  docs/api/ApiIndex.vue
Labels: c: bug, c: docs, p: 1-normal

#2396 chore(finance): update mastercard patterns and test
  src/locales/el/finance/credit_card/mastercard.ts
  src/locales/en/finance/credit_card/mastercard.ts
  src/locales/fa/finance/credit_card/mastercard.ts
  src/locales/zh_CN/finance/credit_card/mastercard.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
Labels: c: chore, p: 1-normal, m: finance

#2395 feat(locale): add airline database science commerce and vehicle for zh_CN
  src/locales/zh_CN/airline/airline.ts
  src/locales/zh_CN/airline/airplane.ts
  src/locales/zh_CN/airline/airport.ts
  src/locales/zh_CN/airline/index.ts
  src/locales/zh_CN/commerce/department.ts
  src/locales/zh_CN/commerce/index.ts
  src/locales/zh_CN/commerce/product_description.ts
  src/locales/zh_CN/commerce/product_name.ts
  src/locales/zh_CN/database/column.ts
  src/locales/zh_CN/database/index.ts
  src/locales/zh_CN/index.ts
  src/locales/zh_CN/science/chemicalElement.ts
  src/locales/zh_CN/science/index.ts
  src/locales/zh_CN/science/unit.ts
  src/locales/zh_CN/vehicle/bicycle_type.ts
  src/locales/zh_CN/vehicle/fuel.ts
  src/locales/zh_CN/vehicle/index.ts
  src/locales/zh_CN/vehicle/manufacturer.ts
  src/locales/zh_CN/vehicle/type.ts
Labels: p: 1-normal, c: locale, m: commerce, m: database, m: science, m: vehicle, m: airline
