Repository faker-js/faker, pull requests merged in 2023-07, with the labels that each got.

#2229 refactor(phone): deprecate `format` argument for `phone.number`
  src/modules/helpers/index.ts
  src/modules/phone/index.ts
Labels: s: accepted, c: refactor, m: phone, deprecation

#2241 docs: fix typo
  src/faker.ts
Labels: c: docs, p: 1-normal, s: accepted

#2244 docs: fix jsdocs typos
  docs/guide/frameworks.md
  src/definitions/color.ts
  src/modules/color/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
Labels: c: docs, c: chore, p: 1-normal, s: accepted

#2232 feat(locale): add Dutch province abbreviations
  src/locales/nl/location/index.ts
  src/locales/nl/location/state.ts
  src/locales/nl/location/state_abbr.ts
Labels: c: feature, p: 1-normal, s: accepted, c: locale, m: location

#2233 feat(locale): add GB subdivision codes
  src/locales/en_GB/location/index.ts
  src/locales/en_GB/location/state.ts
  src/locales/en_GB/location/state_abbr.ts
Labels: c: feature, p: 1-normal, s: accepted, c: locale, m: location

#2237 feat(locale): update Dutch locale (nl)
  src/locales/nl/commerce/index.ts
  src/locales/nl/commerce/product_description.ts
  src/locales/nl/commerce/product_name.ts
  src/locales/nl/internet/domain_suffix.ts
  src/locales/nl/person/female_prefix.ts
  src/locales/nl/person/male_prefix.ts
Labels: p: 1-normal, c: locale

#2231 feat(locale): add states for Turkey (tr)
  src/locales/tr/location/index.ts
  src/locales/tr/location/state.ts
Labels: p: 1-normal, c: locale

#2222 refactor(git): don't use Intl
  .eslintrc.js
  src/modules/git/index.ts
  test/git.spec.ts
Labels: p: 1-normal, c: refactor, m: git

#2102 infra: reduce tsconfig complexity
  .eslintrc.js
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/.vitepress/tsconfig.json
  package.json
  test/scripts/apidoc/tsconfig.json
  test/scripts/apidoc/utils.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.check-scripts.json
  tsconfig.check-tests.json
  tsconfig.json
  tsconfig.lint.json
Labels: p: 1-normal, c: infra

#2253 infra: ignore .pnpm-store
  .prettierignore
Labels: c: infra

#2242 refactor(lorem): merge supplemental into words
  src/locales/dv/lorem/index.ts
  src/locales/dv/lorem/supplemental.ts
  src/locales/en/lorem/index.ts
  src/locales/en/lorem/supplemental.ts
  src/locales/en/lorem/words.ts
  src/locales/he/lorem/index.ts
  src/locales/he/lorem/supplemental.ts
  src/locales/ja/lorem/index.ts
  src/locales/ja/lorem/supplemental.ts
  src/locales/ja/lorem/words.ts
  src/locales/lv/lorem/index.ts
  src/locales/lv/lorem/supplemental.ts
  src/locales/lv/lorem/words.ts
  src/locales/ur/lorem/index.ts
  src/locales/ur/lorem/supplemental.ts
  src/locales/ur/lorem/words.ts
  test/__snapshots__/image.spec.ts.snap
  test/__snapshots__/lorem.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
Labels: p: 1-normal, c: refactor, m: lorem

#2254 chore: enable strictBindCallApply
  src/internal/bind-this-to-member-functions.ts
  src/modules/airline/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
  test/internal/bind-this-to-member-functions.spec.ts
  tsconfig.json
Labels: c: chore

#2263 chore: remove legacy locale folder
  .gitignore
  package.json
  scripts/bundle.ts
  test/locale-imports.spec.ts
  tsconfig.json
Labels: c: chore, p: 1-normal, s: needs decision

#2264 docs: fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#2266 chore: ignore lint warning
  src/internal/bind-this-to-member-functions.ts
Labels: c: chore, p: 1-normal

#2119 fix(location): avoid hyphenated surnames in city patterns
  src/locales/en_AU/location/city_pattern.ts
  src/locales/en_CA/location/city_pattern.ts
  src/locales/en_GB/location/city_pattern.ts
  src/locales/en_IE/location/city_pattern.ts
  src/locales/en_US/location/city_pattern.ts
  src/locales/fr_CA/location/city_pattern.ts
  src/locales/pt_BR/location/city_pattern.ts
Labels: p: 1-normal, c: locale, m: location

#2128 feat(locale): add states to vi locale and fix city name
  src/locales/vi/location/city_name.ts
  src/locales/vi/location/index.ts
  src/locales/vi/location/state.ts
Labels: c: feature, p: 1-normal, c: locale, m: location

#2239 fix(helpers): prevent uniqueArray from hanging
  src/modules/helpers/index.ts
  test/helpers.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: helpers

#2269 feat(location): add states for pt_PT
  src/locales/pt_PT/location/index.ts
  src/locales/pt_PT/location/state.ts
Labels: p: 1-normal, c: locale, m: location

#2281 fix(test): fix imports for jsdocs example verification
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: bug, p: 1-normal, c: test
