Repository faker-js/faker, pull requests merged in 2023-11, with the labels that each got.

#2489 docs: how to use with Playwright
  docs/guide/frameworks.md
Labels: c: docs, p: 1-normal

#2523 refactor(person): remove duplicate title definitions
  src/locales/cs_CZ/person/index.ts
  src/locales/cs_CZ/person/title.ts
  src/locales/he/person/index.ts
  src/locales/he/person/title.ts
  src/locales/pl/person/index.ts
  src/locales/pl/person/title.ts
  src/locales/sk/person/index.ts
  src/locales/sk/person/title.ts
Labels: c: refactor, c: locale, m: person

#2467 infra(typescript-eslint): strict-type-checked
  .eslintrc.js
  src/modules/finance/index.ts
  src/modules/image/index.ts
  src/modules/word/filter-word-list-by-length.ts
  test/modules/helpers.spec.ts
  test/scripts/apidoc/module.example.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: infra

#2485 refactor: simplify module creation
  src/internal/module-base.ts
  src/modules/airline/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
Labels: p: 1-normal, s: accepted, c: refactor

#2512 infra(unicorn): prefer-negative-index
  .eslintrc.js
  scripts/apidoc/signature.ts
Labels: p: 1-normal, s: accepted, c: infra

#2526 refactor(locale): remove fr_CH data which is identical to fr
  src/locales/fr_CH/animal/bear.ts
  src/locales/fr_CH/animal/bird.ts
  src/locales/fr_CH/animal/cat.ts
  src/locales/fr_CH/animal/cetacean.ts
  src/locales/fr_CH/animal/cow.ts
  src/locales/fr_CH/animal/crocodilia.ts
  src/locales/fr_CH/animal/dog.ts
  src/locales/fr_CH/animal/fish.ts
  src/locales/fr_CH/animal/horse.ts
  src/locales/fr_CH/animal/index.ts
  src/locales/fr_CH/animal/insect.ts
  src/locales/fr_CH/animal/lion.ts
  src/locales/fr_CH/animal/rabbit.ts
  src/locales/fr_CH/animal/snake.ts
  src/locales/fr_CH/animal/type.ts
  src/locales/fr_CH/color/human.ts
  src/locales/fr_CH/color/index.ts
  src/locales/fr_CH/commerce/department.ts
  src/locales/fr_CH/commerce/index.ts
  src/locales/fr_CH/commerce/product_description.ts
  src/locales/fr_CH/commerce/product_name.ts
  src/locales/fr_CH/date/index.ts
  src/locales/fr_CH/date/month.ts
  src/locales/fr_CH/date/weekday.ts
  src/locales/fr_CH/finance/account_type.ts
  src/locales/fr_CH/finance/currency.ts
  src/locales/fr_CH/finance/index.ts
  src/locales/fr_CH/finance/transaction_type.ts
  src/locales/fr_CH/index.ts
  src/locales/fr_CH/music/genre.ts
  src/locales/fr_CH/music/index.ts
  src/locales/fr_CH/vehicle/bicycle_type.ts
  src/locales/fr_CH/vehicle/fuel.ts
  src/locales/fr_CH/vehicle/index.ts
  src/locales/fr_CH/vehicle/type.ts
  src/locales/fr_CH/word/adjective.ts
  src/locales/fr_CH/word/adverb.ts
  src/locales/fr_CH/word/conjunction.ts
  src/locales/fr_CH/word/index.ts
  src/locales/fr_CH/word/interjection.ts
  src/locales/fr_CH/word/noun.ts
  src/locales/fr_CH/word/preposition.ts
  src/locales/fr_CH/word/verb.ts
Labels: p: 1-normal, c: locale, m: animal, m: color, m: commerce, m: date, m: finance, m: music, m: vehicle, m: word

#2507 infra(unicorn): no-negated-condition
  .eslintrc.js
  scripts/apidoc/diff.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
Labels: p: 1-normal, c: infra

#2479 infra(unicorn): no-array-reduce
  .eslintrc.js
  scripts/apidoc/writer.ts
  src/internal/group-by.ts
  src/modules/word/filter-word-list-by-length.ts
  test/all-functional.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: infra

#2494 fix(finance): maskedNumber has incorrect defaults
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: finance

#2520 fix(locale): improve Swedish phone numbers format
  src/locales/sv/phone_number/formats.ts
Labels: p: 1-normal, c: locale, m: phone

#2528 feat(person): use fake patterns for jobTitle
  src/definitions/person.ts
  src/locales/en/person/index.ts
  src/locales/en/person/job_title_pattern.ts
  src/locales/es/person/index.ts
  src/locales/es/person/job_title_pattern.ts
  src/modules/person/index.ts
Labels: c: feature, p: 1-normal, m: person

#2525 feat(locale): add Senegal locale
  docs/guide/localization.md
  src/locale/fr_SN.ts
  src/locale/index.ts
  src/locales/fr_SN/index.ts
  src/locales/fr_SN/internet/domain_suffix.ts
  src/locales/fr_SN/internet/free_email.ts
  src/locales/fr_SN/internet/index.ts
  src/locales/fr_SN/metadata.ts
  src/locales/index.ts
  test/all-functional.spec.ts
Labels: p: 1-normal, c: locale

#2497 refactor(string): remove arbitrary limit from sample
  src/modules/string/index.ts
  test/modules/datatype.spec.ts
  test/modules/string.spec.ts
Labels: p: 1-normal, c: refactor, m: string

#2519 infra(typescript-eslint): switch-exhaustiveness-check
  .eslintrc.js
  src/modules/color/index.ts
Labels: p: 1-normal, s: accepted, c: infra

#2533 feat(locale): and location to fr_SN
  src/locales/fr_SN/index.ts
  src/locales/fr_SN/location/building_number.ts
  src/locales/fr_SN/location/city_name.ts
  src/locales/fr_SN/location/city_pattern.ts
  src/locales/fr_SN/location/default_country.ts
  src/locales/fr_SN/location/index.ts
  src/locales/fr_SN/location/postcode.ts
  src/locales/fr_SN/location/state.ts
Labels: p: 1-normal, c: locale, m: location

#2530 docs: restructure apidocs page tree
  docs/.vitepress/api-pages.ts
  scripts/apidoc/faker-class.ts
  scripts/apidoc/faker-utilities.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/module-methods.ts
  scripts/apidoc/utils.ts
  scripts/apidoc/writer.ts
Labels: c: docs, p: 1-normal

#2537 feat(locale): add person to fr_SN
  src/locales/fr_SN/index.ts
  src/locales/fr_SN/person/female_first_name.ts
  src/locales/fr_SN/person/first_name.ts
  src/locales/fr_SN/person/index.ts
  src/locales/fr_SN/person/last_name.ts
  src/locales/fr_SN/person/last_name_pattern.ts
  src/locales/fr_SN/person/male_first_name.ts
  src/locales/fr_SN/person/name.ts
Labels: p: 1-normal, c: locale, m: person

#2535 fix(date): ensures correct range for birthdate
  src/modules/date/index.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/date.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: date

#2177 test(docs): ensure defaults are consistent
  scripts/apidoc/parameter-defaults.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  src/modules/airline/index.ts
  src/modules/commerce/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal, c: test, s: accepted

#2536 feat(locale): Add Street to location fr_SN
  src/locales/fr_SN/location/index.ts
  src/locales/fr_SN/location/secondary_address.ts
  src/locales/fr_SN/location/street_address.ts
  src/locales/fr_SN/location/street_pattern.ts
  src/locales/fr_SN/location/street_prefix.ts
  src/locales/fr_SN/location/street_suffix.ts
Labels: p: 1-normal, c: locale, m: location

#2435 infra: enable strictNullChecks in tsconfig
  cypress/e2e/api.cy.ts
  docs/.vitepress/config.ts
  docs/.vitepress/versions.ts
  scripts/apidoc/faker-class.ts
  scripts/apidoc/signature.ts
  src/definitions/date.ts
  src/definitions/definitions.ts
  src/locale-proxy.ts
  src/modules/airline/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/internet/index.ts
  src/modules/person/index.ts
  src/modules/random/index.ts
  test/faker.spec.ts
  test/modules/airline.spec.ts
  test/modules/finance-iban.spec.ts
  test/modules/helpers.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
  test/vitest-extensions.ts
  tsconfig.json
Labels: p: 1-normal, c: infra

#2510 infra(unicorn): prefer-module
  .eslintrc.js
  scripts/apidoc/utils.ts
  scripts/generate-locales.ts
  test/all-functional.spec.ts
  test/faker.spec.ts
  test/locale-imports.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
  test/simple-faker.spec.ts
Labels: p: 1-normal, c: infra

#2546 chore(release): 8.3.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#2548 fix: remove `@internal` from module parent classes
  src/internal/module-base.ts
Labels: c: bug, p: 3-urgent, s: accepted

#2549 chore(release): 8.3.1
  CHANGELOG.md
  package.json
Labels: c: release

#2544 docs: change Ecosystem heading to Try it
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal

#2531 feat(person): add job titles for fr
  src/locales/fr/person/index.ts
  src/locales/fr/person/job_title_pattern.ts
  src/locales/fr/person/title.ts
  src/locales/fr_BE/person/index.ts
  src/locales/fr_BE/person/title.ts
  src/locales/fr_CH/person/index.ts
  src/locales/fr_CH/person/title.ts
  test/all-functional.spec.ts
Labels: p: 1-normal, m: person

#2552 fix(finance): correct VG IBAN format
  src/modules/finance/iban.ts
Labels: c: bug, p: 1-normal, m: finance

#2506 fix(internet): username method to return value that always includes…
  src/modules/internet/index.ts
  test/modules/__snapshots__/git.spec.ts.snap
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/internet.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: internet

#2551 chore(deps): update eslint-define-config
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: c: dependencies

#2473 docs: consistent @see jsdoc tags
  src/definitions/finance.ts
  src/definitions/hacker.ts
  src/definitions/phone_number.ts
  src/faker.ts
  src/modules/company/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  src/simple-faker.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal

#2509 infra(unicorn): prefer-code-point
  .eslintrc.js
  src/modules/finance/iban.ts
  src/modules/helpers/index.ts
  src/modules/internet/index.ts
  src/modules/string/index.ts
  test/modules/internet.spec.ts
Labels: p: 1-normal, c: infra

#2532 refactor: improve groupBy
  scripts/apidoc/writer.ts
  src/internal/group-by.ts
  test/internal/group-by.spec.ts
Labels: p: 1-normal, c: refactor

#2558 fix(locale): incomplete airline names in zh_CN
  src/locales/zh_CN/airline/airline.ts
Labels: c: bug, p: 1-normal, c: locale, m: airline
