Repository faker-js/faker, pull requests merged in 2023-04, with the labels that each got.

#1790 refactor(helpers): deprecate unique method
  src/modules/helpers/index.ts
Labels: p: 1-normal, c: refactor, m: helpers, deprecation

#1721 feat(locale): extend Hebrew locale data
  src/locales/he/color/human.ts
  src/locales/he/music/genre.ts
Labels: p: 1-normal, c: locale, m: color, m: music

#1873 refactor: restore en_IND
  docs/guide/upgrading.md
  src/locale/en_IND.ts
Labels: s: accepted, c: refactor, c: locale, deprecation

#1922 feat(locale): add locale TH
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/th.ts
  src/locales/index.ts
  src/locales/th/animal/cat.ts
  src/locales/th/animal/dog.ts
  src/locales/th/animal/index.ts
  src/locales/th/color/human.ts
  src/locales/th/color/index.ts
  src/locales/th/date/index.ts
  src/locales/th/date/month.ts
  src/locales/th/date/weekday.ts
  src/locales/th/index.ts
  src/locales/th/internet/domain_suffix.ts
  src/locales/th/internet/index.ts
  src/locales/th/location/building_number.ts
  src/locales/th/location/city_prefix.ts
  src/locales/th/location/city_suffix.ts
  src/locales/th/location/country.ts
  src/locales/th/location/default_country.ts
  src/locales/th/location/index.ts
  src/locales/th/location/postcode.ts
  src/locales/th/location/state.ts
  src/locales/th/location/street_name.ts
  src/locales/th/metadata.ts
  src/locales/th/person/female_first_name.ts
  src/locales/th/person/female_prefix.ts
  src/locales/th/person/index.ts
  src/locales/th/person/last_name.ts
  src/locales/th/person/male_first_name.ts
  src/locales/th/person/male_prefix.ts
  src/locales/th/person/name.ts
  src/locales/th/person/prefix.ts
  src/locales/th/person/sex.ts
  src/locales/th/phone_number/formats.ts
  src/locales/th/phone_number/index.ts
Labels: p: 1-normal, c: locale

#2005 docs(person): fix formatting issues
  src/modules/person/index.ts
Labels: c: docs, p: 1-normal, s: accepted

#2008 fix: typo in Faker jsdocs
  src/faker.ts
Labels: c: docs, p: 1-normal, s: accepted

#2003 infra: extend preflight
  package.json
Labels: p: 1-normal, c: infra

#1996 feat(locale): add en_US location.county data
  src/locales/en_US/location/county.ts
  src/locales/en_US/location/index.ts
  src/modules/location/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1940 docs: Faker and utility pages
  cypress/e2e/api.cy.ts
  docs/.vitepress/api-pages.ts
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  docs/api/ApiIndex.vue
  scripts/apidoc.ts
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/fakerUtilities.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.debug.ts
  test/scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal, s: accepted, c: infra

#1992 refactor(finance)!: simplify account implementation
  src/modules/finance/index.ts
  test/finance.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: finance

#2002 docs: normalize blocks
  docs/about/announcements/2022-01-14.md
  docs/guide/localization.md
  docs/guide/upgrading.md
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#2010 refactor(locale): rename ge to ka_GE
  docs/guide/localization.md
  docs/guide/upgrading.md
  src/locale/ge.ts
  src/locale/index.ts
  src/locale/ka_GE.ts
  src/locales/index.ts
  src/locales/ka_GE/cell_phone/formats.ts
  src/locales/ka_GE/cell_phone/index.ts
  src/locales/ka_GE/company/index.ts
  src/locales/ka_GE/company/name_patterns.ts
  src/locales/ka_GE/company/prefix.ts
  src/locales/ka_GE/company/suffix.ts
  src/locales/ka_GE/index.ts
  src/locales/ka_GE/internet/domain_suffix.ts
  src/locales/ka_GE/internet/free_email.ts
  src/locales/ka_GE/internet/index.ts
  src/locales/ka_GE/location/building_number.ts
  src/locales/ka_GE/location/city.ts
  src/locales/ka_GE/location/city_name.ts
  src/locales/ka_GE/location/city_prefix.ts
  src/locales/ka_GE/location/city_suffix.ts
  src/locales/ka_GE/location/country.ts
  src/locales/ka_GE/location/default_country.ts
  src/locales/ka_GE/location/index.ts
  src/locales/ka_GE/location/postcode.ts
  src/locales/ka_GE/location/secondary_address.ts
  src/locales/ka_GE/location/street.ts
  src/locales/ka_GE/location/street_address.ts
  src/locales/ka_GE/location/street_name.ts
  src/locales/ka_GE/location/street_suffix.ts
  src/locales/ka_GE/metadata.ts
  src/locales/ka_GE/person/female_prefix.ts
  src/locales/ka_GE/person/first_name.ts
  src/locales/ka_GE/person/index.ts
  src/locales/ka_GE/person/last_name.ts
  src/locales/ka_GE/person/last_name_patterns.ts
  src/locales/ka_GE/person/male_prefix.ts
  src/locales/ka_GE/person/name.ts
  src/locales/ka_GE/person/prefix.ts
  src/locales/ka_GE/person/title.ts
  src/locales/ka_GE/phone_number/formats.ts
  src/locales/ka_GE/phone_number/index.ts
Labels: c: refactor, c: locale

#2009 chore: activate eslint no-else-return
  .eslintrc.js
  scripts/apidoc/diff.ts
  scripts/apidoc/signature.ts
  scripts/generateLocales.ts
  src/modules/helpers/unique.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/word/filterWordListByLength.ts
Labels: c: chore

#2001 docs(helpers): document unique deprecation
  docs/guide/upgrading.md
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#2013 refactor(locale): rename cz to cs_CZ
  docs/guide/localization.md
  docs/guide/upgrading.md
  src/locale/cs_CZ.ts
  src/locale/cz.ts
  src/locale/index.ts
  src/locales/cs_CZ/company/adjective.ts
  src/locales/cs_CZ/company/descriptor.ts
  src/locales/cs_CZ/company/index.ts
  src/locales/cs_CZ/company/name_patterns.ts
  src/locales/cs_CZ/company/noun.ts
  src/locales/cs_CZ/company/suffix.ts
  src/locales/cs_CZ/date/index.ts
  src/locales/cs_CZ/date/month.ts
  src/locales/cs_CZ/date/weekday.ts
  src/locales/cs_CZ/index.ts
  src/locales/cs_CZ/internet/domain_suffix.ts
  src/locales/cs_CZ/internet/free_email.ts
  src/locales/cs_CZ/internet/index.ts
  src/locales/cs_CZ/location/building_number.ts
  src/locales/cs_CZ/location/city.ts
  src/locales/cs_CZ/location/city_name.ts
  src/locales/cs_CZ/location/country.ts
  src/locales/cs_CZ/location/default_country.ts
  src/locales/cs_CZ/location/index.ts
  src/locales/cs_CZ/location/postcode.ts
  src/locales/cs_CZ/location/secondary_address.ts
  src/locales/cs_CZ/location/state.ts
  src/locales/cs_CZ/location/state_abbr.ts
  src/locales/cs_CZ/location/street.ts
  src/locales/cs_CZ/location/street_address.ts
  src/locales/cs_CZ/location/street_name.ts
  src/locales/cs_CZ/lorem/index.ts
  src/locales/cs_CZ/lorem/words.ts
  src/locales/cs_CZ/metadata.ts
  src/locales/cs_CZ/person/female_first_name.ts
  src/locales/cs_CZ/person/female_last_name.ts
  src/locales/cs_CZ/person/female_last_name_patterns.ts
  src/locales/cs_CZ/person/female_prefix.ts
  src/locales/cs_CZ/person/first_name.ts
  src/locales/cs_CZ/person/index.ts
  src/locales/cs_CZ/person/last_name.ts
  src/locales/cs_CZ/person/male_first_name.ts
  src/locales/cs_CZ/person/male_last_name.ts
  src/locales/cs_CZ/person/male_last_name_patterns.ts
  src/locales/cs_CZ/person/male_prefix.ts
  src/locales/cs_CZ/person/name.ts
  src/locales/cs_CZ/person/prefix.ts
  src/locales/cs_CZ/person/suffix.ts
  src/locales/cs_CZ/person/title.ts
  src/locales/cs_CZ/phone_number/formats.ts
  src/locales/cs_CZ/phone_number/index.ts
  src/locales/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, c: locale

#2028 infra: add labels to feature issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: p: 1-normal, s: accepted, c: infra

#1874 refactor(location)!: zip code state
  docs/guide/upgrading.md
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: location

#2027 refactor(company): remove English locale definitions from company in non-English locales
  src/locales/cs_CZ/company/adjective.ts
  src/locales/cs_CZ/company/descriptor.ts
  src/locales/cs_CZ/company/index.ts
  src/locales/cs_CZ/company/noun.ts
  src/locales/fr/company/adjective.ts
  src/locales/fr/company/buzz_adjective.ts
  src/locales/fr/company/buzz_noun.ts
  src/locales/fr/company/buzz_verb.ts
  src/locales/fr/company/descriptor.ts
  src/locales/fr/company/index.ts
  src/locales/fr/company/noun.ts
  src/locales/pl/company/adjective.ts
  src/locales/pl/company/buzz_adjective.ts
  src/locales/pl/company/buzz_noun.ts
  src/locales/pl/company/buzz_verb.ts
  src/locales/pl/company/descriptor.ts
  src/locales/pl/company/index.ts
  src/locales/pl/company/noun.ts
  src/locales/sk/company/adjective.ts
  src/locales/sk/company/descriptor.ts
  src/locales/sk/company/index.ts
  src/locales/sk/company/noun.ts
Labels: c: chore, p: 1-normal, s: accepted, c: locale, m: company

#2030 docs: document format of locale codes, allFakers and allLocales
  docs/guide/localization.md
Labels: c: docs, p: 1-normal, c: locale

#2033 chore(business): remove old business data
  docs/guide/upgrading.md
  src/locales/el/business/credit_card_expiry_dates.ts
  src/locales/el/business/credit_card_numbers.ts
  src/locales/el/business/credit_card_types.ts
  src/locales/el/business/index.ts
  src/locales/el/index.ts
  src/locales/en/business/credit_card_expiry_dates.ts
  src/locales/en/business/credit_card_numbers.ts
  src/locales/en/business/credit_card_types.ts
  src/locales/en/business/index.ts
  src/locales/en/index.ts
  src/locales/ur/business/credit_card_types.ts
  src/locales/ur/business/index.ts
  src/locales/ur/index.ts
  test/faker.spec.ts
Labels: c: chore, p: 1-normal, c: locale, breaking change, m: finance

#2029 fix(locales): remove wrong phone number in Portugal
  src/locales/pt_PT/phone_number/formats.ts
Labels: p: 1-normal, s: accepted, c: locale, m: phone

#2043 docs: fix docs:dev api search completion navigation
  docs/api/ApiIndex.vue
Labels: c: bug, c: docs, p: 1-normal

#2042 infra: remove typedoc-plugin-missing-exports dependency
  package.json
  pnpm-lock.yaml
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: p: 1-normal, c: dependencies, c: infra

#2049 chore: reword to elements
  src/modules/helpers/index.ts
Labels: c: chore

#2052 test: rename type to singular
  test/support/seededRuns.ts
Labels: c: chore, p: 1-normal, c: test

#2050 docs: document @throws parameter in API docs
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, s: accepted

#2063 chore: unify todos
  scripts/generateLocales.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/image/providers/lorempicsum.ts
  src/utils/types.ts
  test/all_functional.spec.ts
Labels: c: chore, p: 1-normal, s: accepted

#2056 chore: consistent jsdocs tag formatting
  src/faker.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/person/index.ts
  src/modules/system/index.ts
  src/utils/merge-locales.ts
Labels: c: chore, p: 1-normal

#2061 chore(location): standardize abbreviated parameter
  src/modules/location/index.ts
  src/modules/random/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: p: 1-normal, c: refactor, m: location, deprecation

#2060 refactor(location): merge state and stateAbbr
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: p: 1-normal, s: accepted, m: location, deprecation

#2068 refactor(date): rename abbr to abbreviated
  src/modules/date/index.ts
  test/__snapshots__/date.spec.ts.snap
  test/date.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: date, deprecation

#2054 refactor(finance): rename account to accountNumber
  docs/guide/upgrading.md
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: finance

#2055 refactor(finance): rename mask to maskedNumber
  docs/guide/upgrading.md
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: p: 1-normal, c: refactor, m: finance

#2024 docs: check api references
  scripts/apidoc.ts
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/markdown.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  src/modules/image/index.ts
  test/scripts/apidoc/signature.debug.ts
  test/scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/utils.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal, c: test

#2067 docs: strikethrough deprecated methods on api index
  docs/api/ApiIndex.vue
  docs/api/api-types.ts
  scripts/apidoc/apiDocsWriter.ts
Labels: c: docs, p: 1-normal, s: accepted

#2071 refactor(location): deprecate streetName
  docs/guide/upgrading.md
  src/modules/location/index.ts
Labels: s: accepted, c: refactor, m: location, deprecation

#2070 refactor(location): deprecate cityName
  docs/guide/upgrading.md
  src/modules/location/index.ts
  src/modules/random/index.ts
  test/__snapshots__/random.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: refactor, m: location, deprecation

#2045 refactor(helpers)!: remove default value from arrayElement
  docs/guide/upgrading.md
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/__snapshots__/location.spec.ts.snap
  test/all_functional.spec.ts
  test/helpers.spec.ts
  test/location.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: helpers

#2076 infra: add funding and bugs link
  package.json
Labels: c: chore, p: 1-normal, c: infra

#2077 fix: export AircraftType correctly as type
  src/index.ts
Labels: c: bug, p: 1-normal, s: accepted

#2075 feat(locale): add city names for th
  src/locales/th/location/city.ts
  src/locales/th/location/city_name.ts
  src/locales/th/location/index.ts
  test/all_functional.spec.ts
Labels: c: feature, p: 1-normal, m: location

#2053 refactor(datatype): deprecate datetime
  docs/guide/upgrading.md
  src/modules/datatype/index.ts
Labels: s: accepted, c: refactor, m: datatype, deprecation

#2041 infra: auto comment on feature requests
  .github/workflows/comment-issue.yml
Labels: p: 1-normal, s: accepted, c: infra

#2078 refactor(locale): use null as not applicable
  src/definitions/definitions.ts
  src/definitions/person.ts
  src/locales/az/company/suffix.ts
  src/locales/az/location/state.ts
  src/locales/az/person/female_prefix.ts
  src/locales/az/person/male_prefix.ts
  src/locales/az/person/prefix.ts
  src/locales/az/person/suffix.ts
  src/locales/id_ID/person/female_prefix.ts
  src/locales/id_ID/person/male_prefix.ts
  src/locales/id_ID/person/prefix.ts
  src/locales/it/person/suffix.ts
  src/locales/mk/person/suffix.ts
  src/locales/pt_BR/location/city_prefix.ts
  src/locales/pt_PT/location/city_prefix.ts
  src/locales/pt_PT/location/city_suffix.ts
  src/locales/pt_PT/person/suffix.ts
  src/locales/ru/person/female_prefix.ts
  src/locales/ru/person/male_prefix.ts
  src/locales/ru/person/prefix.ts
  src/locales/ru/person/suffix.ts
  src/locales/sk/location/state.ts
  src/locales/sk/location/state_abbr.ts
  src/locales/th/location/city_prefix.ts
  src/locales/th/location/city_suffix.ts
  src/locales/zh_CN/person/female_prefix.ts
  src/locales/zh_CN/person/male_prefix.ts
  src/locales/zh_CN/person/prefix.ts
  src/locales/zh_TW/person/female_prefix.ts
  src/locales/zh_TW/person/male_prefix.ts
  src/locales/zh_TW/person/prefix.ts
  test/person.spec.ts
  test/utils/merge-locales.spec.ts
Labels: p: 1-normal, c: refactor, c: locale

#1997 feat(locale): de color human
  src/locales/de/color/human.ts
  src/locales/de/color/index.ts
  src/locales/de/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: color

#2004 feat: introduce locale proxy
  docs/guide/upgrading.md
  src/definitions/definitions.ts
  src/faker.ts
  src/locale-proxy.ts
  src/modules/helpers/index.ts
  src/modules/location/index.ts
  src/modules/person/index.ts
  test/all_functional.spec.ts
  test/faker.spec.ts
  test/locale-proxy.spec.ts
  test/location.spec.ts
  test/person.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, breaking change

#2085 fix: script error
  scripts/generateLocales.ts
Labels: c: bug, p: 1-normal, c: infra

#2083 feat(locale): add en_HK locale
  docs/guide/localization.md
  docs/guide/upgrading.md
  src/locale/en_HK.ts
  src/locale/index.ts
  src/locales/en_HK/company/index.ts
  src/locales/en_HK/company/suffix.ts
  src/locales/en_HK/index.ts
  src/locales/en_HK/internet/domain_suffix.ts
  src/locales/en_HK/internet/index.ts
  src/locales/en_HK/location/building_number.ts
  src/locales/en_HK/location/city.ts
  src/locales/en_HK/location/default_country.ts
  src/locales/en_HK/location/index.ts
  src/locales/en_HK/location/postcode.ts
  src/locales/en_HK/location/postcode_by_state.ts
  src/locales/en_HK/location/state.ts
  src/locales/en_HK/location/state_abbr.ts
  src/locales/en_HK/location/street_cantonese_part.ts
  src/locales/en_HK/location/street_english_part.ts
  src/locales/en_HK/location/street_pattern.ts
  src/locales/en_HK/location/street_prefix.ts
  src/locales/en_HK/location/street_suffix.ts
  src/locales/en_HK/metadata.ts
  src/locales/en_HK/person/index.ts
  src/locales/en_HK/person/last_name.ts
  src/locales/en_HK/person/last_name_patterns.ts
  src/locales/en_HK/person/name.ts
  src/locales/en_HK/phone_number/formats.ts
  src/locales/en_HK/phone_number/index.ts
  src/locales/index.ts
  test/all_functional.spec.ts
Labels: c: feature, p: 1-normal, c: locale

#2092 fix: add support for equals on locale proxies
  src/locale-proxy.ts
  test/locale-proxy.spec.ts
Labels: c: bug, p: 2-high

#2096 feat(date): introduce anytime
  docs/guide/upgrading.md
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  test/__snapshots__/date.spec.ts.snap
  test/date.spec.ts
Labels: c: feature, p: 1-normal, s: accepted

#2097 chore: eslint report-unused-disable-directives
  .eslintrc.js
  package.json
  src/internal/deprecated.ts
  test/locale-imports.spec.ts
Labels: c: chore, p: 1-normal, c: infra

#2095 docs: add npm script descriptions to CONTRIBUTING
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal, s: accepted

#2072 chore(helpers): move unique store into faker instance
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
Labels: c: chore, p: 1-normal, m: helpers

#2099 fix(types): locale proxy
  src/locale-proxy.ts
  src/modules/helpers/index.ts
  src/modules/word/filterWordListByLength.ts
Labels: c: bug, p: 2-high

#2101 docs: fix full url to absolute conversion
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/markdown.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/__snapshots__/module.spec.ts.snap
  test/scripts/apidoc/module.example.ts
  test/scripts/apidoc/module.spec.ts
  test/scripts/apidoc/tsconfig.json
  test/scripts/apidoc/utils.ts
Labels: c: bug, c: docs, p: 1-normal

#2109 fix(locale): es cities should be in city_name not city_prefix, remove extraneous city_suffix
  src/locales/es/location/city_name.ts
  src/locales/es/location/city_pattern.ts
  src/locales/es/location/index.ts
  src/locales/es_MX/location/city_name.ts
  src/locales/es_MX/location/city_pattern.ts
  src/locales/es_MX/location/city_suffix.ts
  src/locales/es_MX/location/index.ts
Labels: p: 1-normal, c: locale, m: location

#2105 fix(locale): fix en_HK city_pattern
  src/locales/en_HK/location/city_name.ts
  src/locales/en_HK/location/city_pattern.ts
  src/locales/en_HK/location/index.ts
Labels: c: chore, p: 1-normal, s: accepted, c: locale

#2110 chore(release): 8.0.0-beta.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#2104 refactor(locale): add city_name to city_patterns
  src/locales/de/location/city_pattern.ts
  src/locales/en_CA/location/city_pattern.ts
  src/locales/it/location/city_pattern.ts
  src/locales/ka_GE/location/city_pattern.ts
  src/locales/ur/location/city_pattern.ts
Labels: p: 1-normal, s: accepted, c: refactor, c: locale
