Repository faker-js/faker, pull requests merged in 2023-05, with the labels that each got.

#2032 fix(location): no leading zero on building number or secondary address
  src/definitions/location.ts
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#2108 chore: improve regex usage
  scripts/apidoc/signature.ts
  src/modules/finance/index.ts
  src/modules/helpers/index.ts
  src/modules/internet/index.ts
Labels: c: chore, p: 1-normal

#2111 fix(locale): rename city_prefix to city_name for en_NG, en_ZA, en_AU_ocker
  src/locales/en_AU_ocker/location/city_name.ts
  src/locales/en_AU_ocker/location/city_pattern.ts
  src/locales/en_AU_ocker/location/index.ts
  src/locales/en_NG/location/city_name.ts
  src/locales/en_NG/location/city_pattern.ts
  src/locales/en_NG/location/index.ts
  src/locales/en_ZA/location/city_name.ts
  src/locales/en_ZA/location/city_pattern.ts
  src/locales/en_ZA/location/index.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#2084 feat(locale): add ro_MD locale
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/ro_MD.ts
  src/locales/index.ts
  src/locales/ro_MD/cell_phone/formats.ts
  src/locales/ro_MD/cell_phone/index.ts
  src/locales/ro_MD/date/index.ts
  src/locales/ro_MD/date/month.ts
  src/locales/ro_MD/date/weekday.ts
  src/locales/ro_MD/index.ts
  src/locales/ro_MD/internet/domain_suffix.ts
  src/locales/ro_MD/internet/free_email.ts
  src/locales/ro_MD/internet/index.ts
  src/locales/ro_MD/location/building_number.ts
  src/locales/ro_MD/location/city.ts
  src/locales/ro_MD/location/city_name.ts
  src/locales/ro_MD/location/city_prefix.ts
  src/locales/ro_MD/location/county.ts
  src/locales/ro_MD/location/default_country.ts
  src/locales/ro_MD/location/index.ts
  src/locales/ro_MD/location/postcode.ts
  src/locales/ro_MD/location/secondary_address.ts
  src/locales/ro_MD/location/state.ts
  src/locales/ro_MD/location/state_abbr.ts
  src/locales/ro_MD/location/street_address.ts
  src/locales/ro_MD/location/street_name_part.ts
  src/locales/ro_MD/location/street_pattern.ts
  src/locales/ro_MD/location/street_prefix.ts
  src/locales/ro_MD/metadata.ts
  src/locales/ro_MD/person/female_first_name.ts
  src/locales/ro_MD/person/female_prefix.ts
  src/locales/ro_MD/person/first_name.ts
  src/locales/ro_MD/person/index.ts
  src/locales/ro_MD/person/last_name.ts
  src/locales/ro_MD/person/male_first_name.ts
  src/locales/ro_MD/person/male_prefix.ts
  src/locales/ro_MD/person/name.ts
  src/locales/ro_MD/person/prefix.ts
  src/locales/ro_MD/person/suffix.ts
  src/locales/ro_MD/phone_number/formats.ts
  src/locales/ro_MD/phone_number/index.ts
  test/all_functional.spec.ts
Labels: c: feature, p: 1-normal, c: locale

#2116 fix(test): fix failing latitude test
  test/location.spec.ts
Labels: p: 1-normal, c: test, m: location

#2117 fix(locale): remove incorrect and unused city_prefix/suffix for sk
  src/locales/sk/location/city_prefix.ts
  src/locales/sk/location/city_suffix.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#2106 fix(locale): el county should be city_name
  src/locales/el/location/city_name.ts
  src/locales/el/location/city_pattern.ts
  src/locales/el/location/index.ts
Labels: p: 1-normal, s: accepted, c: locale

#2107 test: prepare test sources for strict mode
  test/helpers.spec.ts
  test/scripts/apidoc/signature.example.ts
  test/support/seededRuns.ts
  vite.config.ts
Labels: p: 1-normal, c: test, s: accepted

#2123 feat(helpers): new method `objectEntry`
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, m: helpers

#2120 fix(locale): remove unrealistic fictional city patterns in ne, ro, tr
  src/locales/ne/location/city_pattern.ts
  src/locales/ro/location/city_pattern.ts
  src/locales/tr/location/city_pattern.ts
Labels: p: 1-normal, c: locale, m: location

#2124 infra: use managed pnpm
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: p: 1-normal, c: infra

#2046 chore: rename generics
  .eslintrc.js
  scripts/apidoc/utils.ts
  scripts/generateLocales.ts
  src/definitions/definitions.ts
  src/locale-proxy.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/utils/types.ts
  test/all_functional.spec.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
  test/support/seededRuns.ts
Labels: c: chore, p: 1-normal, s: accepted

#2118 docs(location): mention real cities
  src/modules/location/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: location

#2129 chore(release): 8.0.0-beta.1
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#2125 fix(docs): fix faker v7 code example for locale migration
  docs/guide/upgrading.md
Labels: c: docs, p: 1-normal, c: locale

#2130 docs: streamline upgrading guide before release
  docs/guide/upgrading.md
Labels: c: docs, p: 1-normal, s: accepted

#2131 docs: minor enhancements
  docs/guide/index.md
  docs/guide/localization.md
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#2098 test: lint vitest
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  test/all_functional.spec.ts
  test/commerce.spec.ts
  test/datatype.spec.ts
  test/finance.spec.ts
  test/finance_iban.spec.ts
  test/helpers.spec.ts
  test/locale-data.spec.ts
  test/locale-proxy.spec.ts
  test/number.spec.ts
  test/random.spec.ts
  test/string.spec.ts
  test/vehicle.spec.ts
Labels: p: 1-normal, c: test, s: accepted

#2122 infra: support NodeJS v20
  .github/workflows/ci.yml
Labels: p: 1-normal, c: infra

#2145 docs: add contributing link from html docs back to github
  docs/.vitepress/config.ts
  docs/about/contributing.md
Labels: c: docs, p: 1-normal

#2150 chore(release): 8.0.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#2138 docs: Document what should appear in migration guide
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal, s: needs decision

#2152 docs: switch doc links to stable
  README.md
  src/faker.ts
  src/locale-proxy.ts
  src/modules/airline/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/string/index.ts
  src/modules/vehicle/index.ts
  test/locale-proxy.spec.ts
  test/location.spec.ts
Labels: c: docs, p: 2-high

#2144 test: vitest prefer-each
  .eslintrc.js
  test/airline.spec.ts
  test/all_functional.spec.ts
  test/animal.spec.ts
  test/color.spec.ts
  test/commerce.spec.ts
  test/company.spec.ts
  test/database.spec.ts
  test/datatype.spec.ts
  test/date.spec.ts
  test/finance.spec.ts
  test/finance_iban.spec.ts
  test/git.spec.ts
  test/hacker.spec.ts
  test/helpers.spec.ts
  test/image.spec.ts
  test/internet.spec.ts
  test/locale-data.spec.ts
  test/locale-imports.spec.ts
  test/location.spec.ts
  test/lorem.spec.ts
  test/mersenne.spec.ts
  test/music.spec.ts
  test/person.spec.ts
  test/phone.spec.ts
  test/random.spec.ts
  test/science.spec.ts
  test/string.spec.ts
  test/system.spec.ts
  test/vehicle.spec.ts
  test/word.spec.ts
Labels: p: 1-normal, c: test

#2154 fix(locale): en_HK last_name_patterns should be last_name_pattern
  src/locales/en_HK/person/index.ts
  src/locales/en_HK/person/last_name_pattern.ts
Labels: p: 1-normal, c: locale, m: person

#2176 docs(number): update default max value
  docs/guide/upgrading.md
  src/modules/number/index.ts
Labels: c: bug, c: docs, p: 1-normal, s: accepted, m: number

#2155 fix(locale): ro_MD city should be city_pattern
  src/locales/ro_MD/location/city_pattern.ts
  src/locales/ro_MD/location/index.ts
Labels: p: 1-normal, c: locale, m: location

#2159 docs(image): add content warnings to image function jsdocs
  src/modules/image/providers/lorempicsum.ts
  src/modules/image/providers/placeholder.ts
  src/modules/image/providers/unsplash.ts
Labels: c: docs, p: 1-normal, m: image

#2172 fix(git): limit need for Intl to specific method
  src/modules/git/index.ts
  test/git.spec.ts
Labels: c: bug, p: 1-normal, m: git

#2180 chore(release): 8.0.2
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release
