Repository faker-js/faker, pull requests merged in 2023-03, with the labels that each got.

#1887 docs: update top section of readme
  README.md
Labels: c: docs, p: 1-normal

#1891 fix: discord link
  netlify.toml
Labels: c: bug, p: 2-high, s: accepted

#1889 docs: show deprecation message
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, s: accepted

#1893 fix: more discord links
  netlify.toml
Labels: c: bug, p: 1-normal

#1894 infra: update discord redirects
  netlify.toml
Labels: p: 1-normal, c: infra

#1896 chore: fix typo
  test/git.spec.ts
Labels: c: chore, p: 1-normal, c: test

#1906 docs: remove `this.`
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#1884 fix: consistent locale names
  docs/guide/localization.md
  src/definitions/definitions.ts
  src/locales/dv/index.ts
  src/locales/en_NG/index.ts
  src/locales/fr_BE/index.ts
  src/locales/hr/index.ts
Labels: c: bug, c: docs, p: 1-normal, s: accepted, c: locale

#1913 fix(locale): remove invalid city patterns from pt_BR
  src/locales/pt_BR/location/city.ts
Labels: p: 1-normal, c: locale, m: location

#1883 fix(internet): filter banned dots from email addresses
  src/modules/internet/index.ts
  test/internet.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: internet

#1888 docs: Add 'Sourcing data for definitions' to CONTRIBUTING
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal, s: accepted

#1914 fix(locale): az company name_patterns return undefined in name
  src/locales/az/company/name_patterns.ts
Labels: p: 1-normal, c: locale

#1910 feat: provide enums for color values
  src/index.ts
  src/modules/color/index.ts
  test/__snapshots__/color.spec.ts.snap
  test/color.spec.ts
Labels: p: 1-normal, c: refactor, m: color

#1915 refactor(date): remove duplicate context of date definitions
  src/locales/ar/date/month.ts
  src/locales/ar/date/weekday.ts
  src/locales/cz/date/month.ts
  src/locales/cz/date/weekday.ts
  src/locales/de/date/month.ts
  src/locales/de/date/weekday.ts
  src/locales/en/date/month.ts
  src/locales/en/date/weekday.ts
  src/locales/fa/date/month.ts
  src/locales/fa/date/weekday.ts
  src/locales/fr/date/month.ts
  src/locales/fr_CH/date/month.ts
  src/locales/he/date/month.ts
  src/locales/he/date/weekday.ts
  src/locales/hr/date/month.ts
  src/locales/hr/date/weekday.ts
  src/locales/hu/date/month.ts
  src/locales/hu/date/weekday.ts
  src/locales/id_ID/date/month.ts
  src/locales/id_ID/date/weekday.ts
  src/locales/ko/date/month.ts
  src/locales/ko/date/weekday.ts
  src/locales/mk/date/month.ts
  src/locales/mk/date/weekday.ts
  src/locales/nl/date/month.ts
  src/locales/nl/date/weekday.ts
  src/locales/pt_BR/date/month.ts
  src/locales/pt_BR/date/weekday.ts
  src/locales/ro/date/month.ts
  src/locales/ro/date/weekday.ts
  src/locales/ur/date/month.ts
  src/locales/ur/date/weekday.ts
  src/locales/vi/date/month.ts
  src/locales/vi/date/weekday.ts
  test/date.spec.ts
Labels: p: 1-normal, s: accepted, c: locale, m: date

#1845 refactor(internet): standardize signatures
  docs/guide/usage.md
  src/modules/git/index.ts
  src/modules/internet/index.ts
  test/__snapshots__/internet.spec.ts.snap
  test/internet.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: internet, deprecation

#1892 docs: add reproducible results section
  docs/guide/usage.md
Labels: c: docs, p: 1-normal, s: accepted

#1933 infra: run generate scripts first
  package.json
Labels: p: 1-normal, c: infra

#1930 infra: enable prettier cache
  package.json
Labels: c: chore, p: 1-normal

#1920 feat(helpers): new method enumValue
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: needs decision, m: helpers

#1938 fix(random): prevent infinite do-while
  src/modules/random/index.ts
  test/random.spec.ts
Labels: c: bug, p: 1-normal, s: accepted

#1876 test(git): relax email validation in commitEntry results
  test/git.spec.ts
Labels: p: 1-normal, c: test, s: accepted

#1931 docs: fix nested parameter defaults
  scripts/apidoc/signature.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: bug, c: docs, p: 1-normal, s: accepted

#1937 chore: use enumValue
  src/modules/airline/index.ts
  src/modules/color/index.ts
  src/modules/person/index.ts
Labels: c: chore, p: 1-normal, s: accepted

#1918 docs: enhance readme
  README.md
Labels: c: docs, p: 1-normal

#1847 feat(locale): add `state` and `state_abbr` to `cz`
  src/locales/cz/location/state.ts
  src/locales/cz/location/state_abbr.ts
  test/all_functional.spec.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1946 chore(locale): added dedicated swiss street names
  src/locales/de_CH/location/index.ts
  src/locales/de_CH/location/street.ts
  src/locales/de_CH/location/street_name.ts
Labels: p: 1-normal, c: locale, m: location

#1947 infra: try to fix e2e flakyness
  cypress/e2e/api.cy.ts
Labels: c: bug, p: 2-high, c: test, c: infra

#1942 chore(locale): remove bs_ files in sk and cz
  src/locales/cz/company/bs_noun.ts
  src/locales/cz/company/bs_verb.ts
  src/locales/cz/company/index.ts
  src/locales/sk/company/bs_noun.ts
  src/locales/sk/company/bs_verb.ts
  src/locales/sk/company/index.ts
Labels: p: 1-normal, c: locale

#1955 chore(release): 8.0.0-alpha.1
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: c: release

#1875 test(helpers): mustache special cases
  src/modules/helpers/index.ts
  test/helpers.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: helpers

#1801 feat(locale): add Serbian (Latin) language
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/sr_RS_latin.ts
  src/locales/index.ts
  src/locales/sr_RS_latin/cell_phone/formats.ts
  src/locales/sr_RS_latin/cell_phone/index.ts
  src/locales/sr_RS_latin/date/index.ts
  src/locales/sr_RS_latin/date/month.ts
  src/locales/sr_RS_latin/date/weekday.ts
  src/locales/sr_RS_latin/index.ts
  src/locales/sr_RS_latin/internet/domain_suffix.ts
  src/locales/sr_RS_latin/internet/index.ts
  src/locales/sr_RS_latin/location/building_number.ts
  src/locales/sr_RS_latin/location/city.ts
  src/locales/sr_RS_latin/location/city_name.ts
  src/locales/sr_RS_latin/location/country.ts
  src/locales/sr_RS_latin/location/default_country.ts
  src/locales/sr_RS_latin/location/index.ts
  src/locales/sr_RS_latin/location/postcode.ts
  src/locales/sr_RS_latin/location/secondary_address.ts
  src/locales/sr_RS_latin/location/street.ts
  src/locales/sr_RS_latin/location/street_address.ts
  src/locales/sr_RS_latin/location/street_name.ts
  src/locales/sr_RS_latin/person/female_first_name.ts
  src/locales/sr_RS_latin/person/first_name.ts
  src/locales/sr_RS_latin/person/index.ts
  src/locales/sr_RS_latin/person/last_name.ts
  src/locales/sr_RS_latin/person/male_first_name.ts
  src/locales/sr_RS_latin/person/name.ts
  src/locales/sr_RS_latin/phone_number/formats.ts
  src/locales/sr_RS_latin/phone_number/index.ts
Labels: p: 1-normal, s: accepted, c: locale

#1941 fix(locale): split zh_TW first_names by gender
  src/locales/zh_TW/person/female_first_name.ts
  src/locales/zh_TW/person/first_name.ts
  src/locales/zh_TW/person/index.ts
  src/locales/zh_TW/person/male_first_name.ts
Labels: p: 1-normal, c: locale, m: person

#1939 chore(random): deprecate random module
  src/faker.ts
  src/index.ts
  src/modules/random/index.ts
Labels: c: chore, p: 1-normal, m: random, deprecation

#1956 docs: fix function reference typo in readme
  README.md
Labels: c: docs, p: 1-normal, s: accepted

#1857 test(number): replace RegExp with validation functions
  test/number.spec.ts
Labels: p: 1-normal, c: test, m: number

#1966 fix: revert types field
  package.json
Labels: c: bug, p: 3-urgent, c: infra

#1962 docs: mark deprecated parameter options
  docs/.vitepress/components/api-docs/method-parameters.vue
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, c: infra

#1960 docs: extend Faker class jsdocs
  src/faker.ts
Labels: c: docs, p: 1-normal, s: accepted

#1963 docs: mark method references in @deprecation messages
  CONTRIBUTING.md
  src/modules/datatype/index.ts
  src/modules/random/index.ts
Labels: c: docs, p: 1-normal, s: accepted

#1970 docs(color): improve rgb examples
  src/modules/color/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: color

#1569 feat(helpers): add fromRegExp method
  src/modules/helpers/index.ts
  test/__snapshots__/helpers.spec.ts.snap
  test/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: helpers

#1965 docs: unwrap nested named union and literal types
  scripts/apidoc/signature.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/signature.example.ts
Labels: c: docs, p: 1-normal, s: accepted, c: infra

#1989 chore(locale): change uk_country to state
  src/locales/en_GB/location/index.ts
  src/locales/en_GB/location/state.ts
Labels: c: chore, p: 1-normal, s: accepted, c: locale, m: location

#1987 docs(location): improve documentation for state and county
  src/definitions/location.ts
  src/modules/location/index.ts
Labels: c: docs, p: 1-normal, s: accepted, m: location

#1986 feat(locale): add fi states
  src/locales/fi/index.ts
  src/locales/fi/location/index.ts
  src/locales/fi/location/state.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1929 docs: add overview guides to specific modules
  docs/api/ApiIndex.vue
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  src/modules/airline/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/image/index.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/string/index.ts
  src/modules/vehicle/index.ts
Labels: c: docs, p: 1-normal, s: accepted

#1990 feat(locale): add hu states
  src/locales/hu/index.ts
  src/locales/hu/location/index.ts
  src/locales/hu/location/state.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#1993 refactor(finance): simplify routingNumber implementation
  src/modules/finance/index.ts
Labels: p: 1-normal, c: refactor, m: finance

#1999 test: replace deprecated method call
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: test

#1998 test(finance): remove debug code from test
  test/finance.spec.ts
Labels: p: 1-normal, c: test, m: finance
