Repository faker-js/faker, pull requests merged in 2023-08, with the labels that each got.

#2279 test: move files to modules
  .eslintrc.js
  test/__snapshots__/unique.spec.ts.snap
  test/modules/__snapshots__/airline.spec.ts.snap
  test/modules/__snapshots__/animal.spec.ts.snap
  test/modules/__snapshots__/color.spec.ts.snap
  test/modules/__snapshots__/commerce.spec.ts.snap
  test/modules/__snapshots__/company.spec.ts.snap
  test/modules/__snapshots__/database.spec.ts.snap
  test/modules/__snapshots__/datatype.spec.ts.snap
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/__snapshots__/git.spec.ts.snap
  test/modules/__snapshots__/hacker.spec.ts.snap
  test/modules/__snapshots__/helpers.spec.ts.snap
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/__snapshots__/lorem.spec.ts.snap
  test/modules/__snapshots__/music.spec.ts.snap
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/__snapshots__/person.spec.ts.snap
  test/modules/__snapshots__/phone.spec.ts.snap
  test/modules/__snapshots__/random.spec.ts.snap
  test/modules/__snapshots__/science.spec.ts.snap
  test/modules/__snapshots__/string.spec.ts.snap
  test/modules/__snapshots__/system.spec.ts.snap
  test/modules/__snapshots__/vehicle.spec.ts.snap
  test/modules/__snapshots__/word.spec.ts.snap
  test/modules/airline.spec.ts
  test/modules/animal.spec.ts
  test/modules/color.spec.ts
  test/modules/commerce.spec.ts
  test/modules/company.spec.ts
  test/modules/database.spec.ts
  test/modules/datatype.spec.ts
  test/modules/date.spec.ts
  test/modules/finance.spec.ts
  test/modules/finance_iban.spec.ts
  test/modules/git.spec.ts
  test/modules/hacker.spec.ts
  test/modules/helpers.spec.ts
  test/modules/image.spec.ts
  test/modules/internet.spec.ts
  test/modules/location.spec.ts
  test/modules/lorem.spec.ts
  test/modules/music.spec.ts
  test/modules/number.spec.ts
  test/modules/person.spec.ts
  test/modules/phone.spec.ts
  test/modules/random.spec.ts
  test/modules/science.spec.ts
  test/modules/string.spec.ts
  test/modules/system.spec.ts
  test/modules/vehicle.spec.ts
  test/modules/word.spec.ts
Labels: c: test

#2280 fix(test): typedoc signature test issues
  scripts/apidoc/typedoc.ts
  tsconfig.json
Labels: c: bug, p: 1-normal, c: test

#2147 feat(lorem): seed AR lorem
  src/locales/ar/index.ts
  src/locales/ar/lorem/index.ts
  src/locales/ar/lorem/words.ts
Labels: p: 1-normal, c: locale, m: lorem

#2270 feat(location): add states for sr_RS_latin
  src/locales/sr_RS_latin/location/index.ts
  src/locales/sr_RS_latin/location/state.ts
Labels: p: 1-normal, c: locale, m: location

#2291 docs: edit import-brain's team page listing
  docs/about/team/members.json
Labels: c: docs

#2292 docs: update role for xDivisionByZerox
  docs/about/team/members.json
Labels: c: docs

#2260 chore(deps): update dependency prettier to v3
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/fakerClass.ts
  scripts/apidoc/fakerUtilities.ts
  scripts/apidoc/format.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/generateLocales.ts
  src/locale-proxy.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/word/filterWordListByLength.ts
  src/utils/types.ts
  test/scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
  test/support/seededRuns.ts
Labels: c: dependencies

#2293 fix(locale): invalid date definitions
  src/locales/ar/date/weekday.ts
  src/locales/ur/date/month.ts
  src/locales/ur/date/weekday.ts
Labels: c: bug, p: 1-normal, c: locale, m: date

#2298 chore: remove unused dependencies
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
Labels: c: chore, c: dependencies

#2299 docs(number): remove wrong default value for float precision
  src/modules/number/index.ts
Labels: c: docs, p: 1-normal, m: number

#2278 fix(location): Pad en_US ZIP codes left to 5 characters if needed
  src/definitions/location.ts
  src/locales/en_US/location/postcode_by_state.ts
  src/modules/location/index.ts
  test/modules/location.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: location

#2317 test(image): add seeded tests for dataUri
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/image.spec.ts
Labels: p: 1-normal, c: test, m: image

#2304 fix: remove unrelated entries from de_CH country codes
  src/locales/de_CH/location/country_code.ts
Labels: p: 1-normal, c: locale, m: location

#2324 feat(locale): add minimal da locale, start with location
  docs/guide/localization.md
  src/locale/da.ts
  src/locale/index.ts
  src/locales/da/index.ts
  src/locales/da/location/building_number.ts
  src/locales/da/location/city_name.ts
  src/locales/da/location/city_pattern.ts
  src/locales/da/location/country.ts
  src/locales/da/location/default_country.ts
  src/locales/da/location/direction.ts
  src/locales/da/location/direction_abbr.ts
  src/locales/da/location/index.ts
  src/locales/da/location/postcode.ts
  src/locales/da/location/secondary_address.ts
  src/locales/da/location/street_address.ts
  src/locales/da/location/street_name.ts
  src/locales/da/location/street_pattern.ts
  src/locales/da/metadata.ts
  src/locales/index.ts
Labels: p: 1-normal, c: locale, m: location

#2320 feat(locale): Fully Improve zh_TW
  src/locales/zh_TW/color/human.ts
  src/locales/zh_TW/color/index.ts
  src/locales/zh_TW/date/index.ts
  src/locales/zh_TW/date/month.ts
  src/locales/zh_TW/date/weekday.ts
  src/locales/zh_TW/index.ts
Labels: p: 1-normal, c: locale, m: color, m: date

#2347 docs: add github sponsor link
  docs/about/team/members.json
Labels: c: docs, p: 1-normal

#2326 fix(location): Dutch postal codes can never start with '0'
  src/locales/nl/location/postcode.ts
Labels: p: 1-normal, c: locale, m: location

#2342 docs: simplify localization docs
  docs/guide/localization.md
Labels: c: docs, p: 1-normal

#2345 docs(guide): replace deprecated faker.name with faker.person
  docs/guide/frameworks.md
Labels: c: docs, p: 1-normal

#2230 feat(locale): add Esperanto
  docs/guide/localization.md
  src/locale/eo.ts
  src/locale/index.ts
  src/locales/eo/animal/bear.ts
  src/locales/eo/animal/crocodilia.ts
  src/locales/eo/animal/index.ts
  src/locales/eo/animal/lion.ts
  src/locales/eo/animal/type.ts
  src/locales/eo/color/human.ts
  src/locales/eo/color/index.ts
  src/locales/eo/commerce/index.ts
  src/locales/eo/commerce/product_name.ts
  src/locales/eo/database/column.ts
  src/locales/eo/database/index.ts
  src/locales/eo/date/index.ts
  src/locales/eo/date/month.ts
  src/locales/eo/date/weekday.ts
  src/locales/eo/hacker/adjective.ts
  src/locales/eo/hacker/index.ts
  src/locales/eo/hacker/ingverb.ts
  src/locales/eo/hacker/noun.ts
  src/locales/eo/hacker/phrase.ts
  src/locales/eo/hacker/verb.ts
  src/locales/eo/index.ts
  src/locales/eo/location/city_pattern.ts
  src/locales/eo/location/city_prefix.ts
  src/locales/eo/location/city_suffix.ts
  src/locales/eo/location/country.ts
  src/locales/eo/location/default_country.ts
  src/locales/eo/location/direction.ts
  src/locales/eo/location/direction_abbr.ts
  src/locales/eo/location/index.ts
  src/locales/eo/location/secondary_address.ts
  src/locales/eo/location/street_address.ts
  src/locales/eo/location/street_pattern.ts
  src/locales/eo/location/street_prefix.ts
  src/locales/eo/location/street_suffix.ts
  src/locales/eo/metadata.ts
  src/locales/eo/person/bio_part.ts
  src/locales/eo/person/bio_pattern.ts
  src/locales/eo/person/female_first_name.ts
  src/locales/eo/person/female_prefix.ts
  src/locales/eo/person/first_name.ts
  src/locales/eo/person/gender.ts
  src/locales/eo/person/index.ts
  src/locales/eo/person/last_name.ts
  src/locales/eo/person/last_name_pattern.ts
  src/locales/eo/person/male_first_name.ts
  src/locales/eo/person/male_prefix.ts
  src/locales/eo/person/name.ts
  src/locales/eo/person/prefix.ts
  src/locales/eo/person/sex.ts
  src/locales/eo/person/western_zodiac_sign.ts
  src/locales/eo/science/chemicalElement.ts
  src/locales/eo/science/index.ts
  src/locales/eo/science/unit.ts
  src/locales/eo/vehicle/fuel.ts
  src/locales/eo/vehicle/index.ts
  src/locales/index.ts
  test/all_functional.spec.ts
Labels: c: feature, p: 1-normal, c: locale

#2331 feat(locale): add da person category
  src/locales/da/index.ts
  src/locales/da/person/female_first_name.ts
  src/locales/da/person/female_middle_name.ts
  src/locales/da/person/female_prefix.ts
  src/locales/da/person/first_name.ts
  src/locales/da/person/index.ts
  src/locales/da/person/last_name.ts
  src/locales/da/person/last_name_pattern.ts
  src/locales/da/person/male_first_name.ts
  src/locales/da/person/male_middle_name.ts
  src/locales/da/person/male_prefix.ts
  src/locales/da/person/middle_name.ts
  src/locales/da/person/name.ts
  src/locales/da/person/prefix.ts
  src/locales/da/person/sex.ts
Labels: p: 1-normal, c: locale, m: person

#2318 feat(locale): improve persons and locations for zh_CN
  src/locales/zh_CN/internet/free_email.ts
  src/locales/zh_CN/location/state.ts
  src/locales/zh_CN/location/state_abbr.ts
  src/locales/zh_CN/person/female_first_name.ts
  src/locales/zh_CN/person/first_name.ts
  src/locales/zh_CN/person/last_name.ts
  src/locales/zh_CN/person/male_first_name.ts
Labels: p: 1-normal, c: locale, m: location, m: person

#2348 chore: ignore dotfiles in generate locales
  scripts/generateLocales.ts
Labels: c: chore, p: 1-normal

#2343 docs: remove repeated reference to Ruby, Python, Perl
  docs/guide/index.md
Labels: c: docs, p: 1-normal

#2330 infra: update renovate config for vitest
  .github/renovate.json5
Labels: p: 1-normal, c: infra

#2332 feat(locale): Add bio, animal, word, music for zh_CN
  src/locales/zh_CN/animal/bear.ts
  src/locales/zh_CN/animal/cat.ts
  src/locales/zh_CN/animal/dog.ts
  src/locales/zh_CN/animal/fish.ts
  src/locales/zh_CN/animal/horse.ts
  src/locales/zh_CN/animal/index.ts
  src/locales/zh_CN/animal/type.ts
  src/locales/zh_CN/index.ts
  src/locales/zh_CN/music/genre.ts
  src/locales/zh_CN/music/index.ts
  src/locales/zh_CN/music/song_name.ts
  src/locales/zh_CN/person/bio_part.ts
  src/locales/zh_CN/person/bio_pattern.ts
  src/locales/zh_CN/person/bio_supporter.ts
  src/locales/zh_CN/person/index.ts
  src/locales/zh_CN/word/adjective.ts
  src/locales/zh_CN/word/adverb.ts
  src/locales/zh_CN/word/index.ts
  src/locales/zh_CN/word/verb.ts
Labels: p: 1-normal, c: locale, m: location
