Repository faker-js/faker, pull requests merged in 2023-02, with the labels that each got.

#1793 infra: configure lint rule array-type
  .eslintrc.js
  scripts/apidoc/utils.ts
  src/definitions/science.ts
  src/modules/helpers/index.ts
  src/modules/internet/index.ts
  src/modules/random/index.ts
  src/modules/string/index.ts
  test/faker.spec.ts
  test/scripts/apidoc/examplesAndDeprecations.spec.ts
  test/scripts/apidoc/signature.example.ts
Labels: p: 1-normal, s: accepted, c: infra

#1645 test: run tests shuffled
  test/mersenne.spec.ts
  vite.config.ts
Labels: p: 1-normal, c: test

#1755 infra(docs): add docs diff script
  .gitignore
  package.json
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/diff.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/utils.ts
  scripts/diff.ts
Labels: c: docs, p: 1-normal, s: accepted, c: infra

#1637 fix(person): change fullName to use name patterns
  src/definitions/person.ts
  src/locales/ar/person/name.ts
  src/locales/az/person/name.ts
  src/locales/cz/person/name.ts
  src/locales/de/person/name.ts
  src/locales/de_AT/person/name.ts
  src/locales/de_CH/person/name.ts
  src/locales/dv/person/name.ts
  src/locales/el/person/name.ts
  src/locales/en/person/name.ts
  src/locales/en_GH/person/name.ts
  src/locales/en_NG/person/name.ts
  src/locales/en_ZA/person/name.ts
  src/locales/es/person/name.ts
  src/locales/es_MX/person/name.ts
  src/locales/fa/person/name.ts
  src/locales/fi/person/name.ts
  src/locales/fr/person/name.ts
  src/locales/fr_BE/person/name.ts
  src/locales/fr_CH/person/name.ts
  src/locales/ge/person/name.ts
  src/locales/he/person/name.ts
  src/locales/hr/person/name.ts
  src/locales/hu/person/name.ts
  src/locales/hy/person/name.ts
  src/locales/id_ID/person/name.ts
  src/locales/it/person/name.ts
  src/locales/ja/person/name.ts
  src/locales/ko/person/name.ts
  src/locales/lv/person/name.ts
  src/locales/mk/person/name.ts
  src/locales/nb_NO/person/name.ts
  src/locales/nl/person/name.ts
  src/locales/nl_BE/person/name.ts
  src/locales/pl/person/name.ts
  src/locales/pt_BR/person/name.ts
  src/locales/pt_PT/person/name.ts
  src/locales/ro/person/name.ts
  src/locales/ru/person/name.ts
  src/locales/sk/person/name.ts
  src/locales/sv/person/name.ts
  src/locales/tr/person/name.ts
  src/locales/uk/person/name.ts
  src/locales/ur/person/name.ts
  src/locales/vi/person/name.ts
  src/locales/zh_CN/person/name.ts
  src/locales/zh_TW/person/name.ts
  src/modules/person/index.ts
  test/__snapshots__/git.spec.ts.snap
  test/__snapshots__/person.spec.ts.snap
Labels: c: bug, p: 1-normal, s: accepted, m: person

#1807 test: configure chai truncated threshold
  test/setup.ts
  vite.config.ts
Labels: p: 1-normal, c: test, s: accepted

#1780 docs: show source link
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidoc/apiDocsWriter.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/moduleMethods.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  scripts/apidoc/utils.ts
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
Labels: c: docs, p: 1-normal, s: accepted

#1810 fix(locale): replace Ð with Đ in hr and vi
  src/locales/hr/person/female_first_name.ts
  src/locales/hr/person/first_name.ts
  src/locales/vi/person/female_first_name.ts
  src/locales/vi/person/male_first_name.ts
Labels: c: bug, p: 1-normal, s: accepted, c: locale

#1808 test: use cy.request for e2e
  cypress/e2e/api.cy.ts
Labels: p: 2-high, c: test, s: accepted

#1784 refactor(location): normalize signatures
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
  test/location.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: location

#1813 fix(git): commitEntry normalize user
  src/modules/git/index.ts
  test/git.spec.ts
Labels: c: bug, p: 2-high, c: test

#1804 refactor(datatype): standardize arguments
  src/modules/datatype/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/datatype.spec.ts
Labels: p: 1-normal, c: refactor, m: datatype

#1805 refactor(commerce): price use options object
  src/modules/commerce/index.ts
  test/__snapshots__/commerce.spec.ts.snap
  test/commerce.spec.ts
Labels: p: 1-normal, c: refactor, m: commerce, deprecation

#1815 docs: switch shinigami from twitter to mastodon
  docs/about/team/members.json
Labels: c: docs, p: 1-normal, s: accepted

#1814 feat(person): add Portuguese BR Language to western zodiac sign
  src/locales/pt_BR/person/index.ts
  src/locales/pt_BR/person/western_zodiac_sign.ts
Labels: p: 1-normal, s: accepted, c: locale, m: person

#1622 docs: improving readability of UUID string
  src/modules/string/index.ts
  test/__snapshots__/datatype.spec.ts.snap
  test/__snapshots__/string.spec.ts.snap
Labels: c: docs, p: 1-normal, s: accepted, m: string

#1816 docs: add matthewmayer to team
  docs/about/team/members.json
Labels: c: docs

#1778 fix(person): Improvements to Dutch name generation, in particular regarding affixes
  src/locales/nl/person/female_prefix.ts
  src/locales/nl/person/index.ts
  src/locales/nl/person/last_name.ts
  src/locales/nl/person/male_prefix.ts
  src/locales/nl/person/suffix.ts
  src/locales/nl/person/tussenvoegsel.ts
Labels: p: 1-normal, s: accepted, m: person

#1811 chore: remove comments in tsconfig.json
  tsconfig.json
Labels: p: 1-normal, s: needs decision, c: infra

#1774 docs: focus api search immediately
  docs/api/ApiIndex.vue
Labels: c: docs, p: 1-normal, s: accepted

#1833 test(date): add birthdate error test
  test/date.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: date

#1821 refactor(finance): standardize arguments
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: p: 1-normal, c: refactor, m: finance

#1839 chore: activate noImplicitAny
  src/modules/airline/index.ts
  src/modules/animal/index.ts
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/company/index.ts
  src/modules/database/index.ts
  src/modules/datatype/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/git/index.ts
  src/modules/hacker/index.ts
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  src/modules/image/index.ts
  src/modules/image/providers/placeholder.ts
  src/modules/internet/index.ts
  src/modules/location/index.ts
  src/modules/lorem/index.ts
  src/modules/music/index.ts
  src/modules/number/index.ts
  src/modules/person/index.ts
  src/modules/phone/index.ts
  src/modules/random/index.ts
  src/modules/science/index.ts
  src/modules/string/index.ts
  src/modules/system/index.ts
  src/modules/vehicle/index.ts
  src/modules/word/index.ts
  src/utils/types.ts
  test/support/seededRuns.ts
  tsconfig.json
Labels: c: chore, p: 1-normal, s: accepted, c: infra

#1843 chore: improve error message for faker.date.birthday
  src/modules/date/index.ts
  test/date.spec.ts
Labels: c: chore, p: 1-normal, s: accepted, m: date

#1849 infra: fix broken links in `pull_request_template`
  .github/pull_request_template.md
Labels: p: 1-normal, s: accepted, c: infra

#1846 infra: add preflight script
  .github/pull_request_template.md
  .github/workflows/commentCodeGeneration.ts
  CONTRIBUTING.md
  package.json
Labels: c: feature, p: 1-normal, s: accepted, c: infra

#1854 docs: Updated first example in README to utilize faker.helpers.multiple
  README.md
Labels: c: docs, p: 1-normal, s: accepted

#1852 refactor(datatype): deprecate `json`
  src/modules/datatype/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: datatype, deprecation

#1853 refactor(datatype): deprecate `array`
  docs/guide/upgrading.md
  src/modules/datatype/index.ts
Labels: p: 1-normal, s: accepted, c: refactor, m: datatype, deprecation

#1842 chore: turn on noImplicitThis
  src/modules/helpers/index.ts
  src/modules/helpers/unique.ts
  tsconfig.json
Labels: p: 1-normal, c: infra

#1720 refactor(location)!: countryCode use ISO-3166-1
  src/definitions/location.ts
  src/locales/de_CH/location/country_code.ts
  src/locales/en/location/country_code.ts
  src/locales/en/location/country_code_alpha_3.ts
  src/locales/en/location/index.ts
  src/locales/fr_CH/location/country_code.ts
  src/modules/location/index.ts
  test/__snapshots__/location.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: refactor, breaking change, m: location

#1860 refactor(company)!: rename bs to buzz
  src/definitions/company.ts
  src/locales/el/company/buzz_adjective.ts
  src/locales/el/company/buzz_noun.ts
  src/locales/el/company/buzz_verb.ts
  src/locales/el/company/index.ts
  src/locales/en/company/buzz_adjective.ts
  src/locales/en/company/buzz_noun.ts
  src/locales/en/company/buzz_verb.ts
  src/locales/en/company/index.ts
  src/locales/es_MX/company/buzz_adjective.ts
  src/locales/es_MX/company/buzz_noun.ts
  src/locales/es_MX/company/buzz_verb.ts
  src/locales/es_MX/company/index.ts
  src/locales/fa/company/buzz_adjective.ts
  src/locales/fa/company/buzz_noun.ts
  src/locales/fa/company/buzz_verb.ts
  src/locales/fa/company/index.ts
  src/locales/fr/company/buzz_adjective.ts
  src/locales/fr/company/buzz_noun.ts
  src/locales/fr/company/buzz_verb.ts
  src/locales/fr/company/index.ts
  src/locales/it/company/buzz_adjective.ts
  src/locales/it/company/buzz_noun.ts
  src/locales/it/company/buzz_verb.ts
  src/locales/it/company/index.ts
  src/locales/pl/company/buzz_adjective.ts
  src/locales/pl/company/buzz_noun.ts
  src/locales/pl/company/buzz_verb.ts
  src/locales/pl/company/index.ts
  src/modules/company/index.ts
  test/__snapshots__/company.spec.ts.snap
  test/company.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, deprecation

#1865 fix(random): remove deprecated method usage
  src/modules/random/index.ts
Labels: c: bug, p: 1-normal, s: accepted, m: random

#1863 refactor(git): length for commit sha
  src/modules/git/index.ts
  test/__snapshots__/git.spec.ts.snap
  test/git.spec.ts
Labels: p: 1-normal, s: accepted, c: refactor, deprecation

#1867 infra: error on deprecation
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/modules/company/index.ts
  src/modules/image/index.ts
  src/modules/image/providers/lorempicsum.ts
  src/modules/image/providers/placeholder.ts
  src/modules/image/providers/unsplash.ts
Labels: p: 1-normal, s: accepted, c: infra

#1809 feat(finance): currency object
  src/definitions/finance.ts
  src/definitions/index.ts
  src/index.ts
  src/locales/el/finance/currency.ts
  src/locales/en/finance/currency.ts
  src/locales/fa/finance/currency.ts
  src/locales/fr/finance/currency.ts
  src/locales/fr_CH/finance/currency.ts
  src/modules/finance/index.ts
  test/__snapshots__/finance.spec.ts.snap
  test/finance.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: finance

#1880 fix(currency): modernise currency list for 2023
  src/locales/en/finance/currency.ts
  test/__snapshots__/finance.spec.ts.snap
  test/__snapshots__/random.spec.ts.snap
Labels: p: 1-normal, c: locale, m: finance

#1878 fix: correct types field
  package.json
Labels: c: bug, p: 1-normal
