Repository faker-js/faker, pull requests merged in 2023-06, with the labels that each got.

#2182 chore: fix jsdoc lint error
  .eslintrc.js
  src/faker.ts
Labels: c: bug, c: chore, p: 1-normal

#2194 fix(locale): remove continent from ja countries
  src/locales/ja/location/country.ts
Labels: p: 1-normal, c: locale

#2189 fix(locale): remove duplicated countries in `ja` locale
  src/locales/ja/location/country.ts
Labels: p: 1-normal, c: locale, m: location

#2190 fix(locale): limited ja first names without passing sex
  src/locales/ja/person/first_name.ts
Labels: p: 1-normal, c: locale, m: person

#2214 docs: replace deprecated datatype.uuid() with string.uuid()
  README.md
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#2210 feat(locale): added word and music to Farsi
  src/locales/fa/index.ts
  src/locales/fa/music/genre.ts
  src/locales/fa/music/index.ts
  src/locales/fa/word/adjective.ts
  src/locales/fa/word/conjunction.ts
  src/locales/fa/word/index.ts
  src/locales/fa/word/interjection.ts
  src/locales/fa/word/noun.ts
  src/locales/fa/word/preposition.ts
  src/locales/fa/word/verb.ts
Labels: p: 1-normal, c: locale

#2203 feat(locale): add company name to zh_CN
  src/locales/zh_CN/company/category.ts
  src/locales/zh_CN/company/index.ts
  src/locales/zh_CN/company/name_pattern.ts
  src/locales/zh_CN/company/type.ts
  src/locales/zh_CN/index.ts
Labels: p: 1-normal, c: locale, m: company

#2148 feat(location): add ne postcodes
  src/locales/ne/location/index.ts
  src/locales/ne/location/postcode.ts
Labels: p: 1-normal, s: accepted, c: locale, m: location

#2191 feat(locale): add direction to ja
  src/locales/ja/location/direction.ts
  src/locales/ja/location/index.ts
Labels: p: 1-normal, c: locale, m: location

#2157 feat(color): migrate hu human colors
  src/locales/hu/color/human.ts
  src/locales/hu/color/index.ts
  src/locales/hu/commerce/index.ts
  src/locales/hu/index.ts
Labels: p: 1-normal, c: locale, m: color

#2143 feat(metadata): add method to access metadata
  src/faker.ts
  test/faker.spec.ts
Labels: c: feature, p: 1-normal, c: locale

#2146 feat(location): fi addresses
  src/locales/fi/location/building_number.ts
  src/locales/fi/location/city_name.ts
  src/locales/fi/location/city_pattern.ts
  src/locales/fi/location/index.ts
  src/locales/fi/location/postcode.ts
  src/locales/fi/location/secondary_address.ts
  src/locales/fi/location/street_address.ts
  src/locales/fi/location/street_pattern.ts
  src/locales/fi/location/street_suffix.ts
Labels: p: 1-normal, c: locale, m: location

#2140 refactor(locale): cs_CZ state_abbr not applicable
  src/locales/cs_CZ/location/state_abbr.ts
  test/all_functional.spec.ts
Labels: c: refactor, c: locale, m: location

#2149 feat(location): add en_IE postcodes
  src/locales/en_IE/location/index.ts
  src/locales/en_IE/location/postcode.ts
Labels: p: 1-normal, c: locale, m: location

#2156 feat(location): es province should be county as its a 2nd level administrative area
  src/locales/es/location/county.ts
  src/locales/es/location/index.ts
Labels: p: 1-normal, c: locale, m: location

#2223 feat(locale): support color and date for zh_CN
  src/locales/zh_CN/color/human.ts
  src/locales/zh_CN/color/index.ts
  src/locales/zh_CN/date/index.ts
  src/locales/zh_CN/date/month.ts
  src/locales/zh_CN/date/weekday.ts
  src/locales/zh_CN/index.ts
Labels: p: 1-normal, c: locale, m: color, m: date

#2226 feat(locale): add database for German (de)
  src/locales/de/database/column.ts
  src/locales/de/database/index.ts
  src/locales/de/index.ts
Labels: c: feature, c: locale, m: database
