Repository faker-js/faker, pull requests merged in 2024-11, with the labels that each got.

#3229 test: patch and filter seeded run stacktraces
  test/support/seeded-runs.ts
  vitest.config.ts
Labels: p: 1-normal, c: test

#3230 refactor(locale): improve Spanish color names
  src/locales/es/color/human.ts
Labels: p: 1-normal, c: locale, m: color

#3232 docs: add required twitter meta tags
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal

#3221 docs: expose documentation for randomizers
  scripts/apidocs/processing/class.ts
  src/utils/mersenne.ts
Labels: c: docs, p: 1-normal

#3216 docs(string): improve documentation for length parameters
  src/modules/string/index.ts
Labels: c: docs, p: 1-normal, m: string

#3203 infra(unicorn): permanently disable no-object-as-default-parameter
  eslint.config.ts
Labels: p: 1-normal, c: infra

#3172 infra: show eslint progress
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: infra

#3247 infra(unicorn): prefer-string-slice
  eslint.config.ts
Labels: p: 1-normal, c: infra

#3249 infra: name eslint config groups for inspection
  eslint.config.ts
Labels: p: 1-normal, c: infra

#3245 infra(ci): prepare CI for GitHub merge queues
  .github/workflows/check-mergable-by-label.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/semantic-pull-request.yml
Labels: p: 1-normal, c: infra

#3253 fix(internet): ensure domainWord always returns a valid value in all locales
  src/modules/internet/index.ts
  test/modules/internet.spec.ts
Labels: c: bug, p: 1-normal

#3188 infra: remove preflight failure comment
  .github/workflows/commentCodeGeneration.ts
  .github/workflows/pr.yml
  .github/workflows/preflight-comment.yml
  package.json
  pnpm-lock.yaml
Labels: p: 2-high, c: infra

#3192 docs(guide): remove esModuleInterop flag from config
  cypress/tsconfig.json
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#3248 test: fix vite import warning
  test/locale-imports.spec.ts
Labels: p: 1-normal, c: test

#3200 refactor(locale): lowercase Mexican color names
  src/locales/es_MX/color/human.ts
Labels: p: 1-normal, c: locale, m: color

#3127 test: verify the generated image links are working
  .github/workflows/integration-test.yml
  package.json
  test/integration/modules/image.spec.ts
  test/modules/image.spec.ts
  vitest.config.ts
  vitest.it-config.ts
Labels: p: 1-normal, c: test, s: accepted, m: image

#3254 refactor(locale): improve zh_CN vehicle manufacturers
  src/locales/zh_CN/vehicle/manufacturer.ts
Labels: p: 1-normal, c: locale, m: vehicle

#3201 refactor(finance): deprecate maskedNumber for removal
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
Labels: has workaround, p: 1-normal, c: refactor, m: finance, deprecation

#3220 feat: add initial seed parameter to constructors
  src/faker.ts
  src/internal/seed.ts
  src/simple-faker.ts
  src/utils/mersenne.ts
  test/faker.spec.ts
  test/internal/seed.spec.ts
  test/simple-faker.spec.ts
Labels: c: feature, p: 1-normal

#3258 docs: faker.animal.type now has 44 possible animals
  docs/guide/unique.md
Labels: c: docs, p: 1-normal

#3242 docs: expose documentation for all utilities
  scripts/apidocs/processing/class.ts
  scripts/apidocs/processing/method.ts
  test/scripts/apidocs/__snapshots__/verify-jsdoc-tags.spec.ts.snap
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: c: docs, p: 1-normal

#3250 infra(commit-and-tag-version): auto-bump version in usage-guide
  .versionrc.json
  package.json
Labels: p: 1-normal, c: infra

#3255 infra(unicorn): consistent-function-scoping
  eslint.config.ts
  src/modules/color/index.ts
  src/modules/food/index.ts
  src/modules/internet/index.ts
  src/modules/system/index.ts
  test/modules/date.spec.ts
  test/modules/git.spec.ts
  test/modules/number.spec.ts
  test/utils/mersenne.spec.ts
Labels: p: 1-normal, c: infra

#3260 chore(test): cleanup usages of randomSeed
  test/modules/color.spec.ts
  test/modules/science.spec.ts
  test/utils/mersenne.spec.ts
Labels: c: chore, p: 1-normal, c: test

#3265 infra(CI): skip required CI steps in merge_queues
  .github/workflows/check-mergable-by-label.yml
  .github/workflows/semantic-pull-request.yml
Labels: p: 1-normal, c: infra

#3262 refactor(word): cleanup filter-word-list-by-length.ts
  src/modules/word/filter-word-list-by-length.ts
Labels: c: chore, p: 1-normal, m: word

#3273 chore: fix import styling
  scripts/apidocs/processing/method.ts
  scripts/apidocs/processing/parameter.ts
Labels: c: chore, p: 1-normal, c: infra

#3274 chore: import validator functions individually
  test/modules/commerce.spec.ts
  test/modules/finance-iban.spec.ts
  test/modules/git.spec.ts
  test/modules/internet.spec.ts
  test/modules/lorem.spec.ts
  test/modules/number.spec.ts
  test/modules/system.spec.ts
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: c: chore, p: 1-normal, c: test

#3281 fix(locale): fix incorrect accents in it first_name
  src/locales/it/person/first_name.ts
Labels: c: bug, p: 1-normal, s: accepted, c: locale, m: person

#3278 test(image): improve error text
  test/integration/modules/image.spec.ts
Labels: p: 1-normal, c: test, m: image

#3282 fix(locale): add Isadora to female names in pt_BR for consistency
  src/locales/pt_BR/person/first_name.ts
Labels: p: 1-normal, c: locale, m: person

#3279 refactor(locale): split up Spanish generic first names
  src/locales/es/location/street_pattern.ts
  src/locales/es/person/first_name.ts
Labels: p: 1-normal, c: refactor, c: locale, m: person

#3289 docs(guide): fix link to `helpers` module
  docs/guide/index.md
Labels: c: docs, p: 1-normal

#3286 docs: add missing example return value for internet.jwt
  src/modules/internet/index.ts
Labels: c: docs, p: 1-normal, m: internet
