Repository faker-js/faker, pull requests merged in 2024-01, with the labels that each got.

#2594 chore: update license year
  LICENSE
Labels: c: chore

#2601 refactor(internet): deprecated redundant avatar method
  src/modules/internet/index.ts
Labels: p: 1-normal, c: refactor, m: internet, deprecation

#1855 feat(number): add parameter `fractionDigits` in float
  src/modules/finance/index.ts
  src/modules/location/index.ts
  src/modules/number/index.ts
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/datatype.spec.ts
  test/modules/number.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: number

#2607 docs: improve docs for faker.number.float
  src/modules/number/index.ts
Labels: c: docs, p: 1-normal, m: number

#2611 docs: fix longitude options
  src/modules/location/index.ts
Labels: c: docs, p: 1-normal, m: location

#2612 infra: use vitest config
  vitest.config.ts
Labels: p: 1-normal, c: infra

#2613 docs(internet): fix typos in deprecation warnings for internet
  src/modules/internet/index.ts
Labels: c: docs, p: 1-normal, m: internet

#2606 chore(release): 8.4.0
  CHANGELOG.md
  package.json
Labels: c: release

#2625 docs: add awesome-faker link in guide -> community
  docs/guide/index.md
Labels: c: docs, p: 1-normal

#2629 docs: remove skypack as cdn provider
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#2627 docs: fix "browse api" button in light mode
  docs/.vitepress/theme/index.css
Labels: c: docs, p: 1-normal

#2631 chore(deps): update pnpm-lock
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies
