Repository faker-js/faker, pull requests merged in 2024-05, with the labels that each got.

#2866 refactor(locale): normalize hacker data
  scripts/generate-locales.ts
  src/locales/el/hacker/abbreviation.ts
  src/locales/el/hacker/adjective.ts
  src/locales/el/hacker/noun.ts
  src/locales/el/hacker/verb.ts
  src/locales/en/hacker/adjective.ts
  src/locales/en/hacker/ingverb.ts
  src/locales/en/hacker/noun.ts
  src/locales/en/hacker/phrase.ts
  src/locales/en/hacker/verb.ts
  src/locales/eo/hacker/adjective.ts
  src/locales/eo/hacker/phrase.ts
  src/locales/nl/hacker/adjective.ts
  src/locales/nl/hacker/noun.ts
  src/locales/nl/hacker/phrase.ts
  src/locales/nl/hacker/verb.ts
  src/locales/ru/hacker/abbreviation.ts
  src/locales/ru/hacker/adjective.ts
  src/locales/ru/hacker/ingverb.ts
  src/locales/ru/hacker/noun.ts
  src/locales/ru/hacker/phrase.ts
  src/locales/ru/hacker/verb.ts
  src/locales/zh_CN/hacker/adjective.ts
  src/locales/zh_CN/hacker/noun.ts
  src/locales/zh_CN/hacker/phrase.ts
  src/locales/zh_CN/hacker/verb.ts
  test/modules/__snapshots__/git.spec.ts.snap
  test/modules/__snapshots__/hacker.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: hacker

#2870 infra: configure stopUpdatingLabel
  .github/renovate.json5
Labels: p: 1-normal, c: infra

#2868 refactor(locale): normalize commerce data
  scripts/generate-locales.ts
  src/locales/ar/commerce/department.ts
  src/locales/ar/commerce/product_name.ts
  src/locales/az/commerce/department.ts
  src/locales/az/commerce/product_name.ts
  src/locales/el/commerce/department.ts
  src/locales/el/commerce/product_name.ts
  src/locales/en/commerce/department.ts
  src/locales/en/commerce/product_description.ts
  src/locales/en/commerce/product_name.ts
  src/locales/eo/commerce/product_name.ts
  src/locales/es/commerce/department.ts
  src/locales/es/commerce/product_name.ts
  src/locales/es_MX/commerce/department.ts
  src/locales/es_MX/commerce/product_name.ts
  src/locales/fa/commerce/department.ts
  src/locales/fa/commerce/product_name.ts
  src/locales/fr/commerce/department.ts
  src/locales/fr/commerce/product_description.ts
  src/locales/fr/commerce/product_name.ts
  src/locales/he/commerce/department.ts
  src/locales/he/commerce/product_description.ts
  src/locales/he/commerce/product_name.ts
  src/locales/hu/commerce/department.ts
  src/locales/hu/commerce/product_description.ts
  src/locales/hu/commerce/product_name.ts
  src/locales/lv/commerce/department.ts
  src/locales/lv/commerce/product_name.ts
  src/locales/nb_NO/commerce/department.ts
  src/locales/nl/commerce/department.ts
  src/locales/nl/commerce/product_description.ts
  src/locales/pt_BR/commerce/department.ts
  src/locales/pt_BR/commerce/product_name.ts
  src/locales/pt_PT/commerce/department.ts
  src/locales/pt_PT/commerce/product_name.ts
  src/locales/ru/commerce/department.ts
  src/locales/ru/commerce/product_name.ts
  src/locales/sv/commerce/department.ts
  src/locales/sv/commerce/product_name.ts
  src/locales/tr/commerce/department.ts
  src/locales/tr/commerce/product_description.ts
  src/locales/tr/commerce/product_name.ts
  src/locales/ur/commerce/department.ts
  src/locales/ur/commerce/product_name.ts
  src/locales/uz_UZ_latin/commerce/department.ts
  src/locales/uz_UZ_latin/commerce/product_description.ts
  src/locales/uz_UZ_latin/commerce/product_name.ts
  src/locales/zh_CN/commerce/department.ts
  src/locales/zh_CN/commerce/product_description.ts
  src/locales/zh_CN/commerce/product_name.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: commerce

#2873 refactor(locale): normalize database data
  scripts/generate-locales.ts
  src/locales/base/database/collation.ts
  src/locales/base/database/engine.ts
  src/locales/base/database/type.ts
  src/locales/de/database/column.ts
  src/locales/en/database/column.ts
  src/locales/eo/database/column.ts
  src/locales/zh_CN/database/column.ts
  test/modules/__snapshots__/database.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: database

#2824 feat(locale): add lorem for uz_UZ_latin
  src/locales/uz_UZ_latin/index.ts
  src/locales/uz_UZ_latin/lorem/index.ts
  src/locales/uz_UZ_latin/lorem/words.ts
Labels: p: 1-normal, c: locale, m: lorem

#2874 refactor(locale): normalize vehicle data
  scripts/generate-locales.ts
  src/locales/ar/vehicle/fuel.ts
  src/locales/ar/vehicle/manufacturer.ts
  src/locales/ar/vehicle/model.ts
  src/locales/ar/vehicle/type.ts
  src/locales/en/vehicle/manufacturer.ts
  src/locales/en/vehicle/model.ts
  src/locales/fa/vehicle/fuel.ts
  src/locales/fa/vehicle/manufacturer.ts
  src/locales/fa/vehicle/model.ts
  src/locales/fa/vehicle/type.ts
  src/locales/fr/vehicle/bicycle_type.ts
  src/locales/fr/vehicle/fuel.ts
  src/locales/fr/vehicle/type.ts
  src/locales/ur/vehicle/fuel.ts
  src/locales/ur/vehicle/manufacturer.ts
  src/locales/ur/vehicle/model.ts
  src/locales/ur/vehicle/type.ts
  src/locales/zh_CN/vehicle/bicycle_type.ts
  src/locales/zh_CN/vehicle/fuel.ts
  src/locales/zh_CN/vehicle/manufacturer.ts
  src/locales/zh_CN/vehicle/type.ts
  test/modules/__snapshots__/vehicle.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: vehicle

#2888 fix(locale): fix typo in Persian date data
  src/locales/fa/date/weekday.ts
Labels: p: 1-normal, c: refactor, c: locale, m: date

#2882 infra(deps): switch to commit-and-tag-version
  .versionrc.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies, c: infra

#2886 refactor(locale): normalize science data
  scripts/generate-locales.ts
Labels: p: 1-normal, c: refactor, c: locale, m: science

#2891 infra(deps): remove unused glob
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies, c: infra

#2898 chore(deps): update devcontainer image
  .devcontainer/devcontainer.json
Labels: c: chore, p: 1-normal, c: dependencies

#2900 infra(vitest): prefer-to-have-length
  .eslintrc.cjs
  test/modules/git.spec.ts
  test/modules/helpers.spec.ts
  test/modules/location.spec.ts
Labels: p: 1-normal, c: test, c: infra

#2899 infra(vitest): no-alias-methods
  .eslintrc.cjs
  test/modules/helpers-eval.spec.ts
Labels: p: 1-normal, c: test, c: infra

#2908 fix(locale): remove Pizza from Greek words
  src/locales/el/commerce/product_name.ts
Labels: c: bug, p: 1-normal, c: locale, m: commerce

#2914 docs: delete CHANGELOG_old.md
  .prettierignore
  CHANGELOG.md
  CHANGELOG_old.md
Labels: c: docs, p: 1-normal

#2910 refactor(locale)!: use snake case for all locale data
  .eslintrc.cjs
  docs/guide/upgrading.md
  src/definitions/science.ts
  src/definitions/system.ts
  src/locales/base/system/directory_paths.ts
  src/locales/base/system/index.ts
  src/locales/base/system/mime_types.ts
  src/locales/en/science/chemical_element.ts
  src/locales/en/science/index.ts
  src/locales/eo/science/chemical_element.ts
  src/locales/eo/science/index.ts
  src/locales/nb_NO/science/chemical_element.ts
  src/locales/nb_NO/science/index.ts
  src/locales/pl/science/chemical_element.ts
  src/locales/pl/science/index.ts
  src/locales/zh_CN/science/chemical_element.ts
  src/locales/zh_CN/science/index.ts
  src/modules/science/index.ts
  src/modules/system/index.ts
  test/modules/science.spec.ts
Labels: p: 1-normal, c: refactor, c: locale, breaking change

#2909 infra(typescript-eslint): no-confusing-void-expression
  .eslintrc.cjs
  test/modules/helpers.spec.ts
Labels: p: 1-normal, c: infra

#2915 refactor(locale): normalize finance data
  scripts/generate-locales.ts
  src/locales/el/finance/account_type.ts
  src/locales/el/finance/credit_card/discover.ts
  src/locales/el/finance/credit_card/mastercard.ts
  src/locales/el/finance/transaction_type.ts
  src/locales/en/finance/account_type.ts
  src/locales/en/finance/credit_card/discover.ts
  src/locales/en/finance/credit_card/mastercard.ts
  src/locales/en/finance/transaction_type.ts
  src/locales/fa/finance/account_type.ts
  src/locales/fa/finance/credit_card/mastercard.ts
  src/locales/fa/finance/transaction_type.ts
  src/locales/fr/finance/account_type.ts
  src/locales/fr/finance/transaction_type.ts
  src/locales/hu/finance/account_type.ts
  src/locales/hu/finance/transaction_type.ts
  src/locales/ur/finance/account_type.ts
  src/locales/ur/finance/transaction_type.ts
  src/locales/zh_CN/finance/account_type.ts
  src/locales/zh_CN/finance/credit_card/mastercard.ts
  src/locales/zh_CN/finance/credit_card/unionpay.ts
  src/locales/zh_CN/finance/transaction_type.ts
  test/modules/__snapshots__/finance.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: finance

#2918 infra(ci): enable node 22
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: p: 1-normal, c: infra

#2921 feat(locale): extend Hebrew (he) for company
  src/locales/he/company/adjective.ts
  src/locales/he/company/buzz_adjective.ts
  src/locales/he/company/buzz_noun.ts
  src/locales/he/company/buzz_verb.ts
  src/locales/he/company/descriptor.ts
  src/locales/he/company/index.ts
  src/locales/he/company/name_pattern.ts
  src/locales/he/company/noun.ts
  src/locales/he/company/suffix.ts
  src/locales/he/index.ts
Labels: p: 1-normal, c: locale, m: company

#2919 docs: browser console usage guide
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#2901 infra(unicorn): import-style
  .eslintrc.cjs
Labels: p: 1-normal, c: infra
