Repository faker-js/faker, pull requests merged in 2024-12, with the labels that each got.

#3272 infra(unicorn): prefer-export-from
  eslint.config.ts
  scripts/generate-locales.ts
  src/locale/index.ts
  src/locales/base/location/time_zone.ts
  src/locales/hr/location/county.ts
  src/locales/index.ts
  test/scripts/apidocs/method.example.ts
Labels: p: 1-normal, c: infra

#3306 refactor(locale): update Polish city name
  src/locales/pl/location/city_name.ts
Labels: p: 1-normal, c: locale, m: location

#3288 refactor: replace MersenneTwister implementation with a pure-rand based one
  src/internal/mersenne.ts
  src/utils/mersenne.ts
  test/utils/mersenne.spec.ts
Labels: p: 1-normal, c: refactor

#3315 chore: improve variable naming of system module
  src/modules/system/index.ts
  test/modules/system.spec.ts
Labels: c: chore, p: 1-normal, m: system

#3326 refactor(locale): re-moo-ved some incorrect `cow` data
  src/locales/en/animal/cow.ts
  test/modules/__snapshots__/animal.spec.ts.snap
Labels: p: 1-normal, c: locale, m: animal

#3327 refactor(locale): fix truncated song names with commas
  src/locales/en/music/song_name.ts
Labels: p: 1-normal, c: locale, m: music

#3328 refactor(locale): fix bad uz street_name_part data
  src/locales/uz_UZ_latin/location/street_name_part.ts
Labels: p: 1-normal, c: locale, m: location

#3321 docs(helpers): add missing example results to uniqueArray
  src/modules/helpers/index.ts
Labels: c: docs, p: 1-normal, m: helpers

#3312 chore: align coding style of deprecated.ts
  src/internal/deprecated.ts
Labels: c: chore, p: 1-normal

#3329 refactor(locale): fix various locale data with trailing spaces
  src/locales/ar/location/state.ts
  src/locales/en/animal/horse.ts
  src/locales/en/book/title.ts
  src/locales/en_IN/location/city_name.ts
  src/locales/fa/lorem/word.ts
  src/locales/fr/animal/horse.ts
  src/locales/fr/word/preposition.ts
  src/locales/hr/location/country.ts
  src/locales/hr/location/street_name.ts
  src/locales/nl/location/city_prefix.ts
  src/locales/pt_BR/color/human.ts
  src/locales/sr_RS_latin/location/country.ts
  src/locales/tr/location/street_name.ts
  src/locales/tr/person/last_name.ts
Labels: p: 1-normal, c: locale

#3319 chore: align coding style of word module
  src/modules/word/index.ts
Labels: c: chore, p: 1-normal, m: word

#3313 chore: align coding style of lorem module
  src/modules/lorem/index.ts
Labels: c: chore, p: 1-normal, m: lorem

#3317 chore: improve parameter naming of internet module
  src/modules/internet/index.ts
Labels: c: chore, p: 1-normal, m: internet

#3202 feat(finance): use fake patterns for transactionDescription
  src/definitions/finance.ts
  src/locales/en/finance/index.ts
  src/locales/en/finance/transaction_description_pattern.ts
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
Labels: c: feature, p: 1-normal, m: finance

#3334 feat(locale): add german animal types
  src/locales/de/animal/index.ts
  src/locales/de/animal/type.ts
  src/locales/de/index.ts
Labels: p: 1-normal, c: locale, m: animal

#3324 feat(internet): update to simplified modern user-agent list
  src/definitions/internet.ts
  src/locales/base/internet/index.ts
  src/locales/base/internet/user_agent_pattern.ts
  src/modules/internet/index.ts
  src/modules/internet/user-agent.ts
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/internet.spec.ts
Labels: c: feature, p: 1-normal, m: internet

#3333 feat(location): add list of spoken languages
  src/definitions/location.ts
  src/locales/en/location/index.ts
  src/locales/en/location/language.ts
  src/locales/ur/location/index.ts
  src/locales/ur/location/language.ts
  src/modules/location/index.ts
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/location.spec.ts
  test/scripts/apidocs/__snapshots__/verify-jsdoc-tags.spec.ts.snap
Labels: c: feature, p: 1-normal, m: location

#3316 chore: improve variable naming of helpers module
  src/modules/helpers/index.ts
Labels: c: chore, p: 1-normal, m: helpers

#3332 docs: fix link to randomizer guide
  src/randomizer.ts
Labels: c: docs, p: 1-normal

#3336 fix(finance): correct Discover card number format
  src/locales/el/finance/credit_card/discover.ts
  src/locales/en/finance/credit_card/discover.ts
  test/modules/__snapshots__/finance.spec.ts.snap
Labels: c: bug, p: 1-normal, m: finance

#3339 docs: improve examples for objectKey,objectValue,objectEntry
  src/modules/helpers/index.ts
Labels: c: docs, p: 1-normal, m: helpers

#3320 infra(unicorn): prevent-abbreviations
  eslint.config.ts
Labels: p: 1-normal, c: infra

#3322 fix: basic wildcard range handling + add more tests
  src/modules/helpers/index.ts
  test/modules/__snapshots__/helpers.spec.ts.snap
  test/modules/helpers.spec.ts
Labels: c: bug, p: 1-normal, m: helpers

#3301 docs(api): add refresh button to examples
  .gitignore
  cypress/e2e/example-refresh.cy.ts
  docs/.vitepress/components/api-docs/format.ts
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  docs/.vitepress/components/api-docs/refresh-button.vue
  docs/.vitepress/components/api-docs/refresh.svg
  docs/.vitepress/config.ts
  docs/api/.gitignore
  eslint.config.ts
  scripts/apidocs/output/page.ts
  test/docs/__snapshots__/format.spec.ts.snap
  test/docs/format.spec.ts
  test/scripts/apidocs/__snapshots__/page.spec.ts.snap
  test/scripts/apidocs/page.spec.ts
  tsconfig.json
Labels: c: docs, p: 1-normal, s: accepted

#3347 fix(image): dataUri should return random type
  src/modules/image/index.ts
  test/modules/__snapshots__/image.spec.ts.snap
Labels: c: bug, p: 1-normal, m: image

#3341 refactor(image): deprecate urlPlaceholder
  src/modules/image/index.ts
  test/integration/modules/image.spec.ts
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/image.spec.ts
Labels: p: 1-normal, c: refactor, m: image, deprecation

#3348 docs: fix examples which return string/number
  src/modules/color/index.ts
  src/modules/commerce/index.ts
  src/modules/date/index.ts
  src/modules/finance/index.ts
  src/modules/internet/index.ts
Labels: c: docs, p: 1-normal

#3351 docs(image): improve urlPlaceholder alternatives
  src/modules/image/index.ts
Labels: c: docs, p: 1-normal, m: image
