Repository faker-js/faker, pull requests merged in 2024-03, with the labels that each got.

#2699 refactor(internet)!: remove v8 deprecated internet methods
  docs/guide/upgrading_v9/2699.md
  src/modules/internet/index.ts
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/internet.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: internet

#2698 infra: use only maintainers
  .github/CODEOWNERS
Labels: p: 1-normal, c: infra

#2701 docs: update min version in guide to Node 18
  docs/guide/index.md
Labels: c: docs, p: 1-normal

#2458 fix(commerce): return fractional prices
  docs/guide/upgrading_v9/2458.md
  src/modules/commerce/index.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
  test/modules/commerce.spec.ts
Labels: c: bug, p: 1-normal, s: accepted, m: commerce

#2563 feat(helpers)!: stricter checking for function signature passed to `multiple`
  docs/guide/upgrading_v9/2563.md
  src/modules/helpers/index.ts
  test/modules/__snapshots__/helpers.spec.ts.snap
  test/modules/helpers.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, breaking change, m: helpers

#2703 refactor(color): use signature level defaults
  src/modules/color/index.ts
Labels: c: docs, p: 1-normal, c: refactor, m: color

#2686 feat(locale): add uzbek locale (uz_UZ_latin)
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/uz_UZ_latin.ts
  src/locales/index.ts
  src/locales/uz_UZ_latin/index.ts
  src/locales/uz_UZ_latin/metadata.ts
  src/locales/uz_UZ_latin/person/bio_parts.ts
  src/locales/uz_UZ_latin/person/female_first_name.ts
  src/locales/uz_UZ_latin/person/female_last_name.ts
  src/locales/uz_UZ_latin/person/female_last_name_pattern.ts
  src/locales/uz_UZ_latin/person/index.ts
  src/locales/uz_UZ_latin/person/job_title.ts
  src/locales/uz_UZ_latin/person/male_first_name.ts
  src/locales/uz_UZ_latin/person/male_last_name.ts
  src/locales/uz_UZ_latin/person/male_last_name_pattern.ts
  src/locales/uz_UZ_latin/person/sex.ts
Labels: p: 1-normal, c: locale, m: person

#2714 infra(typescript-eslint): consistent-type-exports
  .eslintrc.cjs
  test/scripts/apidoc/signature.example.ts
Labels: p: 1-normal, c: infra

#2704 refactor(date)!: remove v8 deprecated date methods
  docs/guide/upgrading_v9/2704.md
  src/modules/date/index.ts
  test/all-functional.spec.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/date.spec.ts
Labels: p: 1-normal, c: refactor, breaking change

#2712 refactor(phone)!: remove v8 deprecated phone format
  docs/guide/upgrading_v9/2712.md
  src/modules/phone/index.ts
  test/modules/__snapshots__/phone.spec.ts.snap
  test/modules/phone.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: phone

#2713 test: verify locale code is format in metadata
  test/locale-imports.spec.ts
Labels: p: 1-normal, c: test

#2717 docs: improve jsdocs default texts
  src/modules/git/index.ts
  src/modules/image/index.ts
  src/modules/word/filter-word-list-by-length.ts
Labels: c: docs, p: 1-normal

#2716 refactor(git)!: remove v8 deprecated git method
  docs/guide/upgrading_v9/2716.md
  src/modules/git/index.ts
  test/modules/git.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: git

#2723 test: remove node v14 case
  test/internal/bind-this-to-member-functions.spec.ts
Labels: p: 1-normal, c: test

#2702 test(finance): fix tests for amount
  test/modules/finance.spec.ts
Labels: c: bug, p: 1-normal, c: test, m: finance

#2727 refactor(finance)!: remove v8 deprecated finance methods
  docs/guide/upgrading_v9/2727.md
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance-iban.spec.ts
  test/modules/finance.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: finance

#2722 infra(unicorn): no-array-callback-reference
  .eslintrc.cjs
Labels: p: 1-normal, c: infra

#2726 refactor(company)!: remove v8 deprecated company methods
  docs/guide/upgrading_v9/2726.md
  src/definitions/company.ts
  src/modules/company/index.ts
  test/all-functional.spec.ts
  test/modules/__snapshots__/company.spec.ts.snap
  test/modules/company.spec.ts
Labels: p: 1-normal, c: refactor, m: company

#2738 refactor(number)!: remove v8 deprecated number parameter
  docs/guide/upgrading_v9/2738.md
  src/modules/number/index.ts
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/number.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: number

#2729 refactor(helpers)!: remove v8 deprecated helpers methods
  docs/guide/upgrading_v9/2729.md
  src/modules/helpers/index.ts
  test/modules/__snapshots__/helpers.spec.ts.snap
  test/modules/helpers.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: helpers

#2586 feat(number): add multipleOf to faker.number.int
  src/modules/number/index.ts
  test/modules/number.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: number

#2724 feat(locale): extend Uzbek locale for date and color
  src/locales/uz_UZ_latin/color/human.ts
  src/locales/uz_UZ_latin/color/index.ts
  src/locales/uz_UZ_latin/date/index.ts
  src/locales/uz_UZ_latin/date/month.ts
  src/locales/uz_UZ_latin/date/weekday.ts
  src/locales/uz_UZ_latin/index.ts
Labels: p: 1-normal, c: locale, m: location, m: color

#2752 refactor(commerce)!: remove v8 deprecated commerce method
  docs/guide/upgrading_v9/2752.md
  src/modules/commerce/index.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
  test/modules/commerce.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: commerce

#2715 infra(netlify): enable deploy previews
  netlify.toml
Labels: c: docs, p: 1-normal, c: infra

#2749 fix: restore support for moduleResolution Node*
  package.json
Labels: c: bug, p: 1-normal

#2747 docs: improve contributing guide
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#2754 refactor!: remove v8 deprecated type aliases
  docs/guide/upgrading_v9/2754.md
  src/index.ts
  src/locales/base/system/mimeTypes.ts
Labels: p: 1-normal, c: refactor, breaking change

#2750 feat(locale): extend Uzbek locale for commerce
  src/locales/uz_UZ_latin/commerce/department.ts
  src/locales/uz_UZ_latin/commerce/index.ts
  src/locales/uz_UZ_latin/commerce/product_description.ts
  src/locales/uz_UZ_latin/commerce/product_name.ts
  src/locales/uz_UZ_latin/index.ts
Labels: p: 1-normal, c: locale, m: commerce

#2751 refactor(word): reduce definitions to 1000 in all locales
  src/locales/de/word/adjective.ts
  src/locales/de/word/adverb.ts
  src/locales/de/word/verb.ts
  src/locales/en/word/adjective.ts
  src/locales/en/word/noun.ts
  src/locales/en/word/verb.ts
  src/locales/fr/word/verb.ts
  src/locales/hu/word/adjective.ts
  src/locales/hu/word/adverb.ts
  src/locales/hu/word/noun.ts
  src/locales/hu/word/verb.ts
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/__snapshots__/person.spec.ts.snap
  test/modules/__snapshots__/system.spec.ts.snap
  test/modules/__snapshots__/word.spec.ts.snap
Labels: p: 1-normal, c: locale, m: word

#2753 refactor(location)!: remove v8 deprecated location methods
  docs/guide/upgrading_v9/2753.md
  src/modules/location/index.ts
  test/all-functional.spec.ts
  test/modules/__snapshots__/helpers.spec.ts.snap
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/helpers.spec.ts
  test/modules/location.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: location

#2755 infra(netlify): diff to next
  netlify.toml
Labels: p: 1-normal, c: infra

#2764 fix(person): delete set of invalid names in en_NG
  src/locales/en_GH/person/male_first_name.ts
Labels: p: 1-normal, c: locale, m: person

#2656 infra(eslint): logical-assignment-operators
  .eslintrc.cjs
  test/modules/finance.spec.ts
Labels: p: 1-normal, c: infra

#2767 infra(netlify): fix ignore command
  netlify.toml
Labels: c: docs, p: 1-normal, c: infra

#2766 test(finance): improve readability
  test/modules/finance.spec.ts
Labels: p: 1-normal, c: test, m: finance

#2757 refactor(date)!: fail on invalid dates
  docs/guide/upgrading_v9/2757.md
  src/modules/date/index.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/__snapshots__/git.spec.ts.snap
  test/modules/date.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: date

#2773 fix(person): add dedicated first names in ko locale
  src/locales/ko/person/female_first_name.ts
  src/locales/ko/person/first_name.ts
  src/locales/ko/person/index.ts
  src/locales/ko/person/male_first_name.ts
  src/locales/ko/person/name.ts
Labels: p: 1-normal, c: locale, m: person

#2719 refactor(date)!: stricter error handling of between
  docs/guide/upgrading_v9/2711.md
  src/modules/date/index.ts
  test/modules/date.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: date

#2621 feat(music): add additional genres
  src/locales/en/music/genre.ts
  test/modules/__snapshots__/music.spec.ts.snap
Labels: p: 1-normal, s: accepted, c: locale, m: music
