Repository faker-js/faker, pull requests merged in 2024-04, with the labels that each got.

#2628 docs: rewrite api-docs generation using ts-morph
  .github/renovate.json5
  .prettierignore
  docs/.vitepress/components/api-docs/method-parameters.vue
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  package.json
  pnpm-lock.yaml
  scripts/apidoc.ts
  scripts/apidoc/faker-class.ts
  scripts/apidoc/faker-utilities.ts
  scripts/apidoc/generate.ts
  scripts/apidoc/module-methods.ts
  scripts/apidoc/parameter-defaults.ts
  scripts/apidoc/signature.ts
  scripts/apidoc/typedoc.ts
  scripts/apidoc/utils.ts
  scripts/apidoc/writer.ts
  scripts/apidocs.ts
  scripts/apidocs/diff.ts
  scripts/apidocs/generate.ts
  scripts/apidocs/output/constants.ts
  scripts/apidocs/output/diff-index.ts
  scripts/apidocs/output/page-index.ts
  scripts/apidocs/output/page.ts
  scripts/apidocs/output/search-index.ts
  scripts/apidocs/output/source-base-url.ts
  scripts/apidocs/processing/class.ts
  scripts/apidocs/processing/error.ts
  scripts/apidocs/processing/jsdocs.ts
  scripts/apidocs/processing/method.ts
  scripts/apidocs/processing/parameter.ts
  scripts/apidocs/processing/signature.ts
  scripts/apidocs/processing/source.ts
  scripts/apidocs/processing/type.ts
  scripts/apidocs/project.ts
  scripts/apidocs/utils/format.ts
  scripts/apidocs/utils/markdown.ts
  scripts/apidocs/utils/paths.ts
  scripts/apidocs/utils/value-checks.ts
  scripts/diff.ts
  scripts/generate-locales.ts
  test/scripts/apidoc/__snapshots__/module.spec.ts.snap
  test/scripts/apidoc/__snapshots__/signature.spec.ts.snap
  test/scripts/apidoc/module.spec.ts
  test/scripts/apidoc/signature.debug.ts
  test/scripts/apidoc/signature.spec.ts
  test/scripts/apidoc/utils.ts
  test/scripts/apidoc/verify-jsdoc-tags.spec.ts
  test/scripts/apidocs/.gitignore
  test/scripts/apidocs/__snapshots__/class.spec.ts.snap
  test/scripts/apidocs/__snapshots__/method.spec.ts.snap
  test/scripts/apidocs/class.example.ts
  test/scripts/apidocs/class.spec.ts
  test/scripts/apidocs/method.example.ts
  test/scripts/apidocs/method.spec.ts
  test/scripts/apidocs/utils.ts
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
  tsconfig.json
Labels: c: docs, p: 1-normal

#2756 refactor(date)!: birthdate improvements
  docs/guide/upgrading_v9/2756.md
  src/modules/date/index.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/date.spec.ts
Labels: p: 1-normal, c: refactor, breaking change, m: date

#2775 feat(locale): add location for uz_UZ_latin
  src/locales/uz_UZ_latin/index.ts
  src/locales/uz_UZ_latin/location/building_number.ts
  src/locales/uz_UZ_latin/location/city_name.ts
  src/locales/uz_UZ_latin/location/city_pattern.ts
  src/locales/uz_UZ_latin/location/country.ts
  src/locales/uz_UZ_latin/location/direction.ts
  src/locales/uz_UZ_latin/location/index.ts
  src/locales/uz_UZ_latin/location/postcode.ts
  src/locales/uz_UZ_latin/location/secondary_address.ts
  src/locales/uz_UZ_latin/location/state.ts
  src/locales/uz_UZ_latin/location/street_address.ts
  src/locales/uz_UZ_latin/location/street_name_part.ts
  src/locales/uz_UZ_latin/location/street_pattern.ts
  src/locales/uz_UZ_latin/location/street_suffix.ts
Labels: p: 1-normal, c: locale, m: location

#2781 fix(internet): add Hebrew username charMapping
  src/modules/internet/char-mappings.ts
Labels: c: bug, p: 1-normal, s: accepted, m: internet

#2786 feat(animal): add more simple animals to animal.type()
  src/locales/en/animal/type.ts
  src/modules/animal/index.ts
  test/modules/__snapshots__/animal.spec.ts.snap
Labels: p: 1-normal, c: locale, m: animal

#2193 feat(locale): support street and street address for ja
  src/locales/ja/location/index.ts
  src/locales/ja/location/secondary_address.ts
  src/locales/ja/location/street_address.ts
  src/locales/ja/location/street_pattern.ts
  src/modules/location/index.ts
Labels: c: feature, needs rebase, p: 1-normal, m: location

#2787 refactor(locale)!: remove deprecated locale aliases
  docs/guide/upgrading_v9/2787.md
  src/locale/cz.ts
  src/locale/en_IND.ts
  src/locale/ge.ts
Labels: p: 1-normal, c: refactor, breaking change

#2800 chore(deps): remove dependency @types/markdown-it
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies

#2801 chore(deps): update dependency eslint-plugin-unicorn to v52
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies

#2789 refactor(locale)!: remove unused global locale faker instance
  docs/guide/upgrading_v9/2789.md
  src/locale/global.ts
Labels: p: 1-normal, c: refactor, breaking change

#2790 fix: tree-shaking
  docs/guide/localization.md
  docs/guide/upgrading_v9/2790.md
  package.json
  scripts/generate-locales.ts
  src/index.ts
  src/locales/index.ts
Labels: c: bug, p: 2-high, breaking change, c: infra

#2791 refactor(locale): normalize animal data
  scripts/generate-locales.ts
  src/locales/en/animal/bear.ts
  src/locales/en/animal/bird.ts
  src/locales/en/animal/cat.ts
  src/locales/en/animal/cetacean.ts
  src/locales/en/animal/cow.ts
  src/locales/en/animal/crocodilia.ts
  src/locales/en/animal/dog.ts
  src/locales/en/animal/fish.ts
  src/locales/en/animal/horse.ts
  src/locales/en/animal/insect.ts
  src/locales/en/animal/lion.ts
  src/locales/en/animal/snake.ts
  src/locales/eo/animal/crocodilia.ts
  src/locales/eo/animal/type.ts
  src/locales/fr/animal/bear.ts
  src/locales/fr/animal/bird.ts
  src/locales/fr/animal/cat.ts
  src/locales/fr/animal/cetacean.ts
  src/locales/fr/animal/cow.ts
  src/locales/fr/animal/crocodilia.ts
  src/locales/fr/animal/dog.ts
  src/locales/fr/animal/fish.ts
  src/locales/fr/animal/horse.ts
  src/locales/fr/animal/insect.ts
  src/locales/fr/animal/lion.ts
  src/locales/fr/animal/rabbit.ts
  src/locales/fr/animal/snake.ts
  src/locales/fr/animal/type.ts
  src/locales/hu/animal/cat.ts
  src/locales/hu/animal/dog.ts
  src/locales/hu/animal/horse.ts
  src/locales/pl/animal/horse.ts
  src/locales/th/animal/cat.ts
  src/locales/th/animal/dog.ts
  src/locales/ur/animal/bear.ts
  src/locales/ur/animal/cow.ts
  src/locales/ur/animal/crocodilia.ts
  src/locales/ur/animal/lion.ts
  src/locales/ur/animal/type.ts
  src/locales/zh_CN/animal/bear.ts
  src/locales/zh_CN/animal/cat.ts
  src/locales/zh_CN/animal/dog.ts
  src/locales/zh_CN/animal/fish.ts
  src/locales/zh_CN/animal/horse.ts
  src/locales/zh_CN/animal/type.ts
  test/modules/__snapshots__/animal.spec.ts.snap
  test/modules/__snapshots__/food.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: animal

#2808 chore(gender): fixed gender typos
  src/locales/en/person/gender.ts
Labels: p: 1-normal, c: locale, m: person

#2805 docs: prepare v9 migration guide
  docs/guide/upgrading.md
  docs/guide/upgrading_v9/1953.md
  docs/guide/upgrading_v9/2121.md
  docs/guide/upgrading_v9/2357.md
  docs/guide/upgrading_v9/2391.md
  docs/guide/upgrading_v9/2458.md
  docs/guide/upgrading_v9/2472.md
  docs/guide/upgrading_v9/2505.md
  docs/guide/upgrading_v9/2508.md
  docs/guide/upgrading_v9/2563.md
  docs/guide/upgrading_v9/2578.md
  docs/guide/upgrading_v9/2634.md
  docs/guide/upgrading_v9/2653.md
  docs/guide/upgrading_v9/2654.md
  docs/guide/upgrading_v9/2661.md
  docs/guide/upgrading_v9/2678.md
  docs/guide/upgrading_v9/2682.md
  docs/guide/upgrading_v9/2685.md
  docs/guide/upgrading_v9/2694.md
  docs/guide/upgrading_v9/2697.md
  docs/guide/upgrading_v9/2699.md
  docs/guide/upgrading_v9/2704.md
  docs/guide/upgrading_v9/2711.md
  docs/guide/upgrading_v9/2712.md
  docs/guide/upgrading_v9/2716.md
  docs/guide/upgrading_v9/2726.md
  docs/guide/upgrading_v9/2727.md
  docs/guide/upgrading_v9/2729.md
  docs/guide/upgrading_v9/2738.md
  docs/guide/upgrading_v9/2740.md
  docs/guide/upgrading_v9/2752.md
  docs/guide/upgrading_v9/2753.md
  docs/guide/upgrading_v9/2754.md
  docs/guide/upgrading_v9/2756.md
  docs/guide/upgrading_v9/2757.md
  docs/guide/upgrading_v9/2787.md
  docs/guide/upgrading_v9/2789.md
  docs/guide/upgrading_v9/2790.md
Labels: c: docs, p: 1-normal, s: accepted

#2810 chore(release): 9.0.0-alpha.0
  CHANGELOG.md
  package.json
Labels: p: 1-normal, c: release

#2813 infra(unicorn): require-array-join-separator
  .eslintrc.cjs
Labels: p: 1-normal, c: infra

#2809 fix(locale): misc spelling errors in commerce & food
  src/locales/en/commerce/department.ts
  src/locales/en/food/fruit.ts
  src/locales/en/food/ingredient.ts
  test/modules/__snapshots__/food.spec.ts.snap
Labels: p: 1-normal, c: locale, m: commerce, m: food

#2476 refactor(locale)!: remove location data index-value-binding
  docs/guide/upgrading_v9/2476.md
  src/definitions/location.ts
  src/locales/da/location/direction.ts
  src/locales/da/location/direction_abbr.ts
  src/locales/da/location/index.ts
  src/locales/en/location/direction.ts
  src/locales/en/location/direction_abbr.ts
  src/locales/en/location/index.ts
  src/locales/eo/location/direction.ts
  src/locales/eo/location/direction_abbr.ts
  src/locales/eo/location/index.ts
  src/locales/fa/location/direction.ts
  src/locales/fr/location/direction.ts
  src/locales/fr_CH/location/direction.ts
  src/locales/he/location/direction.ts
  src/locales/he/location/direction_abbr.ts
  src/locales/he/location/index.ts
  src/locales/hy/location/direction.ts
  src/locales/ja/location/direction.ts
  src/locales/pl/location/direction.ts
  src/locales/pl/location/direction_abbr.ts
  src/locales/pl/location/index.ts
  src/locales/pt_PT/location/direction.ts
  src/locales/ur/location/direction.ts
  src/locales/uz_UZ_latin/location/direction.ts
  src/modules/location/index.ts
Labels: p: 1-normal, c: refactor, c: locale, breaking change, m: location

#2825 docs: use new X icon instead of twitter icon in social links
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal

#2803 refactor(locale): remove discontinued credit card issuer "maestro"
  src/locales/el/finance/credit_card/index.ts
  src/locales/el/finance/credit_card/maestro.ts
  src/locales/en/finance/credit_card/index.ts
  src/locales/en/finance/credit_card/maestro.ts
Labels: p: 1-normal, c: locale, m: finance

#2828 refactor(locale): activate data normalization for airline
  scripts/generate-locales.ts
  src/locales/zh_CN/airline/airport.ts
Labels: p: 1-normal, c: refactor, c: locale, m: airline

#2829 fix(date): fix birthdate
  src/modules/date/index.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/date.spec.ts
Labels: c: bug, p: 1-normal, c: test, m: date

#2826 infra(locales): use mostly async io for generate-locales
  scripts/generate-locales.ts
Labels: p: 1-normal, c: locale, c: infra

#2806 docs: add donate links
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.css
  docs/index.md
Labels: c: docs, p: 1-normal

#2835 infra: suppress pnpm error
  .npmrc
Labels: p: 1-normal, c: infra

#2834 fix(person): workaround for inherited first- and lastNames
  src/locales/az/person/index.ts
  src/locales/az/person/last_name.ts
  src/locales/id_ID/person/index.ts
  src/locales/id_ID/person/last_name.ts
  src/locales/lv/person/index.ts
  src/locales/lv/person/last_name.ts
  src/locales/ru/person/index.ts
  src/locales/ru/person/last_name.ts
  src/locales/sk/person/index.ts
  src/locales/sk/person/last_name.ts
  src/locales/th/person/first_name.ts
  src/locales/th/person/index.ts
  src/locales/uk/person/index.ts
  src/locales/uk/person/last_name.ts
  src/locales/uz_UZ_latin/person/first_name.ts
  src/locales/uz_UZ_latin/person/index.ts
  src/locales/uz_UZ_latin/person/last_name.ts
Labels: p: 1-normal, c: locale, m: person

#2782 test(docs): fix test timeout
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: test

#2812 infra(unicorn): no-await-expression-member
  .eslintrc.cjs
  scripts/generate-locales.ts
  test/faker.spec.ts
Labels: p: 1-normal, c: infra

#2837 refactor(locale): activate data normalization for color
  scripts/generate-locales.ts
  src/locales/ar/color/human.ts
  src/locales/az/color/human.ts
  src/locales/base/color/space.ts
  src/locales/dv/color/human.ts
  src/locales/el/color/human.ts
  src/locales/en/color/human.ts
  src/locales/es/color/human.ts
  src/locales/es_MX/color/human.ts
  src/locales/fa/color/human.ts
  src/locales/fr/color/human.ts
  src/locales/he/color/human.ts
  src/locales/hu/color/human.ts
  src/locales/hy/color/human.ts
  src/locales/lv/color/human.ts
  src/locales/nb_NO/color/human.ts
  src/locales/nl/color/human.ts
  src/locales/pt_BR/color/human.ts
  src/locales/pt_PT/color/human.ts
  src/locales/ru/color/human.ts
  src/locales/sv/color/human.ts
  src/locales/th/color/human.ts
  src/locales/tr/color/human.ts
  src/locales/ur/color/human.ts
  src/locales/uz_UZ_latin/color/human.ts
  src/locales/zh_CN/color/human.ts
  src/locales/zh_TW/color/human.ts
  test/modules/__snapshots__/color.spec.ts.snap
  test/modules/__snapshots__/vehicle.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: color

#2840 docs(usage): type definitions aren't strictly necessary
  README.md
Labels: c: docs, p: 1-normal

#2848 docs: update team list
  docs/about/team/members.json
Labels: c: docs, p: 1-normal

#2765 fix(vehicle): Make VIN number generation more accurate
  src/modules/vehicle/index.ts
  test/modules/__snapshots__/vehicle.spec.ts.snap
Labels: c: bug, p: 1-normal, m: vehicle

#2857 refactor(locale): normalize music data
  scripts/generate-locales.ts
  src/locales/en/music/genre.ts
  src/locales/en/music/song_name.ts
  src/locales/fa/music/genre.ts
  src/locales/fr/music/genre.ts
  src/locales/he/music/genre.ts
  src/locales/ur/music/genre.ts
  src/locales/zh_CN/music/genre.ts
  src/locales/zh_CN/music/song_name.ts
  test/modules/__snapshots__/music.spec.ts.snap
Labels: p: 1-normal, c: refactor, c: locale, m: music

#2855 docs(website): show same sidebar on all pages
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal

#2854 infra(netlify): disable v9.fakerjs.dev redirect
  netlify.toml
Labels: c: docs, p: 1-normal, c: infra

#2620 feat(music): add album and artist methods
  src/definitions/music.ts
  src/locales/en/music/album.ts
  src/locales/en/music/artist.ts
  src/locales/en/music/index.ts
  src/modules/music/index.ts
  test/modules/__snapshots__/music.spec.ts.snap
  test/modules/music.spec.ts
Labels: c: feature, p: 1-normal, m: music

#2865 docs(website): show sidebar on "API Reference" page
  docs/api/index.md
Labels: c: docs, p: 1-normal

#2856 docs: link to the latest release of the current version
  docs/.vitepress/config.ts
  docs/.vitepress/versions.ts
  test/docs/versions.spec.ts
Labels: c: docs, p: 1-normal

#2864 infra: enable verbatimModuleSyntax
  tsconfig.json
Labels: p: 1-normal, c: infra
