Repository faker-js/faker, pull requests merged in 2024-10, with the labels that each got.

#3156 chore(deps): remove eslint-define-config
  package.json
  pnpm-lock.yaml
Labels: c: chore, p: 1-normal, c: dependencies

#3157 chore(deps): remove @algolia/client-search
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
Labels: c: chore, p: 1-normal, c: dependencies

#3163 docs(guide): remove v9 not yet released notice
  docs/guide/upgrading.md
Labels: c: docs, p: 1-normal

#2949 feat: add book module
  docs/.vitepress/api-pages.ts
  scripts/generate-locales.ts
  src/definitions/book.ts
  src/definitions/definitions.ts
  src/definitions/index.ts
  src/faker.ts
  src/index.ts
  src/locales/en/book/author.ts
  src/locales/en/book/format.ts
  src/locales/en/book/genre.ts
  src/locales/en/book/index.ts
  src/locales/en/book/publisher.ts
  src/locales/en/book/series.ts
  src/locales/en/book/title.ts
  src/locales/en/index.ts
  src/locales/pl/book/author.ts
  src/locales/pl/book/format.ts
  src/locales/pl/book/genre.ts
  src/locales/pl/book/index.ts
  src/locales/pl/book/publisher.ts
  src/locales/pl/book/series.ts
  src/locales/pl/book/title.ts
  src/locales/pl/index.ts
  src/modules/book/index.ts
  test/modules/__snapshots__/book.spec.ts.snap
  test/modules/book.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: book

#2524 feat(string): adds support for generating ULID
  src/internal/base32.ts
  src/internal/date.ts
  src/modules/date/index.ts
  src/modules/string/index.ts
  test/internal/__snapshots__/base32.spec.ts.snap
  test/internal/base32.spec.ts
  test/internal/date.spec.ts
  test/modules/__snapshots__/string.spec.ts.snap
  test/modules/string.spec.ts
Labels: c: feature, has workaround, p: 1-normal, s: accepted, m: string

#3154 feat(locale): add Swedish(sv) counties
  src/locales/sv/location/county.ts
  src/locales/sv/location/index.ts
Labels: p: 1-normal, c: locale, m: location

#3166 docs: update unique values guide with new library
  docs/guide/unique.md
Labels: c: docs, p: 1-normal

#3162 feat(location): add `continent` method
  src/definitions/location.ts
  src/locales/en/location/continent.ts
  src/locales/en/location/index.ts
  src/modules/location/index.ts
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/location.spec.ts
Labels: c: feature, p: 1-normal, m: location

#3167 fix(location): update valid ZIP ranges for FL and VA
  src/locales/en_US/location/postcode_by_state.ts
Labels: c: bug, p: 1-normal, m: location

#3130 refactor(internet): rename userName method to username
  README.md
  docs/api/ApiIndex.vue
  docs/guide/frameworks.md
  src/modules/git/index.ts
  src/modules/internet/index.ts
  test/modules/__snapshots__/internet.spec.ts.snap
  test/modules/internet.spec.ts
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: refactor, m: internet, deprecation

#3177 docs(image): update overview for image module
  src/modules/image/index.ts
Labels: c: docs, p: 1-normal, m: image

#3178 fix(food): use arrayElement instead of fake for adjective
  src/modules/food/index.ts
Labels: c: bug, p: 1-normal, m: food

#3170 refactor(location): allow postcode_by_state to take an array of patterns
  src/definitions/location.ts
Labels: p: 1-normal, c: refactor, c: locale, m: location

#3180 fix(location): fix US ZIP code anomalies for zipCode({state})
  src/locales/en_US/location/postcode_by_state.ts
Labels: c: bug, p: 1-normal, c: locale, m: location

#3175 docs: iban might be invalid due to country specific rules
  src/modules/finance/index.ts
Labels: c: docs, p: 1-normal, m: finance

#3174 feat(commerce): more varied product descriptions
  src/locales/en/commerce/product_description.ts
  src/modules/commerce/index.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
  test/modules/commerce.spec.ts
Labels: c: feature, p: 1-normal, m: commerce

#3161 chore(deps): move @stylistic/eslint-plugin to eslint renovate group
  .github/renovate.json5
Labels: c: chore, p: 1-normal, c: dependencies

#3187 refactor(locale): enhance en vehicle manufacturers
  src/locales/en/vehicle/manufacturer.ts
  test/modules/__snapshots__/vehicle.spec.ts.snap
Labels: p: 1-normal, c: locale, m: vehicle

#2930 refactor(locale): modernise buzz- and catch-phrases
  src/locales/en/company/adjective.ts
  src/locales/en/company/buzz_adjective.ts
  src/locales/en/company/buzz_noun.ts
  src/locales/en/company/buzz_verb.ts
  src/locales/en/company/descriptor.ts
  src/locales/en/company/noun.ts
  test/modules/__snapshots__/company.spec.ts.snap
Labels: p: 1-normal, c: locale, m: company

#3191 infra(eslint): limit usage of globals in src
  eslint.config.ts
  src/internal/base64.ts
  src/internal/deprecated.ts
  src/modules/helpers/eval.ts
Labels: p: 1-normal, c: infra

#3171 docs: mention strict typescript usage
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#3128 docs(date): add hints how to generate date ranges
  src/modules/date/index.ts
Labels: c: docs, p: 1-normal, m: date

#3206 test(system): remove obsolete SK common file name test
  test/modules/system.spec.ts
Labels: p: 1-normal, c: test

#3204 refactor(locale): trim excessive Croatian last names
  src/locales/hr/person/last_name.ts
Labels: p: 1-normal, c: locale, m: person

#3207 docs(guide): add complex overwrites example
  docs/guide/usage.md
Labels: c: docs, p: 1-normal

#3205 refactor(locale): remove inaccessible files
  src/locales/en_AU_ocker/location/index.ts
  src/locales/en_AU_ocker/location/region.ts
  src/locales/en_AU_ocker/person/index.ts
  src/locales/en_AU_ocker/person/ocker_first_name.ts
Labels: p: 1-normal, c: locale, m: location, m: person

#3214 docs: align featured modules on website and README
  README.md
  docs/index.md
Labels: c: docs, p: 1-normal

#3190 docs: optimize line breaks in default objects
  scripts/apidocs/processing/jsdocs.ts
Labels: c: docs, p: 1-normal

#3199 infra: ignore vitest temp config
  .gitignore
Labels: p: 1-normal, c: test, c: infra

#3195 docs(guide): introduce module usage
  docs/guide/index.md
Labels: c: docs, p: 1-normal

#3218 feat(locale): add books on pt_br
  src/locales/pt_BR/book/author.ts
  src/locales/pt_BR/book/format.ts
  src/locales/pt_BR/book/genre.ts
  src/locales/pt_BR/book/index.ts
  src/locales/pt_BR/book/publisher.ts
  src/locales/pt_BR/book/series.ts
  src/locales/pt_BR/book/title.ts
  src/locales/pt_BR/index.ts
Labels: p: 1-normal, c: locale, m: book

#3056 docs: blog post v9.0
  docs/.vitepress/config.ts
  docs/about/announcements/2024-10-26.md
  docs/guide/upgrading.md
Labels: c: docs, p: 1-normal

#3217 infra(renovate): reduce update frequency to monthly
  .github/renovate.json5
Labels: p: 1-normal, c: dependencies, s: accepted, c: infra

#3198 test(animal): unroll animal test loop
  test/modules/animal.spec.ts
Labels: p: 1-normal, c: test, s: accepted, m: animal

#3227 infra: remove unused dependencies
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: dependencies, c: infra

#3196 feat(animal): add petName method
  src/definitions/animal.ts
  src/locales/en/animal/index.ts
  src/locales/en/animal/pet_name.ts
  src/modules/animal/index.ts
  test/modules/__snapshots__/animal.spec.ts.snap
  test/modules/animal.spec.ts
Labels: c: feature, p: 1-normal, m: animal

#3070 feat(number): add romanNumeral method
  src/modules/number/index.ts
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/number.spec.ts
Labels: c: feature, p: 1-normal, m: number

#3226 infra(renovate): cleanup config
  .github/renovate.json5
Labels: p: 1-normal, c: infra

#3228 infra(renovate): disable rimraf update for now
  .github/renovate.json5
Labels: p: 1-normal, c: infra
