Repository faker-js/faker, pull requests merged in 2024-06, with the labels that each got.

#2928 refactor(locale): unfreeze arrays
  scripts/generate-locales.ts
  src/locales/en/science/chemical_element.ts
  src/locales/en/science/unit.ts
  src/locales/eo/science/chemical_element.ts
  src/locales/eo/science/unit.ts
  src/locales/nb_NO/science/chemical_element.ts
  src/locales/nb_NO/science/unit.ts
  src/locales/pl/science/chemical_element.ts
  src/locales/pl/science/unit.ts
  src/locales/zh_CN/science/chemical_element.ts
  src/locales/zh_CN/science/unit.ts
Labels: p: 1-normal, c: refactor, c: locale, m: science

#2922 feat(bitcoinAddress): Multiple bitcoin address types and testnet
  src/index.ts
  src/modules/finance/bitcoin.ts
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, m: finance

#2815 infra(unicorn): numeric-separators-style
  .eslintrc.cjs
Labels: p: 1-normal, c: infra

#2945 infra: pnpm removed their strictness
  .npmrc
Labels: p: 1-normal, c: infra

#2946 chore: fix docs type import
  docs/api/ApiIndex.vue
Labels: c: docs, c: chore, p: 1-normal

#2935 docs: document breaking changes for #2476 into migration guide
  docs/guide/upgrading.md
  docs/guide/upgrading_v9/2476.md
Labels: c: docs, p: 1-normal

#2932 refactor(locale)!: use singular locale definition keys
  docs/guide/upgrading.md
  src/definitions/lorem.ts
  src/definitions/system.ts
  src/locales/ar/lorem/index.ts
  src/locales/ar/lorem/word.ts
  src/locales/base/system/directory_path.ts
  src/locales/base/system/index.ts
  src/locales/base/system/mime_type.ts
  src/locales/cs_CZ/lorem/index.ts
  src/locales/cs_CZ/lorem/word.ts
  src/locales/de/lorem/index.ts
  src/locales/de/lorem/word.ts
  src/locales/dv/lorem/index.ts
  src/locales/dv/lorem/word.ts
  src/locales/el/lorem/index.ts
  src/locales/el/lorem/word.ts
  src/locales/en/lorem/index.ts
  src/locales/en/lorem/word.ts
  src/locales/en_BORK/lorem/index.ts
  src/locales/en_BORK/lorem/word.ts
  src/locales/es_MX/lorem/index.ts
  src/locales/es_MX/lorem/word.ts
  src/locales/fa/lorem/index.ts
  src/locales/fa/lorem/word.ts
  src/locales/fr/lorem/index.ts
  src/locales/fr/lorem/word.ts
  src/locales/fr_CH/lorem/index.ts
  src/locales/fr_CH/lorem/word.ts
  src/locales/he/lorem/index.ts
  src/locales/he/lorem/word.ts
  src/locales/hy/lorem/index.ts
  src/locales/hy/lorem/word.ts
  src/locales/ja/lorem/index.ts
  src/locales/ja/lorem/word.ts
  src/locales/ko/lorem/index.ts
  src/locales/ko/lorem/word.ts
  src/locales/lv/lorem/index.ts
  src/locales/lv/lorem/word.ts
  src/locales/nl/lorem/index.ts
  src/locales/nl/lorem/word.ts
  src/locales/pl/lorem/index.ts
  src/locales/pl/lorem/word.ts
  src/locales/pt_BR/lorem/index.ts
  src/locales/pt_BR/lorem/word.ts
  src/locales/ru/lorem/index.ts
  src/locales/ru/lorem/word.ts
  src/locales/sk/lorem/index.ts
  src/locales/sk/lorem/word.ts
  src/locales/tr/lorem/index.ts
  src/locales/tr/lorem/word.ts
  src/locales/ur/lorem/index.ts
  src/locales/ur/lorem/word.ts
  src/locales/uz_UZ_latin/lorem/index.ts
  src/locales/uz_UZ_latin/lorem/word.ts
  src/locales/vi/lorem/index.ts
  src/locales/vi/lorem/word.ts
  src/modules/lorem/index.ts
  src/modules/system/index.ts
  test/modules/lorem.spec.ts
Labels: p: 1-normal, c: refactor, c: locale, breaking change, m: lorem, m: system

#2913 chore(helpers): deprecate invocations on non-functions for fakeEval
  src/modules/helpers/eval.ts
  test/modules/helpers-eval.spec.ts
Labels: p: 1-normal, c: refactor, m: helpers, deprecation

#2948 docs: document unstable icu sort order
  scripts/generate-locales.ts
Labels: c: docs, p: 1-normal, c: locale, c: infra

#2957 chore: replace obsolete mentions of typedoc
  .gitignore
  scripts/apidocs/utils/format.ts
  tsconfig.json
Labels: c: chore, p: 1-normal

#2956 docs: format signature with prettier
  scripts/apidocs/output/page.ts
Labels: c: docs, p: 1-normal

#2955 docs: fix whitespace in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: c: docs, p: 1-normal

#2962 docs: separate signature and examples
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  scripts/apidocs/output/page.ts
Labels: c: docs, p: 1-normal

#2947 feat(date)!: separate timeZone method
  docs/guide/upgrading.md
  src/definitions/date.ts
  src/definitions/location.ts
  src/locales/base/date/index.ts
  src/locales/base/date/time_zone.ts
  src/locales/base/index.ts
  src/locales/base/location/time_zone.ts
  src/modules/date/index.ts
  src/modules/location/index.ts
  test/modules/__snapshots__/date.spec.ts.snap
  test/modules/__snapshots__/location.spec.ts.snap
  test/modules/date.spec.ts
  test/modules/location.spec.ts
Labels: c: feature, p: 1-normal, s: accepted, breaking change, m: location, m: date

#2958 chore: remove arrayElement(s) js only error
  docs/guide/upgrading.md
  src/modules/helpers/index.ts
  test/modules/helpers.spec.ts
Labels: c: chore, p: 1-normal, m: helpers

#2963 docs: simplify word description sentences
  src/modules/word/index.ts
Labels: c: docs, p: 1-normal, m: word

#2973 docs: fix version number in README
  README.md
Labels: c: docs, p: 1-normal

#2972 chore(release): 9.0.0-alpha.1
  CHANGELOG.md
  package.json
Labels: p: 1-normal, c: release

#2960 test: remove usage of vitest.todo
  test/modules/helpers.spec.ts
  test/support/seeded-runs.ts
Labels: p: 1-normal, c: test

#2971 docs: add npm to social links
  docs/.vitepress/config.ts
Labels: c: docs, p: 1-normal

#2977 chore: sort dependencies
  package.json
Labels: c: chore, p: 1-normal

#2979 infra: cleanup clean command
  package.json
Labels: p: 1-normal, c: infra
