Repository faker-js/faker, pull requests merged in 2024-08, with the labels that each got.

#3039 infra: improve CI preflight warning message
  .github/workflows/commentCodeGeneration.ts
Labels: p: 1-normal, c: infra

#3051 infra: update renovate's eslint group
  .github/renovate.json5
Labels: p: 1-normal, c: infra

#3055 docs(guide): add locale error handling sections
  docs/guide/localization.md
Labels: c: docs, p: 1-normal

#3038 infra: fix preflight comment for external contributors
  .github/workflows/commentCodeGeneration.ts
  .github/workflows/pr.yml
  .github/workflows/preflight-comment.yml
Labels: p: 1-normal, c: infra

#3054 feat(locale): implement state info on sk locale
  src/locales/sk/location/state.ts
  test/all-functional.spec.ts
Labels: p: 1-normal, c: locale, m: location

#3021 feat(locale): implement more colors to pt_PT locale
  src/locales/pt_PT/color/human.ts
Labels: p: 1-normal, c: locale, m: color

#3022 feat(locale): implement company info on pt_PT locale
  src/locales/pt_PT/company/index.ts
  src/locales/pt_PT/company/legal_entity_type.ts
  src/locales/pt_PT/company/name_pattern.ts
  src/locales/pt_PT/index.ts
Labels: p: 1-normal, c: locale, m: company

#3069 infra: switch to @stylistic/eslint-plugin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: p: 1-normal, c: infra
