Repository faker-js/faker, pull requests merged in 2025-06, with the labels that each got.

#3528 feat(location): simple coordinate methods
  src/index.ts
  src/modules/location/index.ts
  src/simple-faker.ts
  test/modules/location.spec.ts
Labels: c: feature, p: 1-normal, m: location

#3529 chore(deps): switch to prettier-plugin-pkg
  .prettierrc.js
  package.json
  pnpm-lock.yaml
Labels: c: dependencies

#3452 docs: add remarks about external sources
  CONTRIBUTING.md
  docs/.vitepress/components/api-docs/method.ts
  docs/.vitepress/components/api-docs/method.vue
  eslint.config.ts
  scripts/apidocs/output/page.ts
  scripts/apidocs/processing/jsdocs.ts
  scripts/apidocs/processing/signature.ts
  src/modules/image/index.ts
  test/scripts/apidocs/__snapshots__/method.spec.ts.snap
  test/scripts/apidocs/method.example.ts
  test/scripts/apidocs/page.spec.ts
Labels: c: docs, p: 1-normal

#3541 infra: utilize git clean
  .github/renovate.json5
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: c: infra

#2869 docs(web): add contributing pages
  CONTRIBUTING.md
  docs/.vitepress/config.ts
  docs/about/contributing.md
  docs/contributing/code-of-conduct.md
  docs/contributing/propose-a-feature.md
  docs/contributing/report-bugs.md
  docs/contributing/set-up-a-development-environment.md
  docs/contributing/submit-a-pull-request.md
Labels: c: docs, p: 1-normal

#3531 feat(locale): add word data to pt_br and pt_pt locales
  src/locales/pt_BR/index.ts
  src/locales/pt_BR/word/adjective.ts
  src/locales/pt_BR/word/index.ts
  src/locales/pt_BR/word/noun.ts
  src/locales/pt_BR/word/verb.ts
  src/locales/pt_PT/index.ts
  src/locales/pt_PT/word/adjective.ts
  src/locales/pt_PT/word/index.ts
  src/locales/pt_PT/word/noun.ts
  src/locales/pt_PT/word/verb.ts
Labels: c: feature, p: 1-normal, c: locale, m: word
