Repository faker-js/faker, pull requests merged in 2025-01, with the labels that each got.

#3343 docs: use embedded build for preview examples
  .gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/versions.ts
  package.json
Labels: c: docs, p: 1-normal

#3371 refactor(locales): fix chemical element names in zh_CN
  src/locales/zh_CN/science/chemical_element.ts
Labels: p: 1-normal, c: locale, m: science

#3372 refactor(locale): improve product_name data in en and tr
  src/locales/en/commerce/product_name.ts
  src/locales/tr/commerce/product_name.ts
  test/modules/__snapshots__/commerce.spec.ts.snap
Labels: p: 1-normal, c: locale, m: commerce

#3378 docs: faker.seed examples are not consistent after refresh
  src/simple-faker.ts
Labels: c: docs, p: 1-normal
