Repository faker-js/faker, pull requests merged in 2025-05, with the labels that each got.

#3495 feat(locale): add Japanese sex definitions for person locale
  src/locales/ja/person/index.ts
  src/locales/ja/person/sex.ts
Labels: p: 1-normal, c: locale, m: person

#3493 refactor(locale): rename pt-BR streetSuffix to streetPrefix
  src/locales/pt_BR/location/index.ts
  src/locales/pt_BR/location/street_pattern.ts
  src/locales/pt_BR/location/street_prefix.ts
Labels: p: 1-normal, c: locale, m: location

#3478 feat(locale): update zh_CN word
  src/locales/zh_CN/word/conjunction.ts
  src/locales/zh_CN/word/index.ts
  src/locales/zh_CN/word/interjection.ts
  src/locales/zh_CN/word/noun.ts
  src/locales/zh_CN/word/preposition.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: word

#3484 feat(locale): Add additional Japanese last names to the locale data
  src/locales/ja/person/last_name.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: person

#3485 fix(locale): ko modified street_name to street_name_part
  src/locales/ko/location/index.ts
  src/locales/ko/location/street_name.ts
  src/locales/ko/location/street_name_part.ts
  src/locales/ko/location/street_pattern.ts
  src/locales/ko/location/street_suffix.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: location

#3510 fix(locale): correct Japanese country names
  src/locales/ja/location/country.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: location
