Repository faker-js/faker, pull requests merged in 2025-02, with the labels that each got.

#3126 feat(image): add AI-generated avatars
  src/modules/image/index.ts
  test/integration/modules/image.spec.ts
  test/modules/__snapshots__/image.spec.ts.snap
  test/modules/image.spec.ts
  test/scripts/apidocs/__snapshots__/verify-jsdoc-tags.spec.ts.snap
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: c: feature, p: 1-normal, m: image

#3393 test: enable test to generate Number.MAX_SAFE_INTEGER
  test/modules/number.spec.ts
  test/utils/mersenne-test-utils.ts
Labels: p: 1-normal, c: test, m: number

#3392 test: remove obsolete image.urlPlaceholder integration test
  test/integration/modules/image.spec.ts
Labels: p: 1-normal, c: test, m: image

#3395 test: retry verify tag 3 times
  test/scripts/apidocs/verify-jsdoc-tags.spec.ts
Labels: p: 1-normal, c: test

#3394 test: disable summary for local
  vitest.config.ts
Labels: p: 1-normal, c: test

#3374 chore: add usage trend
  README.md
Labels: c: docs, p: 1-normal

#3400 fix: test before using Buffers
  src/internal/base64.ts
Labels: c: bug, c: docs, p: 1-normal

#3408 docs: change ejcheng
  docs/about/team/members.json
Labels: c: docs, p: 1-normal

#3406 docs: improve missing data error
  docs/guide/localization.md
  src/faker.ts
  src/internal/locale-proxy.ts
  test/internal/locale-proxy.spec.ts
  test/modules/location.spec.ts
Labels: c: docs, p: 1-normal
