Repository faker-js/faker, pull requests merged in 2025-09, with the labels that each got.

#3609 docs: add note about Jest incompatibility to UPGRADING
  docs/guide/upgrading.md
Labels: c: docs

#3610 refactor(image): mark loremflickr as deprecated, use only picsum photos in url()
  src/modules/image/index.ts
  test/modules/__snapshots__/image.spec.ts.snap
Labels: p: 1-normal, m: image, deprecation

#3612 fix(locale): fix the Spring Airlines IATA Code
  src/locales/en/airline/airline.ts
  src/locales/zh_CN/airline/airline.ts
Labels: c: bug, p: 1-normal, s: accepted, c: locale, m: airline
