Repository faker-js/faker, pull requests merged in 2025-04, with the labels that each got.

#3450 feat(locale): add localize sex support for zh_CN & zh_TW
  src/locales/zh_CN/person/index.ts
  src/locales/zh_CN/person/sex.ts
  src/locales/zh_TW/person/index.ts
  src/locales/zh_TW/person/sex.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: c: feature, p: 1-normal, c: locale, m: person

#3464 fix(iban): more strict pattern for IE and PS
  src/modules/finance/iban.ts
Labels: c: bug, p: 1-normal, m: finance

#3468 feat(locale): add Tamil language support
  docs/guide/localization.md
  src/locale/index.ts
  src/locale/ta_IN.ts
  src/locales/index.ts
  src/locales/ta_IN/date/index.ts
  src/locales/ta_IN/date/month.ts
  src/locales/ta_IN/date/weekday.ts
  src/locales/ta_IN/index.ts
  src/locales/ta_IN/metadata.ts
  test/__snapshots__/locale-data.spec.ts.snap
  test/locale-imports.spec.ts
Labels: c: feature, p: 1-normal, c: locale, m: date

#3448 fix(locale): rename ja and zh_CN company affix files
  src/locales/ja/company/index.ts
  src/locales/ja/company/legal_entity_type.ts
  src/locales/ja/company/name_pattern.ts
  src/locales/zh_CN/company/index.ts
  src/locales/zh_CN/company/legal_entity_type.ts
  src/locales/zh_CN/company/name_pattern.ts
Labels: p: 1-normal, c: locale, m: company

#3449 feat(locale): add finance support for ja locale
  src/locales/ja/finance/account_type.ts
  src/locales/ja/finance/currency.ts
  src/locales/ja/finance/index.ts
  src/locales/ja/finance/transaction_description_pattern.ts
  src/locales/ja/finance/transaction_type.ts
  src/locales/ja/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: finance

#3462 feat(locale): add cy locale, start with date
  docs/guide/localization.md
  src/locale/cy.ts
  src/locale/index.ts
  src/locales/cy/date/index.ts
  src/locales/cy/date/month.ts
  src/locales/cy/date/weekday.ts
  src/locales/cy/index.ts
  src/locales/cy/metadata.ts
  src/locales/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: c: feature, p: 1-normal, c: locale, m: date

#3417 fix(number): don't ignore multipleOf in float when min=max
  src/modules/number/index.ts
  test/modules/number.spec.ts
Labels: c: bug, p: 1-normal, m: number

#3476 feat(locale): add country code for en_CA & fr_CA
  src/locales/en_CA/location/country_code.ts
  src/locales/en_CA/location/index.ts
  src/locales/fr_CA/location/country_code.ts
  src/locales/fr_CA/location/index.ts
Labels: c: locale, m: location

#3482 test: use validator@13.15.0 with isULID, isISO31661Numeric, isISO15924
  package.json
  pnpm-lock.yaml
  test/locale-imports.spec.ts
  test/modules/location.spec.ts
  test/modules/string.spec.ts
Labels: p: 1-normal, c: test

#3479 feat(locale): add zh_CN food
  src/locales/zh_CN/food/adjective.ts
  src/locales/zh_CN/food/description_pattern.ts
  src/locales/zh_CN/food/dish.ts
  src/locales/zh_CN/food/dish_pattern.ts
  src/locales/zh_CN/food/ethnic_category.ts
  src/locales/zh_CN/food/fruit.ts
  src/locales/zh_CN/food/index.ts
  src/locales/zh_CN/food/ingredient.ts
  src/locales/zh_CN/food/meat.ts
  src/locales/zh_CN/food/spice.ts
  src/locales/zh_CN/food/vegetable.ts
  src/locales/zh_CN/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: food

#3483 docs: more than 70 locales
  README.md
  docs/guide/localization.md
  docs/index.md
Labels: c: docs

#3481 feat(locale): update zh_CN location
  src/locales/zh_CN/location/city_name.ts
  src/locales/zh_CN/location/continent.ts
  src/locales/zh_CN/location/country.ts
  src/locales/zh_CN/location/direction.ts
  src/locales/zh_CN/location/index.ts
  src/locales/zh_CN/location/language.ts
  src/locales/zh_CN/location/secondary_address.ts
  src/locales/zh_CN/location/street_name.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: c: locale, m: location

#3480 feat(locale): update zh_CN animal
  src/locales/zh_CN/animal/bear.ts
  src/locales/zh_CN/animal/bird.ts
  src/locales/zh_CN/animal/cat.ts
  src/locales/zh_CN/animal/dog.ts
  src/locales/zh_CN/animal/index.ts
  src/locales/zh_CN/animal/insect.ts
  src/locales/zh_CN/animal/pet_name.ts
  src/locales/zh_CN/animal/type.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: c: locale, m: animal

#3487 refactor(locale): ko state data update
  src/locales/ko/location/state.ts
Labels: p: 1-normal, c: refactor, c: locale, m: location

#3477 feat(locale): add zh_CN book
  src/locales/zh_CN/book/author.ts
  src/locales/zh_CN/book/format.ts
  src/locales/zh_CN/book/genre.ts
  src/locales/zh_CN/book/index.ts
  src/locales/zh_CN/book/publisher.ts
  src/locales/zh_CN/book/series.ts
  src/locales/zh_CN/book/title.ts
  src/locales/zh_CN/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: c: locale, m: book

#3492 feat(locale): add Japanese date and month definitions
  src/locales/ja/date/index.ts
  src/locales/ja/date/month.ts
  src/locales/ja/date/weekday.ts
  src/locales/ja/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: date

#3490 feat(locale): add vehicle locale data for Japanese
  src/locales/ja/index.ts
  src/locales/ja/vehicle/fuel.ts
  src/locales/ja/vehicle/index.ts
  src/locales/ja/vehicle/type.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: vehicle

#3489 feat(locale): update Japanese company categories
  src/locales/ja/company/category.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: company

#3491 feat(locale): add Japanese science locale data including elements and units
  src/locales/ja/index.ts
  src/locales/ja/science/chemical_element.ts
  src/locales/ja/science/index.ts
  src/locales/ja/science/unit.ts
  test/__snapshots__/locale-data.spec.ts.snap
Labels: p: 1-normal, c: locale, m: science
