Repository faker-js/faker, pull requests merged in 2025-03, with the labels that each got.

#3433 docs: revert npm download badge
  README.md
Labels: c: docs, p: 1-normal, c: security

#3404 feat(finance): add ISO 4217 numerical codes to Currency object
  src/definitions/finance.ts
  src/locales/el/finance/currency.ts
  src/locales/en/finance/currency.ts
  src/locales/fa/finance/currency.ts
  src/locales/fr/finance/currency.ts
  src/locales/zh_CN/finance/currency.ts
  src/modules/finance/index.ts
  test/modules/__snapshots__/finance.spec.ts.snap
  test/modules/finance.spec.ts
  test/scripts/apidocs/__snapshots__/verify-jsdoc-tags.spec.ts.snap
Labels: c: feature, p: 1-normal, m: finance

#3402 feat(number): bigint multipleOf
  src/modules/number/index.ts
  test/modules/__snapshots__/number.spec.ts.snap
  test/modules/number.spec.ts
Labels: c: feature, p: 1-normal, m: number

#3401 refactor(internet): deprecate color method for removal
  src/modules/internet/index.ts
  test/modules/internet.spec.ts
Labels: has workaround, p: 1-normal, c: refactor, m: internet, deprecation

#3276 test: add snapshot test for all locales' character sets
  test/__snapshots__/locale-data.spec.ts.snap
  test/locale-data.spec.ts
Labels: p: 1-normal, c: test

#3439 feat(locale): Add bn_BD locale
  docs/guide/localization.md
  src/locale/bn_BD.ts
  src/locale/index.ts
  src/locales/bn_BD/date/index.ts
  src/locales/bn_BD/date/month.ts
  src/locales/bn_BD/date/weekday.ts
  src/locales/bn_BD/index.ts
  src/locales/bn_BD/metadata.ts
  src/locales/index.ts
  test/__snapshots__/locale-data.spec.ts.snap
  test/locale-imports.spec.ts
Labels: c: feature, p: 1-normal, c: locale, m: date

#3440 fix(airline): Air France and KLM Royal Dutch Airlines
  src/locales/en/airline/airline.ts
  test/modules/__snapshots__/airline.spec.ts.snap
Labels: p: 1-normal, c: locale, m: airline

#3444 infra(comment-issue): fix display of thumbs up emoji
  .github/workflows/comment-issue.yml
Labels: p: 1-normal, c: infra
